Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

feat deps refactor the code
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
Due: mypy

Merge branch 'main' into QSCCD-1088.LL.text-via-twilio
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docs/apps/health_data.md
  mkdocs.yml
  opal/hospital_settings/admin.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/legacy/tests/test_models.py
  opal/patients/forms.py
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/tests/test_views.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, mypy

feat deps refactor the code
  opal/services/twilio.py
Due: mypy

feat deps add more assert
  opal/services/tests/test_twilio.py
Due: mypy

Merge branch 'main' into QSCCD-1088.LL.text-via-twilio
  opal/patients/conftest.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0020_update_manage_relationship_permission.py
  opal/patients/models.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/templates/sidebar.html
Due: check-form-novalidate, mypy

chore(deps): update dependency beautifulsoup4 to v4.12.2
  requirements/development.txt
Due: none

chore(deps): update dependency django to v4.1.8
  requirements/base.txt
Due: none

chore(deps): update dependency django-test-migrations to v1.3.0
  requirements/development.txt
Due: none

chore(deps): update dependency flake8-django to v1.2
  requirements/development.txt
Due: none

chore(deps): update pre-commit hook davidanson/markdownlint-cli2 to v0.7.1
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency django-stubs to v4
  requirements/development.txt
Due: none

chore(deps): update dependency djangorestframework-stubs to v3
  requirements/development.txt
Due: none

fix: improve list displays of model admins for caregivers app
  opal/caregivers/admin.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
Due: mypy

add question to search fields
  opal/caregivers/admin.py
Due: mypy

remove duplicate device_id
  opal/caregivers/admin.py
Due: mypy

add email verification admin
  opal/caregivers/admin.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
Due: mypy

fix: improve list displays of model admins for hospital-settings app
  opal/hospital_settings/admin.py
Due: mypy

fix: improve list displays of model admins for patients app
  opal/patients/admin.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

update translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

Merge remote-tracking branch 'origin/main' into improve-patients-admins
  .env.sample
  CHANGELOG.md
  opal/caregivers/api/serializers.py
  opal/caregivers/api/viewsets.py
  opal/core/api_urls.py
  opal/patients/conftest.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0020_update_manage_relationship_permission.py
  opal/patients/models.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_utils.py
  opal/patients/tests/test_views.py
  opal/patients/utils.py
  opal/patients/views.py
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
  opal/settings.py
  opal/templates/sidebar.html
  requirements/base.txt
  requirements/development.txt
  setup.cfg
Due: check-form-novalidate, mypy

fix: add one new permission to relationship model
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0020_update_manage_relationship_permission.py
  opal/patients/models.py
  opal/templates/sidebar.html
Due: check-form-novalidate, mypy

fix: add PermissionRquiredMixin to AccessRequestView and related test functions
  opal/patients/conftest.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

Merge branch 'main' into QSCCD-1087.SF.add-permission-to-relationship-model
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/legacy/tests/test_models.py
Due: mypy

chore: edit comments
  opal/caregivers/api/viewsets.py
Due: mypy

Merge remote-tracking branch 'origin/main' into QSCCD-734.SB.security-comments
  opal/patients/conftest.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0020_update_manage_relationship_permission.py
  opal/patients/models.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/templates/sidebar.html
Due: check-form-novalidate, mypy

Merge remote-tracking branch 'origin/main' into QSCCD-734.SB.security-comments
  .env.sample
  CHANGELOG.md
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
  opal/settings.py
  requirements/base.txt
  setup.cfg
Due: mypy

chore(deps): update dependency dj-rest-auth to v4
  requirements/base.txt
Due: none

chore(deps): update dependency twilio to v8.2.0
  requirements/base.txt
Due: none

fix deps fix the test functions
  opal/patients/filters.py
  opal/patients/tests/test_views.py
Due: mypy

fix deps remove testing code
  opal/patients/filters.py
Due: mypy

feat deps refactor the code
  opal/patients/filters.py
Due: mypy

feat deps add test function to confirm exclude duplicated patients from search results
  opal/patients/tests/test_views.py
Due: mypy

feat deps refactor the code
  opal/patients/tests/test_views.py
Due: mypy

feat deps refactor the test function
  opal/patients/tests/test_views.py
Due: mypy

Merge branch 'main' into QSCCD-1110.LL.fix-search-patient-queryset
  .gitlab-ci.yml
  docker-compose.yml
  locale/fr/LC_MESSAGES/django.po
  opal/core/forms/layouts.py
  opal/patients/filters.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tables.py
  opal/patients/tests/test_tables.py
  opal/static/css/buttons.css
  opal/static/css/styles.css
  requirements/base.txt
  requirements/development.txt
Due: mypy

chore(deps): update dependency django-cors-headers to v4
  requirements/base.txt
Due: none

chore(deps): update dependency django-formtools to v2.4.1
  requirements/base.txt
Due: none

fix: add missing French translation strings
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

fix: fix the translation strings following the code review
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

fix: adjust translation string English version in original files
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: mypy
