Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

revert change
  opal/patients/tests/test_utils.py
Due: mypy

fix: improve handling of self relationship during access request creation
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_utils.py
  opal/patients/views.py
Due: mypy

fix settings
  opal/settings.py
Due: mypy

chore(deps): update dependency django-extensions to v3.2.3
  requirements/base.txt
Due: none

add test
  opal/patients/models.py
  opal/patients/tests/test_forms.py
Due: mypy

fix i18n and exclude self
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

fix tests
  opal/patients/tests/test_forms.py
Due: mypy

add one more validation
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
Due: mypy

fix test data
  opal/databank/tests/test_models.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/legacy/factories.py
  opal/legacy/tests/test_commands.py
  opal/patients/factories.py
  opal/patients/tests/test_forms.py
Due: mypy

fix test data
  opal/users/factories.py
Due: mypy

fix User factory
  opal/users/factories.py
Due: mypy

refactor: improve CSS rules for more subtle UI
  opal/static/css/cards.css
  opal/static/css/forms.css
  opal/static/css/global.css
  opal/static/css/styles.css
  opal/templates/base.html
Due: check-form-novalidate

more
  opal/static/css/global.css
Due: none

improvements
  opal/core/forms/layouts.py
  opal/core/tests/test_form_layouts.py
  opal/patients/filters.py
  opal/static/css/buttons.css
Due: mypy

Merge remote-tracking branch 'origin/main' into ui-btn-primary
  opal/caregivers/admin.py
  opal/caregivers/api/serializers.py
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  opal/databank/tests/test_models.py
  opal/hospital_settings/api/viewsets.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/legacy/factories.py
  opal/legacy/tests/test_commands.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/factories.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/patients/views.py
  opal/settings.py
  opal/static/css/cards.css
  opal/static/css/forms.css
  opal/static/css/global.css
  opal/static/css/styles.css
  opal/templates/base.html
  opal/users/factories.py
  requirements/development.txt
  setup.cfg
Due: check-form-novalidate, mypy

WIP
  opal/core/utils.py
  opal/patients/forms.py
  opal/patients/templates/patients/access_request/confirmation_code.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

ci: add missing Twilio env variables
  .gitlab-ci.yml
Due: none

Merge remote-tracking branch 'origin/main' into access-request-ui-improvements
  Dockerfile
  opal/core/forms/layouts.py
  opal/core/tests/test_form_layouts.py
  opal/patients/filters.py
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/static/css/buttons.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/thirdparty/package.json
  opal/templates/base.html
Due: check-form-novalidate, mypy

fix po file
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix i18n
  opal/patients/views.py
Due: mypy

Merge remote-tracking branch 'origin/main' into remove-old-access-request
  locale/fr/LC_MESSAGES/django.po
  opal/patients/conftest.py
  opal/patients/constants.py
  opal/patients/filters.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/static/css/global.css
Due: check-form-novalidate, mypy

fix translation file
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: fix the query for unread_educationalmaterial_count
  opal/legacy/api/views/app_chart.py
  opal/legacy/models.py
Due: mypy

feat add related model factories
  opal/legacy/factories.py
Due: mypy

fix: remove old Opal registration menu item
  locale/fr/LC_MESSAGES/django.po
  opal/templates/sidebar.html
Due: check-form-novalidate

fix: fix data disappearing when error
  opal/patients/views.py
Due: mypy

fix: fix switching from self relationship to other relationships
  opal/patients/forms.py
Due: mypy

fix: fix and refactor
  opal/patients/views.py
Due: mypy

fix: include existing choice with available choice in type field
  opal/patients/forms.py
Due: mypy

fix it once again
  opal/core/forms/layouts.py
  opal/core/tests/test_form_layouts.py
  opal/patients/filters.py
Due: mypy

fix: fix breaking page when saving edit of self-relationship
  opal/patients/forms.py
Due: mypy

fix: remove file
  diagram.puml
Due: none

fix: fix failing test due to self-changes
  opal/patients/tests/test_views.py
Due: mypy

fix: fix readonly add validation to form in case readonly is bypassed
  opal/patients/forms.py
Due: mypy

fix: suppress enter-key submission
  opal/core/forms/layouts.py
  opal/patients/forms.py
Due: mypy

fix: update layout name
  opal/core/forms/layouts.py
Due: mypy

fix: update name of layout
  opal/patients/forms.py
Due: mypy
