Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix fix the translation and test function
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_apiviews.py
Due: mypy

fix remove useless files
  opal/templates/email/registered_confirmation.html
  opal/templates/email/registered_confirmation.txt
Due: check-form-novalidate

fix refactor the code
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_apiviews.py
Due: mypy

fix fix the translation
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

fix removed deleted file related code
  locale/fr/LC_MESSAGES/django.po
Due: none

fix remove useless code
  locale/fr/LC_MESSAGES/django.po
Due: none

Merge branch 'main' into QSCCD-1214.LL.email-for-registered
  Dockerfile
  locale/fr/LC_MESSAGES/django.po
  opal/core/forms/layouts.py
  opal/core/tests/test_form_layouts.py
  opal/patients/conftest.py
  opal/patients/constants.py
  opal/patients/factories.py
  opal/patients/filters.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/static/css/global.css
  opal/templates/sidebar.html
Due: check-form-novalidate, mypy

Refactor the code
  opal/caregivers/tests/test_apiviews.py
Due: mypy

fix refactor the annotation
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

move validator tests to separate test module
  opal/patients/tests/test_validators.py
  opal/patients/tests/test_views.py
Due: mypy

fix: add is_deceased tests
  opal/patients/tests/test_validators.py
Due: mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/patients/validators.py
Due: mypy

fix: failing tests due to pytest mark
  opal/patients/tests/test_validators.py
Due: mypy

chore(deps): update dependency django-modeltranslation to v0.18.10
  requirements/base.txt
Due: none

fix(data): fix filenames for test data
  opal/core/management/commands/insert_test_data.py
  opal/legacy/api/views/questionnaires_report.py
Due: mypy

refactor: improve SMTP settings and support custom EMAIL_BACKEND
  .env.sample
  opal/settings.py
Due: mypy

Merge remote-tracking branch 'origin/fix-smtp-settings' into fix-smtp-settings
  opal/core/management/commands/insert_test_data.py
  opal/legacy/api/views/questionnaires_report.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

fix: save username upon registration
  opal/caregivers/api/serializers.py
  opal/patients/utils.py
Due: mypy

fix: repair failing tests
  opal/patients/api/tests/test_api_views.py
Due: mypy

fix: repair failing tests
  opal/patients/tests/test_utils.py
Due: mypy

fix: apply CR suggestions
  opal/caregivers/api/serializers.py
  opal/patients/utils.py
Due: mypy

fix: remove choose from ramq choice field
  opal/patients/filters.py
Due: mypy

fix: remove extra file
  diagram.puml
Due: none

Merge branch 'main' of gitlab.com:opalmedapps/backend into manage-cargiver-fixes
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/thirdparty/package.json
  opal/static/thirdparty/unpoly/css/unpoly.min.css
  opal/static/thirdparty/unpoly/js/unpoly.min.js
  opal/templates/base.html
Due: check-form-novalidate

fix: make the new changes for managing caregiver update view
  opal/patients/forms.py
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

fix: update font size to be in sync with opal registration
  opal/patients/templates/patients/relationships/pending_relationship_list.html
Due: check-form-novalidate

fix: revert back to version of edit page
  opal/patients/filters.py
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

fix: update css file to make h4 consistent with legend
  opal/static/css/global.css
Due: none

fix: remove unncecessary initial feauture set in the definition of the field
  opal/patients/filters.py
Due: mypy

fix: css global for h4
  opal/static/css/global.css
Due: none

fix: remove expired from the set of possible statuses and fixed its unit test
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

add test for no patient being found
  opal/patients/tests/test_forms.py
Due: mypy

improve string and translation
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
Due: mypy

fix view kwargs
  opal/patients/views.py
Due: mypy

remove monas answers for testing legacy migration command
  opal/core/management/commands/insert_test_data.py
Due: mypy

fix test
  opal/core/tests/test_commands.py
Due: mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/core/management/commands/insert_test_data.py
Due: mypy

more tests
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

Merge remote-tracking branch 'origin/access-request-self-detection' into access-request-self-name
  .env.sample
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  opal/hospital_settings/api/viewsets.py
  opal/legacy/api/views/questionnaires_report.py
  opal/settings.py
  requirements/development.txt
  setup.cfg
Due: mypy
