Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

Revert "test"
  opal/health_data/tests/test_models.py
Due: mypy

chore(deps): update dependency pre-commit to v3
  requirements/development.txt
Due: none

chore(deps): update django-stubs to v1.13.2
  requirements/development.txt
Due: none

style: remove unnecessary type ignore
  opal/patients/tables.py
Due: mypy

temp: trigger violation
  opal/conftest.py
Due: mypy

fix: update translation strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: fix the issue following code review
  opal/patients/tests/test_views.py
Due: mypy

Merge branch 'main' into QSCCD-759.SF.qrcode-verify-whether-patient-deceased
  .gitlab-ci.yml
  docker-compose.yml
  opal/core/views.py
  opal/patients/admin.py
  opal/patients/views.py
  opal/services/hospital/hospital_communication.py
  requirements/development.txt
Due: mypy

feat: use mariadb LTS
  docker-compose.yml
Due: none

fix: update gitlab-ci
  .gitlab-ci.yml
Due: none

Merge branch 'main' into mariadb-version-change
  opal/core/views.py
  opal/patients/admin.py
  opal/patients/views.py
  opal/services/hospital/hospital_communication.py
  requirements/development.txt
Due: mypy

test: add tests
  opal/patients/tests/test_views.py
Due: mypy

refactor: move functionality to health data app
  opal/health_data/templates/health_data_display.html
  opal/health_data/tests/test_views.py
  opal/health_data/urls.py
  opal/health_data/views.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/urls.py
Due: check-form-novalidate, mypy

translations
  opal/health_data/locale/fr/LC_MESSAGES/django.po
Due: none

fix translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

chore(deps): update dependency openpyxl to v3.1.0
  requirements/base.txt
Due: none

fix: update unit tests
  opal/legacy/api/views/tests/test_orms_auth.py
Due: mypy

test: add unit tests
  opal/legacy/api/views/tests/test_orms_auth.py
Due: mypy

Merge branch 'main' into QSCCD-824.AG.login-endpoint-for-orms
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: none

fix: remove orms group from .env file
  .env.sample
  opal/settings.py
Due: mypy

feat: improve content of error message returned by OIE
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
Due: mypy

fix: fix the typo
  opal/patients/forms.py
Due: mypy

fix: use add_error back for non-field error following the code review
  opal/patients/forms.py
Due: mypy

Merge branch 'main' into QSCCD-856.SF.improve-handling-connection-errors-returned-by-OIE
  opal/conftest.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/health_data/api/__init__.py
  opal/health_data/api/serializers.py
  opal/health_data/api/views.py
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/health_data_display.html
  opal/health_data/tests/test_drf_views.py
  opal/health_data/tests/test_urls.py
  opal/health_data/tests/test_views.py
  opal/health_data/urls.py
  opal/health_data/views.py
  opal/urls.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, mypy

feat deps refactor the api daily_appointments
  opal/legacy/api/serializers.py
  opal/legacy/models.py
Due: mypy

feat deps add more fields for LegacyAppointment
  opal/legacy/api/serializers.py
  opal/legacy/models.py
Due: mypy

fix deps fix LegacyAppointmentFactory
  opal/legacy/factories.py
Due: mypy

fix deps fix the field value of LegacyAppointmentFactory
  opal/legacy/factories.py
Due: mypy

feat deps add api app/appointments and related test functions
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/factories.py
  opal/legacy/tests/test_models.py
Due: mypy

Merge branch 'main' into QSCCD-111.LL.appointment-api
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Dockerfile
  opal/conftest.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/health_data/api/__init__.py
  opal/health_data/api/serializers.py
  opal/health_data/api/views.py
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/health_data_display.html
  opal/health_data/tests/test_drf_views.py
  opal/health_data/tests/test_urls.py
  opal/health_data/tests/test_views.py
  opal/health_data/urls.py
  opal/health_data/views.py
  opal/legacy/api/views/orms_auth.py
  opal/legacy/api/views/tests/test_orms_auth.py
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_data.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  opal/settings.py
  opal/urls.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, mypy

fix deps fix flake8 errors
  opal/core/api_urls.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
Due: mypy

Merge branch 'main' into QSCCD-111.LL.appointment-api
  requirements/base.txt
Due: none

feat deps refactor the code
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
Due: mypy

Merge branch 'main' into QSCCD-111.LL.appointment-api
  .env.sample
  opal/health_data/tests/test_urls.py
  opal/health_data/tests/test_views.py
  opal/health_data/urls.py
  opal/health_data/views.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0017_add_patient_uuid.py
  opal/patients/models.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/settings.py
  renovate.json5
  requirements/development.txt
Due: mypy

fix deps fix flake8 errors
  opal/legacy/api/views/app_appointments.py
Due: mypy

Merge branch 'main' into QSCCD-111.LL.appointment-api
  .gitlab-ci.yml
  CHANGELOG.md
  docker-compose.yml
  opal/caregivers/factories.py
  opal/conftest.py
  opal/core/api_urls.py
  opal/core/drf_permissions.py
  opal/core/tests/test_api_urls.py
  opal/hospital_settings/factories.py
  opal/legacy/tests/test_commands.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/managers.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/views.py
  opal/services/hospital/tests/test_hospital_communication.py
  opal/services/hospital/tests/test_hospital_error.py
  opal/services/tests/test_reports.py
  opal/settings.py
  opal/static/js/query.js
  opal/urls.py
  opal/utils/tests/test_base64.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  setup.cfg
Due: mypy

chore(deps): update dependency qrcode to v7.4
  requirements/base.txt
Due: none

fix: modify the datetime type to Optional[datetime] if empty value
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_data.py
  opal/services/hospital/tests/test_hospital.py
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

