Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

fix: log incomplete responses from fed auth API
  opal/core/auth.py
  opal/core/tests/test_auth.py
Due: mypy

improve error messages
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
Due: mypy

fix test
  opal/patients/tests/test_forms.py
Due: mypy

fix test
  opal/core/tests/test_commands.py
Due: mypy

hmmm
  opal/patients/tests/test_forms.py
Due: mypy

fix: fix translations
  locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

feat improve the serializer
  opal/legacy/api/serializers.py
  opal/legacy/api/views/tests/test_app_chart.py
Due: mypy

fix fix related test function
  opal/legacy/tests/test_serializers.py
Due: mypy

fix fix test function
  opal/legacy/tests/test_serializers.py
Due: mypy

Merge commit '5bf04b4d3a223562c4a0e3f25771d810905e5847' into QSCCD-1215.LL.questionnaire-api-enhancement
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/api/serializers.py
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_apiviews.py
  opal/core/api_urls.py
  opal/core/drf_permissions.py
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_api_urls.py
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/models.py
  opal/legacy/tests/test_commands.py
  opal/patients/admin.py
  opal/patients/api/serializers.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/migrations/0023_patient_data_access.py
  opal/patients/models.py
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/patient_details.html
  opal/patients/templates/patients/relationships/view_relationship.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/utils.py
  opal/patients/views.py
  opal/questionnaires/queries.py
  opal/services/hospital/hospital_communication.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_communication.py
  opal/services/hospital/tests/test_hospital_validation.py
  opal/services/reports.py
  opal/templates/base.html
  opal/templates/sidebar.html
  setup.cfg
Due: check-form-novalidate, mypy

Merge branch 'main' into QSCCD-1215.LL.questionnaire-api-enhancement
  opal/legacy/api/views/app_chart.py
  opal/legacy/factories.py
  opal/legacy/models.py
Due: mypy

fix resolve the conflicts
  opal/legacy_questionnaires/managers.py
Due: mypy

fix fix test function
  opal/legacy/api/views/tests/test_app_chart.py
Due: mypy

feat deps refactor the api app/chart to fit the respondent checking for questionnaire list
  opal/legacy/api/views/app_chart.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy_questionnaires/managers.py
Due: mypy

fix refactor the code
  opal/legacy_questionnaires/managers.py
Due: mypy

fix fix the logic
  opal/legacy_questionnaires/managers.py
Due: mypy

feat deps add comments
  opal/legacy_questionnaires/managers.py
Due: mypy

fix fix annotation
  opal/legacy_questionnaires/managers.py
Due: mypy

fix fix flake8 error
  opal/legacy_questionnaires/managers.py
Due: mypy

Merge branch 'main' into QSCCD-1215.LL.questionnaire-api-enhancement
  .env.sample
  requirements/base.txt
  requirements/development.txt
Due: none

Merge branch 'main' into QSCCD-1215.LL.questionnaire-api-enhancement
  CHANGELOG.md
  opal/databank/management/__init__.py
  opal/databank/management/commands/__init__.py
  opal/databank/management/commands/send_databank_data.py
  opal/databank/migrations/0003_alter_databankconsent_last_synchronized.py
  opal/databank/models.py
  opal/databank/tests/test_commands.py
Due: mypy

chore(deps): update dependency django-easy-audit to v1.3.5
  requirements/base.txt
Due: none

enable propagate exceptions during debug
  opal/settings.py
Due: mypy

chore: update translation strings
  locale/fr/LC_MESSAGES/django.po
Due: none

fix: update the go back to OpalAdmin link text
  locale/fr/LC_MESSAGES/django.po
  opal/templates/sidebar_base.html
Due: check-form-novalidate

fix: remove the sidebar menus
  opal/templates/base.html
Due: check-form-novalidate

fix: keep the profile item in the sidebar
  opal/templates/sidebar_base.html
  opal/templates/sidebar_items.html
Due: check-form-novalidate

test: update unit tests
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/tests/test_views.py
  opal/patients/tests/test_views.py
  opal/questionnaires/tests/test_views.py
Due: mypy

fix: address MR comments
  locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/confirmation.html
  opal/patients/templates/patients/access_request/confirmation_code.html
  opal/patients/templates/patients/access_request/new_access_request.html
Due: check-form-novalidate

fix: address MR comments
  locale/fr/LC_MESSAGES/django.po
  opal/templates/sidebar_base.html
Due: check-form-novalidate

fix: address MR comments
  opal/templates/base.html
  opal/templates/sidebar.html
  opal/templates/sidebar_menu.html
Due: check-form-novalidate

chore: update translations
  locale/fr/LC_MESSAGES/django.po
Due: none

chore: add logging for the PDF generator
  opal/services/reports.py
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

