Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix more hidden mypy errors...
  opal/databank/management/commands/send_databank_data.py
  opal/databank/tests/test_commands.py
Due: mypy

clean up some comments and docstrings
  opal/databank/management/commands/send_databank_data.py
Due: mypy

more unit tests
  opal/databank/tests/test_commands.py
Due: mypy

fix tests
  opal/databank/tests/test_commands.py
Due: mypy

no untyped func mypy
  opal/databank/tests/test_commands.py
Due: mypy

more freaking tests I hate this coverage
  opal/databank/tests/test_commands.py
Due: mypy

isort
  opal/databank/tests/test_commands.py
Due: mypy

feat: create new endpoint to reactivate already existing users when recreated in opaladmin
  opal/users/api/viewsets.py
  opal/users/tests/test_drf_urls.py
  opal/users/tests/test_drf_viewsets.py
Due: mypy

i18n: fix translations
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

fix: translations
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

fix: mypy error
  opal/users/api/viewsets.py
Due: mypy

fix: update the pathology report layout based on the requirements
  opal/services/reports.py
  opal/services/tests/test_reports.py
Due: mypy

build(deps): update python docker tag to v3.11.7
  Dockerfile
Due: none

chore: update DRF to current master
  config/settings/base.py
  opal/caregivers/tests/test_api_views.py
  opal/databank/api/tests/test_api_views.py
  opal/patients/api/serializers.py
  opal/test_results/api/tests/test_api_views.py
  opal/users/tests/test_drf_viewsets.py
  requirements/base.txt
Due: mypy

Apply 1 suggestion(s) to 1 file(s)
  requirements/base.txt
Due: none

chore(deps): update dependency django-rest-framework to v0.4.0
  requirements/base.txt
Due: none

chore(deps): update dependency django-rest-framework to v2
  requirements/base.txt
Due: none

chore(deps): update dependency django-rest-framework to v3
  requirements/base.txt
Due: none

fix: make opal logo button link to legacy opal admin landing page
  opal/templates/sidebar.html
Due: check-form-novalidate

Merge branch 'main' into QSCCD-1827.SF.link-opal-logo-to-legacy-opal-admin-landing-page
  Dockerfile
  config/settings/base.py
  opal/caregivers/tests/test_api_views.py
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  opal/databank/api/tests/test_api_views.py
  opal/patients/api/serializers.py
  opal/test_results/api/tests/test_api_views.py
  opal/users/tests/test_drf_viewsets.py
  requirements/base.txt
  requirements/docs.txt
Due: mypy

fix: remove the unecessary test since opal logo also link back to legacy opal admin
  opal/core/tests/test_views.py
Due: mypy

Merge branch 'main' into QSCCD-1827.SF.link-opal-logo-to-legacy-opal-admin-landing-page
  opal/databank/management/commands/send_databank_data.py
  opal/databank/tests/test_commands.py
Due: mypy

remove noqas after simplifying parse function
  opal/databank/management/commands/send_databank_data.py
Due: mypy

write better description for request exception unit test
  opal/databank/tests/test_commands.py
Due: mypy

delete unnecessary variable
  opal/databank/management/commands/send_databank_data.py
Due: mypy

fix: adjust font size to make longer name fit the lines
  opal/services/reports.py
  opal/services/tests/test_reports.py
Due: mypy

fix: adjust test case length and change font size back
  opal/services/reports.py
  opal/services/tests/test_reports.py
Due: mypy

fix: fix the typo
  opal/services/reports.py
Due: mypy

fix fix and refactor the error message for search patient
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
Due: mypy

fix refactor the code
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

fix fix flake8
  opal/patients/forms.py
  setup.cfg
Due: mypy

fix fix the error message
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: mypy

fix fix test function
  opal/patients/tests/test_forms.py
Due: mypy

fix fix the test coverage and refactor the test functions
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
Due: mypy

fix refactor the code
  opal/patients/forms.py
  setup.cfg
Due: mypy

fix refactor the error messages
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital_validation.py
Due: mypy

Merge branch 'main' into QSCCD-1806.LL.fix-find-patients-errors
  opal/core/tests/test_views.py
  opal/templates/sidebar.html
Due: check-form-novalidate, mypy

fix the bug
  opal/patients/utils.py
  opal/services/hospital/hospital_validation.py
Due: mypy
