Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

rename sites
  opal/core/management/commands/insert_test_data.py
Due: mypy

feat: add relationship_type field to CaregiverPatientSerializer and CaregiverRelationshipSerializer
  opal/patients/api/serializers.py
Due: mypy

feat: make changes to unit tests according to feature
  opal/patients/api/tests/test_api_views.py
Due: mypy

fix: reduce email verification code timeout to 10 minutes
  opal/caregivers/constants.py
Due: mypy

add to template
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_api_views.py
  opal/templates/email/verification_code.html
  opal/templates/email/verification_code.txt
Due: check-form-novalidate, mypy

i18n
  locale/fr/LC_MESSAGES/django.po
  opal/templates/email/verification_code.txt
Due: none

remove unrelated change
  opal/caregivers/api/views.py
Due: mypy

chore(deps): update dependency flake8-pytest-style to v2
  requirements/development.txt
Due: none

fix violations
  opal/conftest.py
  opal/hospital_settings/conftest.py
  opal/legacy/conftest.py
  opal/patients/conftest.py
  opal/users/conftest.py
Due: mypy

fix violations
  opal/core/tests/test_auth.py
  opal/core/tests/test_context_processors.py
  opal/core/tests/test_urls.py
  opal/patients/tests/test_validators.py
Due: mypy

test: change hardcoded age to be relative to today's date
  opal/legacy/tests/test_utils.py
Due: mypy

fix(data): add acronym to site names in test data
  opal/core/management/commands/insert_test_data.py
Due: mypy

Apply 4 suggestion(s) to 1 file(s)
  opal/core/management/commands/insert_test_data.py
Due: mypy

chore(deps): update dependency pandas to v2.2.2
  requirements/base.txt
Due: none

chore: improve env sample to prefer localhost over IP
  .env.sample
  config/settings/base.py
  config/settings/production.py
Due: mypy

fix: give orms users the ability to view and update quantity samples
  opal/core/management/commands/initialize_data.py
Due: mypy

build(deps): update docker docker tag to v26.0.1
  .gitlab-ci.yml
Due: none

unit test
  opal/caregivers/tests/test_api_views.py
Due: mypy

code review
  opal/caregivers/api/serializers.py
  opal/caregivers/api/views.py
Due: mypy

feat: add initial migration for usage statistics
  opal/legacy/models.py
  opal/usage_statistics/admin.py
  opal/usage_statistics/management/commands/update_daily_usage_statistics.py
  opal/usage_statistics/migrations/0001_initial.py
Due: mypy

fix: update models relatinoships
  opal/usage_statistics/migrations/0001_initial.py
  opal/usage_statistics/models.py
Due: mypy

refactor: add missing comments
  opal/legacy/models.py
  opal/usage_statistics/migrations/0001_initial.py
  opal/usage_statistics/models.py
Due: mypy

chore: add translations; fix unit tests
  opal/legacy/factories.py
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
Due: mypy

fix: fix translations
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
Due: none

tests: add unit tests
  opal/usage_statistics/factories.py
  opal/usage_statistics/models.py
  opal/usage_statistics/tests/__init__.py
  opal/usage_statistics/tests/test_models.py
Due: mypy

feat: add indexs for the date_added fields
  opal/usage_statistics/migrations/0001_initial.py
  opal/usage_statistics/models.py
Due: mypy

Merge branch 'main' into QSCCD-1950.AG.usage-statistics
  opal/caregivers/api/serializers.py
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_api_views.py
Due: mypy

chore: update changelog
  CHANGELOG.md
Due: none

fix: address MR comments
  opal/legacy/models.py
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
Due: mypy

fix: add view_institution permission for legacy_backend
  opal/core/management/commands/initialize_data.py
Due: mypy

chore(deps): update dependency dj-rest-auth to v6
  requirements/base.txt
Due: none

chore(deps): update dependency gunicorn to v22
  requirements/production.txt
Due: none

feat: management command to update daily usage statistics
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/usage_statistics/management/commands/update_daily_usage_statistics.py
Due: mypy

fix: resolve flake8 violations
  docker/crontab
  opal/legacy/managers.py
  opal/usage_statistics/management/commands/update_daily_usage_statistics.py
Due: mypy

feat: input prompt
  opal/legacy/managers.py
  opal/usage_statistics/management/commands/update_daily_usage_statistics.py
Due: mypy

refactor: update command
  opal/usage_statistics/management/commands/update_daily_usage_statistics.py
  opal/usage_statistics/tests/test_commands.py
Due: mypy

tests: add unit tests
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/usage_statistics/tests/test_commands.py
Due: mypy

refactor: refactor
  opal/legacy/managers.py
  opal/usage_statistics/management/commands/update_daily_usage_statistics.py
  opal/usage_statistics/tests/test_commands.py
Due: mypy

feat: add implementation for populating patient app activities
  opal/legacy/managers.py
  opal/usage_statistics/management/commands/update_daily_usage_statistics.py
Due: mypy

refactor: refactor; unit tests
  opal/usage_statistics/management/commands/update_daily_usage_statistics.py
  opal/usage_statistics/tests/test_commands.py
Due: mypy
