Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

Fix the conflicts and merge branch 'main' into QSCCD-945.SF.fill-in-missing-French-translations
  locale/fr/LC_MESSAGES/django.po
  opal/core/forms/layouts.py
  opal/patients/constants.py
  opal/patients/filters.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tables.py
  opal/patients/templates/patients/access_request/access_request_confirm.html
  opal/patients/templates/patients/access_request/new_access_request.html
  opal/patients/templates/patients/radioselect_tabs.html
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/templates/patients/relationships/view_relationship.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/utils.py
  opal/patients/views.py
  opal/static/css/buttons.css
  opal/static/css/cards.css
  opal/static/css/forms.css
  opal/static/css/global.css
  opal/static/css/styles.css
  opal/static/thirdparty/package.json
  opal/static/thirdparty/unpoly/css/unpoly-bootstrap5.min.css
  opal/static/thirdparty/unpoly/js/unpoly-bootstrap5.min.js
  opal/static/thirdparty/unpoly/js/unpoly.min.js
  opal/templates/base.html
  opal/templates/components.yaml
  opal/templates/components/form_back.html
  opal/templates/sidebar.html
  requirements/base.txt
  requirements/development.txt
  setup.cfg
Due: check-form-novalidate, mypy

fix： adjust strings to fix the pipeline
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/legacy_questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

fix： remove unused strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix(test): add missing usernames and fix email addresses
  opal/core/management/commands/insert_test_data.py
Due: mypy

fix email addresses
  opal/core/management/commands/insert_test_data.py
Due: mypy

add tests
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
Due: mypy

Merge remote-tracking branch 'origin/main' into add-initialize-data-command
  .gitlab-ci.yml
  docker-compose.yml
  locale/fr/LC_MESSAGES/django.po
  opal/core/forms/layouts.py
  opal/patients/filters.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tables.py
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_views.py
  opal/static/css/buttons.css
  opal/static/css/styles.css
  requirements/base.txt
  requirements/development.txt
Due: mypy

add active security questions
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
Due: mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/core/tests/test_commands.py
Due: mypy

build(deps): update docker docker tag to v24
  .gitlab-ci.yml
Due: none

chore(deps): update dependency pre-commit to v3.3.2
  requirements/development.txt
Due: none

chore(deps): update dependency twilio to v8.2.1
  requirements/base.txt
Due: none

fix(deps): update dependency unpoly to v3.1.1
  opal/static/thirdparty/package.json
Due: none

update files
  opal/static/thirdparty/unpoly/js/unpoly.min.js
  opal/templates/base.html
Due: check-form-novalidate

yo
  opal/static/thirdparty/unpoly/css/unpoly.min.css
  opal/templates/base.html
Due: check-form-novalidate

fix header
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/views.py
Due: mypy

more fixes
  opal/patients/templates/patients/access_request/access_request_confirm.html
  opal/patients/templates/patients/access_request/qr_code.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

fix translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

Merge remote-tracking branch 'origin/main' into access-request-fixes
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/legacy_questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: mypy

feat: add database connections over ssl
  .env.sample
  .gitignore
  Dockerfile
  certs/.gitkeep
  opal/settings.py
  requirements/base.txt
Due: mypy

chore: update mysqlclient dependency version
  Dockerfile
  README.md
  requirements/base.txt
Due: none

refactor: update comments
  .env.sample
  opal/settings.py
Due: mypy

chore: add openssl config files
  .gitignore
  certs/.gitkeep
  certs/openssl-server.cnf
  certs/v3.ext
  docker-compose.ssl.yml
  docker-compose.yml
  docker/mariadb/config/ssl.cnf
  docker/mariadb/scripts/grant_test_db.sh
Due: none

chore: fix typo in the env.sample
  .env.sample
  certs/v3.ext
Due: none

docs: update readme
  README.md
Due: none

refactor: address MR comments
  .env.sample
  .gitignore
  README.md
  opal/settings.py
Due: mypy

chore: test pkg-config
  Dockerfile
Due: none

fix: ignore coverage for the DATABASE_USE_SSL block
  opal/settings.py
Due: mypy

docs: update readme for ssl setup
  .gitignore
  README.md
  certs/.gitkeep
  certs/openssl-server.cnf
  docker/mariadb/config/ssl.cnf
Due: none

docs: update readme based on the review comment
  README.md
Due: none

fix: remove extra files
  diagram.puml
Due: none

fix: refactor and respond to comments in code review
  opal/patients/forms.py
  opal/patients/tests/test_views.py
  opal/patients/utils.py
Due: mypy

fix: switch fields in manage caregiver access
  diagram.puml
  opal/patients/forms.py
Due: mypy

fix: fix record update of type self in manage caregiver access
  opal/patients/forms.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

fix: remove wrong file
  diagram.puml
Due: none

fix: extend the inclusion of the option being edited to all types including self
  opal/patients/forms.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

fix: adjust tests and add test in views to check for valid choices
  opal/patients/tests/test_utils.py
  opal/patients/tests/test_views.py
Due: mypy
