Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

flake8:
  name: flake8
  description: wemake-python-styleguide++ enforcement
  entry: flake8
  args:
  - --config=setup.cfg
  language: python

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

build: create uploads directory owned by appuser
  Dockerfile
Due: none

small changes
  opal/services/reports/questionnaire.py
Due: flake8, mypy

marging nit
  opal/services/reports/questionnaire.py
Due: flake8, mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/services/reports/questionnaire.py
Due: flake8, mypy

changes
  opal/services/reports/questionnaire.py
Due: flake8, mypy

outline import
  opal/services/reports/questionnaire.py
Due: flake8, mypy

start_section
  opal/services/reports/questionnaire.py
Due: flake8, mypy

feat: Add endpoint for updating LegacyAppointment checkin field
  .env.sample
  config/settings/base.py
  opal/conftest.py
  opal/core/api_urls.py
  opal/core/constants.py
  opal/core/drf_permissions.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/core/tests/test_drf_permissions.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/management/commands/update_orms_patients.py
  opal/legacy/tests/test_commands.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: flake8, mypy

comment changes
  opal/services/reports/questionnaire.py
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

number of pages
  opal/services/reports/questionnaire.py
Due: flake8, mypy

chore(deps): update dependency mysqlclient to v2.2.6
  requirements/base.txt
Due: none

chore(deps): update dependency coverage to v7.6.6
  requirements/development.txt
Due: none

chore(deps): update dependency twilio to v9.3.7
  requirements/base.txt
Due: none

build(deps): update mariadb docker tag to v10.11.10
  .gitlab-ci.yml
  docker-compose.yml
Due: none

chore(deps): update dependency coverage to v7.6.7
  requirements/development.txt
Due: none

add_pages
  opal/services/reports/questionnaire.py
Due: flake8, mypy

test
  opal/services/reports/questionnaire.py
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

coverage fix
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

should fix coverage
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

fix(deps): update dependency @fortawesome/fontawesome-free to v6.7.0
  opal/static/thirdparty/fontawesomefree/css/fontawesome.min.css
  opal/static/thirdparty/fontawesomefree/css/regular.min.css
  opal/static/thirdparty/fontawesomefree/css/solid.min.css
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.woff2
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.woff2
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
Due: none

feat: add password to API to create and update users
  opal/users/api/serializers.py
  opal/users/api/viewsets.py
  opal/users/tests/test_drf_viewsets.py
Due: flake8, mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

ci: update static thirdparty files automatically
  .gitlab-ci.yml
Due: none

changes from comments
  opal/services/reports/questionnaire.py
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

feat: add helper function for creating zip files
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: flake8, mypy

feat: add form for exporting group usage statistics
  CHANGELOG.md
  opal/usage_statistics/common.py
  opal/usage_statistics/conftest.py
  opal/usage_statistics/constants.py
  opal/usage_statistics/forms.py
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/queries.py
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
  opal/usage_statistics/tests/test_forms.py
  opal/usage_statistics/tests/test_queries.py
  opal/usage_statistics/views.py
Due: check-form-novalidate, flake8, mypy

feat: add helper function for converting dict to xlsx
  opal/core/utils.py
Due: flake8, mypy

utility for fetching relevant records and creating databank consent + factsheet instances for patient
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/legacy/utils.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/models.py
Due: flake8, mypy

Apply 1 suggestion(s) to 1 file(s)
  setup.cfg
Due: none

finalize databank consent creation logic
  config/settings/base.py
  opal/caregivers/api/views.py
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/legacy/tests/test_models.py
  opal/legacy/utils.py
Due: flake8, mypy

fix(deps): update dependency @fortawesome/fontawesome-free to v6.7.1
  opal/static/thirdparty/fontawesomefree/css/fontawesome.min.css
  opal/static/thirdparty/fontawesomefree/css/regular.min.css
  opal/static/thirdparty/fontawesomefree/css/solid.min.css
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.woff2
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.woff2
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
Due: none

chore(deps): update dependency mkdocs-material to v9.5.45
  requirements/docs.txt
Due: none

chore(deps): update dependency coverage to v7.6.8
  requirements/development.txt
Due: none

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  flake8: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

