Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

Merge branch 'main' into QSCCD-871.SF.modify-datetime-type-in-returned-OIE-patient-data
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/health_data_display.html
  opal/health_data/tests/test_urls.py
  opal/health_data/tests/test_views.py
  opal/health_data/urls.py
  opal/health_data/views.py
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  opal/urls.py
Due: check-form-novalidate, mypy

missing translation strings
  opal/health_data/locale/fr/LC_MESSAGES/django.po
Due: none

legend title and CHANGELOG
  CHANGELOG.md
  opal/health_data/views.py
Due: mypy

translations and small figure adjustments
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/views.py
Due: mypy

fix
  opal/health_data/locale/fr/LC_MESSAGES/django.po
Due: none

add translations and minor changes
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/views.py
  opal/urls.py
  requirements/base.txt
  setup.cfg
Due: mypy

fix tests
  opal/health_data/tests/test_urls.py
Due: mypy

refactor: reduce code repetition by loading graph data into dictionary
  opal/health_data/templates/health_data_display.html
  opal/health_data/tests/test_views.py
  opal/health_data/views.py
Due: check-form-novalidate, mypy

translation
  opal/health_data/locale/fr/LC_MESSAGES/django.po
Due: none

chore(deps): update dependency mypy to v1
  requirements/development.txt
Due: none

chore(deps): add isort as direct dependency
  requirements/development.txt
Due: none

chore: fix mypy import cycle error when accessing settings
  opal/settings.py
Due: mypy

chore: improve renovate config to enable pre-commit
  renovate.json5
Due: none

Merge remote-tracking branch 'origin/main' into improve-renovate
  .pre-commit-config.yaml
  CHANGELOG.md
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/health_data_display.html
  opal/health_data/tests/test_urls.py
  opal/health_data/tests/test_views.py
  opal/health_data/views.py
  opal/urls.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, mypy

limit rebases
  renovate.json5
Due: none

chore: move ALLOWED_HOSTS setting to dotenv
  .env.sample
  opal/settings.py
Due: mypy

add default
  .env.sample
  opal/settings.py
Due: mypy

Merge remote-tracking branch 'origin/main' into allowed-hosts-env
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0017_add_patient_uuid.py
  opal/patients/models.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  renovate.json5
  requirements/base.txt
  requirements/development.txt
Due: mypy

feat: add UUID field to Patient model
  opal/patients/models.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
Due: mypy

add missing migration
  opal/patients/migrations/0017_add_patient_uuid.py
Due: mypy

add missing translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

build(deps): update python docker tag to v3.10.10
  .gitlab-ci.yml
  Dockerfile
Due: none

build(deps): update mariadb docker tag to v10.6.12
  .gitlab-ci.yml
  docker-compose.yml
Due: none

chore(deps): update dependency mkdocs-material to v9.0.12
  requirements/docs.txt
Due: none

Move command utility
  opal/legacy/tests/test_commands.py
  opal/patients/tests/test_commands.py
  opal/utils/commands.py
Due: mypy

Remove 'if' case added only for mypy
  opal/patients/management/commands/expire_relationships.py
Due: mypy

Try suggested coverage fix
  opal/patients/management/commands/expire_relationships.py
Due: mypy

Apply fixes from code review
  opal/patients/management/commands/expire_relationships.py
  opal/patients/tests/test_commands.py
Due: mypy

Remove case for 0000-00-00 date of birth
  opal/patients/management/commands/expire_relationships.py
Due: mypy

Move CommandTestMixin to utils file in the test folder
  opal/legacy/tests/test_commands.py
  opal/patients/tests/test_commands.py
  opal/tests/__init__.py
  opal/tests/utils/__init__.py
  opal/tests/utils/test_commands.py
Due: mypy

Merge remote-tracking branch 'origin/main' into QSCCD-790.SB.expire-relationships
  .gitlab-ci.yml
  docker-compose.yml
  opal/caregivers/factories.py
  opal/conftest.py
  opal/core/api_urls.py
  opal/core/drf_permissions.py
  opal/core/tests/test_api_urls.py
  opal/hospital_settings/factories.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/legacy/tests/test_commands.py
  opal/legacy/tests/test_models.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/tests/test_views.py
  opal/services/hospital/tests/test_hospital_communication.py
  opal/services/hospital/tests/test_hospital_error.py
  opal/services/tests/test_reports.py
  opal/settings.py
  opal/static/js/query.js
  opal/urls.py
  opal/utils/tests/test_base64.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  setup.cfg
Due: mypy

chore(deps): update dependency flake8 to v5
  requirements/development.txt
Due: none

chore(deps): update dependency flake8 to v6
  requirements/development.txt
Due: none

chore(deps): update dependency flake8-builtins to v2
  requirements/development.txt
Due: none

refactor: replace patient id with uuid for health-data UI
  opal/health_data/tests/test_urls.py
  opal/health_data/tests/test_views.py
  opal/health_data/urls.py
  opal/health_data/views.py
Due: mypy

chore(deps): update dependency dj-rest-auth to v2.2.8
  requirements/base.txt
Due: none

chore(deps): update dependency dj-rest-auth to v3
  requirements/base.txt
Due: none

fix: remove key error on empty report download
  opal/questionnaires/views.py
Due: mypy

fix: also add min selection to enddate for initial setting
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
Due: none

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

