Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix: add clinicalstaff factory
  opal/users/factories.py
Due: mypy

fix: respond to code review
  opal/users/tests/test_models.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-1500_subticket_1599_signal_admin_group
  Dockerfile
  requirements/base.txt
Due: none

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-1500_subticket_1599_signal_admin_group
  .gitlab-ci.yml
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/legacy/api/views/orms_auth.py
  opal/legacy/api/views/tests/test_orms_auth.py
  opal/legacy/factories.py
  opal/legacy/management/commands/migrate_caregivers.py
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/management/commands/migrate_securityanswers.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/models.py
  opal/legacy/tests/test_commands.py
  opal/legacy/tests/test_utils.py
  opal/legacy/utils.py
  opal/patients/migrations/0024_patient_non_unique_ramq.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/users/api/serializers.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

fix: respond to code reviews
  opal/users/models.py
Due: mypy

fix: fix unit tests
  opal/users/tests/test_models.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-1500_subticket_1599_signal_admin_group
  opal/core/api_urls.py
  opal/users/api/serializers.py
  opal/users/api/viewsets.py
  opal/users/locale/fr/LC_MESSAGES/django.po
  opal/users/tests/test_drf_urls.py
  opal/users/tests/test_drf_viewsets.py
  setup.cfg
Due: mypy

fix: rename variable
  opal/users/models.py
Due: mypy

fix: remove extra noqa
  opal/users/models.py
Due: mypy

fix: refactor code as per code review
  opal/users/models.py
Due: mypy

fix: nest by collection date as well as group name
  opal/databank/management/commands/send_databank_data.py
Due: mypy

Merge branch 'main' into adjust-databank-lab-data-nesting
  opal/core/management/commands/initialize_data.py
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
Due: mypy

feat: add action to set and unset users groups
  opal/users/api/viewsets.py
Due: mypy

feat: unit tests
  opal/users/tests/test_drf_urls.py
  opal/users/tests/test_drf_viewsets.py
Due: mypy

i18n: update translations
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

Merge branch 'QSCCD-1500_create_api_create_user' of gitlab.com:opalmedapps/backend into QSCCD-1500_subticket_1602_action_manager_user
  config/settings/base.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/databank/management/commands/send_databank_data.py
  opal/health_data/api/views.py
  opal/hospital_settings/api/views.py
  opal/hospital_settings/api/viewsets.py
  opal/hospital_settings/tests/test_drf_viewsets.py
  opal/patients/api/views.py
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_validation.py
  opal/test_results/api/views.py
  opal/users/api/views.py
  opal/users/api/viewsets.py
  opal/users/tests/test_drf_viewsets.py
Due: mypy

fix: respond to code review
  opal/users/api/viewsets.py
Due: mypy

fix: update tests after code review
  opal/users/tests/test_drf_viewsets.py
Due: mypy

i18n: fix translations
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

Merge branch 'QSCCD-1500_create_api_create_user' of gitlab.com:opalmedapps/backend into QSCCD-1500_subticket_1602_action_manager_user
  .gitlab-ci.yml
  Dockerfile
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/legacy/api/views/orms_auth.py
  opal/legacy/api/views/tests/test_orms_auth.py
  opal/legacy/factories.py
  opal/legacy/management/commands/migrate_caregivers.py
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/management/commands/migrate_securityanswers.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/models.py
  opal/legacy/tests/test_commands.py
  opal/legacy/tests/test_utils.py
  opal/legacy/utils.py
  opal/patients/migrations/0024_patient_non_unique_ramq.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/users/api/serializers.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

fix: add serializer to unset instead of using the default one
  opal/users/api/viewsets.py
Due: mypy

fix: fix comments
  opal/users/api/viewsets.py
Due: mypy

fix: update url path to be consistent with dash
  opal/users/api/viewsets.py
  opal/users/tests/test_drf_urls.py
Due: mypy

fix: change method of action to put
  opal/users/api/viewsets.py
Due: mypy

fix: update unit tests
  opal/users/tests/test_drf_viewsets.py
Due: mypy

fix: change expected patient data to reflect what's returned by OIE API
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_validation.py
Due: mypy

add total number of patients
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/tests/test_commands.py
Due: mypy

ci: compile messages when building the image
  Dockerfile
Due: none

doh
  Dockerfile
Due: none

Merge remote-tracking branch 'origin/main' into image-compilemessages
  config/settings/base.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/health_data/api/views.py
  opal/hospital_settings/api/views.py
  opal/hospital_settings/api/viewsets.py
  opal/hospital_settings/tests/test_drf_viewsets.py
  opal/patients/api/views.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  opal/test_results/api/views.py
  opal/users/api/views.py
Due: mypy

test
  Dockerfile
Due: none

allow env sample in image
  .dockerignore
Due: none

Merge remote-tracking branch 'origin/main' into image-compilemessages
  .gitlab-ci.yml
Due: none

fix: exclude deleted users when migrating
  opal/legacy/factories.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/models.py
  opal/legacy/tests/test_commands.py
Due: mypy

Merge remote-tracking branch 'origin/main' into ignore-deleted-users
  .gitlab-ci.yml
  Dockerfile
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_validation.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

update reg web and translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/confirmation_code.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

Merge branch 'main' of https://gitlab.com/opalmedapps/backend into QSCCD-900.DZY.Add-Registration-Code-Expiration-Date-to-The-Institution
  opal/legacy/tests/test_utils.py
  opal/legacy/utils.py
  opal/patients/migrations/0024_patient_non_unique_ramq.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy
