Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix deps fix flake8 error
  opal/patients/tests/test_utils.py
Due: mypy

fix deps fix annotation
  opal/patients/utils.py
Due: mypy

feat deps refactor the code
  opal/patients/api/views.py
  opal/patients/utils.py
Due: mypy

feat deps fix the exception type for the api
  opal/patients/api/tests/test_api_views.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

feat deps refactor the api and test functions
  opal/patients/api/serializers.py
  opal/patients/api/views.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  setup.cfg
Due: mypy

Add my caregivers list api end point
  opal/core/api_urls.py
  opal/patients/api/serializers.py
  opal/patients/api/views.py
  opal/patients/tests/test_apiview.py
Due: mypy

Added url test following code review
  opal/core/tests/test_api_urls.py
Due: mypy

Adjustments following code review
  opal/patients/api/serializers.py
  opal/patients/api/views.py
Due: mypy

Adjustment following code review
  opal/patients/api/serializers.py
  opal/patients/api/views.py
  opal/patients/tests/test_apiview.py
Due: mypy

Adjustments following code review
  opal/core/api_urls.py
  opal/patients/api/views.py
Due: mypy

Add select_related to caregiver query and change class name.
  opal/core/api_urls.py
  opal/patients/api/views.py
Due: mypy

feat deps remove the field email_verification_code from model RegistrationCode
  opal/caregivers/factories.py
  opal/caregivers/migrations/0007_remove_email_verification_code.py
  opal/caregivers/models.py
Due: mypy

feat deps fix the migration file
  opal/caregivers/migrations/0006_emailverification.py
  opal/caregivers/migrations/0007_remove_email_verification_code.py
Due: mypy

feat deps fix annotations
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/models.py
Due: mypy

bug deps fix migration file
  opal/caregivers/migrations/0006_emailverification.py
Due: mypy

Merge branch 'main' into QSCCD-510.LL.email-verification
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/patients/api/serializers.py
  opal/patients/api/views.py
  opal/patients/tests/test_apiview.py
Due: mypy

Merge branch 'main' into QSCCD-510.LL.email-verification
  CHANGELOG.md
  docs/standard_and_custom_permissions.md
  mkdocs.yml
  opal/caregivers/factories.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/migrations/0006_emailverification.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/patients/api/serializers.py
  opal/patients/tests/test_apiview.py
Due: mypy

bug deps fix verbose name
  opal/caregivers/migrations/0006_emailverification.py
Due: mypy

feat deps add field email to the model
  opal/caregivers/factories.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/migrations/0006_emailverification.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
Due: mypy

bug deps fix mypy error
  opal/caregivers/tests/test_models.py
Due: mypy

feat deps fix model fields order
  opal/caregivers/migrations/0006_emailverification.py
Due: mypy

Merge branch 'main' into QSCCD-510.LL.email-verification
  .gitlab-ci.yml
  Dockerfile
  docs/apps/questionnaires.md
  opal/core/api_urls.py
  opal/core/drf_fields.py
  opal/hospital_settings/api/serializers.py
  opal/hospital_settings/api/viewsets.py
  opal/hospital_settings/tests/test_drf_urls.py
  opal/hospital_settings/tests/test_drf_viewsets.py
  opal/services/reports.py
  opal/services/tests/test_reports.py
  opal/tests/fixtures/non_image_file.txt
  opal/tests/fixtures/test_PDF.pdf
  opal/tests/fixtures/test_txt.txt
  opal/utils/base64.py
  opal/utils/tests/test_base64.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

Add missing change log
  CHANGELOG.md
Due: none

fix: standarize use of kwargs in update view
  opal/caregivers/api/serializers.py
  opal/caregivers/api/views.py
  opal/caregivers/factories.py
Due: mypy

fix: update translation string followed by django makemessages
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: fix the grammar issues.
  opal/patients/forms.py
Due: mypy

feat: Registration - QR Code - Requestor [Relationship] Details - showing disabled options
  opal/patients/forms.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

fix: add missing translation string
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

refactor: settings & environment changes
  opal/questionnaires/backend.py
  opal/settings.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

refactor: replace http methods decorator with http_method_names class attribute
  opal/questionnaires/views.py
Due: mypy

fix: .env.sample missing from previous commit
  .env.sample
Due: none

fix: add init file to allow git to track questionnaires data folder
  opal/media/questionnaire-files/__init__
Due: none

test: add additional tests for method authorization
  opal/questionnaires/tests/test_views.py
Due: mypy

refactor: adjust template & view naming conventions
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/questionnaires/tests/test_urls.py
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/urls.py
  opal/questionnaires/views.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy

refactor: move django table to separate file
  opal/questionnaires/tables.py
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/views.py
  setup.cfg
Due: check-form-novalidate, mypy

fix: update translations and minor table adjustments
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/tables.py
  opal/questionnaires/views.py
Due: mypy

translation
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

fix: remove violations
  opal/questionnaires/backend.py
  opal/questionnaires/tables.py
  opal/questionnaires/views.py
  setup.cfg
Due: mypy

minor fixes
  .gitignore
  opal/media/tmp/questionnaire-files/__init__
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/tests/test_urls.py
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/urls.py
  opal/questionnaires/views.py
  opal/settings.py
Due: check-form-novalidate, mypy
