Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

Merge remote-tracking branch 'origin/main' into QSCCD-1225.SB.registration-ups
  .gitlab-ci.yml
  opal/caregivers/api/viewsets.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/management/commands/files/chusj/logo.png
  opal/core/management/commands/files/chusj/terms_of_use_en.pdf
  opal/core/management/commands/files/chusj/terms_of_use_fr.pdf
  opal/core/management/commands/files/muhc/logo.png
  opal/core/management/commands/files/muhc/terms_of_use_en.pdf
  opal/core/management/commands/files/muhc/terms_of_use_fr.pdf
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_managers.py
  opal/legacy/tests/test_models.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/sql/databank_questionnaires_answer.sql
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
  opal/legacy_questionnaires/tests/test_managers.py
  opal/patients/conftest.py
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
  opal/settings.py
  opal/tests/sql/test_QuestionnaireDB.sql
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

test: add tests for first access request steps
  opal/patients/conftest.py
  opal/patients/factories.py
  opal/patients/forms.py
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: check-form-novalidate, mypy

fix: add exception handling for twilio
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/services/twilio.py
Due: mypy

refactor
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
Due: mypy

improve ci
  .gitlab-ci.yml
Due: none

add checks for query fields in tests
  opal/legacy/tests/test_managers.py
Due: mypy

Merge branch 'QSCCD-1116.KA.databank-queries-appt-demo' into QSCCD-1116.KA.databank-queries-diag-labs
  opal/legacy/managers.py
Due: mypy

Merge branch 'QSCCD-1116.KA.databank-queries-appt-demo' into QSCCD-1116.KA.databank-queries-diag-labs
  .gitlab-ci.yml
  opal/patients/conftest.py
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
  opal/settings.py
  requirements/base.txt
Due: mypy

fixes
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
Due: mypy

fix again
  opal/legacy/managers.py
Due: mypy

change instances of ser to id
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
Due: mypy

refactor: add models and create new manager according to new lab test storage schema
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_managers.py
  opal/legacy/tests/test_models.py
Due: mypy

adjust query according to discussion with Rida
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
Due: mypy

Merge branch 'QSCCD-1116.KA.databank-queries-appt-demo' into QSCCD-1116.KA.databank-queries-diag-labs
  opal/caregivers/api/viewsets.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/management/commands/files/chusj/logo.png
  opal/core/management/commands/files/chusj/terms_of_use_en.pdf
  opal/core/management/commands/files/chusj/terms_of_use_fr.pdf
  opal/core/management/commands/files/muhc/logo.png
  opal/core/management/commands/files/muhc/terms_of_use_en.pdf
  opal/core/management/commands/files/muhc/terms_of_use_fr.pdf
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

Merge branch 'QSCCD-1116.KA.databank-queries-appt-demo' into QSCCD-1116.KA.databank-queries-diag-labs
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/sql/databank_questionnaires_answer.sql
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
  opal/legacy_questionnaires/tests/test_managers.py
  opal/tests/sql/test_QuestionnaireDB.sql
Due: mypy

feat(data): add ability to force deletion of existing data
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
Due: mypy

Merge remote-tracking branch 'origin/main' into add-data-force-delete
  .gitlab-ci.yml
  opal/patients/conftest.py
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
  opal/settings.py
Due: mypy

fix: adjust test function
  opal/caregivers/tests/test_viewsets.py
Due: mypy

fix: fix the test function response data
  opal/caregivers/tests/test_viewsets.py
Due: mypy

fix: fix the issue following the code review
  opal/caregivers/api/viewsets.py
Due: mypy

Merge branch 'main' into QSCCD-938.SF.add-retrieve-model-mixin-to-security-answer-viewset
  opal/core/management/commands/files/chusj/logo.png
  opal/core/management/commands/files/chusj/terms_of_use_en.pdf
  opal/core/management/commands/files/chusj/terms_of_use_fr.pdf
  opal/core/management/commands/files/muhc/logo.png
  opal/core/management/commands/files/muhc/terms_of_use_en.pdf
  opal/core/management/commands/files/muhc/terms_of_use_fr.pdf
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

Merge branch 'main' into QSCCD-938.SF.add-retrieve-model-mixin-to-security-answer-viewset
  requirements/base.txt
  requirements/docs.txt
Due: none

implement questionnaire queries with raw sql
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/sql/databank_questionnaires_answer.sql
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
  opal/legacy_questionnaires/tests/test_managers.py
  opal/tests/sql/test_QuestionnaireDB.sql
Due: mypy

fix test
  opal/legacy_questionnaires/factories.py
  opal/tests/sql/test_QuestionnaireDB.sql
Due: mypy

fix test
  opal/tests/sql/test_QuestionnaireDB.sql
Due: none

change ser instances to id
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
  opal/legacy_questionnaires/tests/test_managers.py
Due: mypy

Merge branch 'QSCCD-1116.KA.databank-queries-diag-labs' into QSCCD-1116.KA.databank-queries-qsst-raw
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
Due: mypy

Merge branch 'QSCCD-1116.KA.databank-queries-diag-labs' into QSCCD-1116.KA.databank-queries-qsst-raw
  opal/caregivers/api/viewsets.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/management/commands/files/chusj/logo.png
  opal/core/management/commands/files/chusj/terms_of_use_en.pdf
  opal/core/management/commands/files/chusj/terms_of_use_fr.pdf
  opal/core/management/commands/files/muhc/logo.png
  opal/core/management/commands/files/muhc/terms_of_use_en.pdf
  opal/core/management/commands/files/muhc/terms_of_use_fr.pdf
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_managers.py
  opal/legacy/tests/test_models.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

fix(deps): update dependency unpoly to v3.2.1
  opal/static/thirdparty/package.json
Due: none

exclude unused files
  setup.cfg
Due: none

improve coverage precision
  .gitlab-ci.yml
  setup.cfg
Due: none

cover PDF report
  opal/services/tests/test_reports.py
  pytest.ini
Due: mypy

Merge remote-tracking branch 'origin/main' into increase-coverage
  opal/core/management/commands/files/chusj/logo.png
  opal/core/management/commands/files/chusj/terms_of_use_en.pdf
  opal/core/management/commands/files/chusj/terms_of_use_fr.pdf
  opal/core/management/commands/files/muhc/logo.png
  opal/core/management/commands/files/muhc/terms_of_use_en.pdf
  opal/core/management/commands/files/muhc/terms_of_use_fr.pdf
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

Merge remote-tracking branch 'origin/main' into increase-coverage
  opal/caregivers/api/viewsets.py
  opal/caregivers/tests/test_viewsets.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_managers.py
  opal/legacy/tests/test_models.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/sql/databank_questionnaires_answer.sql
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
  opal/legacy_questionnaires/tests/test_managers.py
  opal/tests/sql/test_QuestionnaireDB.sql
Due: mypy

add missing test
  opal/patients/tests/test_views.py
Due: mypy

chore(deps): update dependency pillow to v10
  requirements/base.txt
Due: none

Merge branch 'main' into QSCCD-1260.LL.remove-skeleton-user
  opal/core/management/commands/files/chusj/logo.png
  opal/core/management/commands/files/chusj/terms_of_use_en.pdf
  opal/core/management/commands/files/chusj/terms_of_use_fr.pdf
  opal/core/management/commands/files/muhc/logo.png
  opal/core/management/commands/files/muhc/terms_of_use_en.pdf
  opal/core/management/commands/files/muhc/terms_of_use_fr.pdf
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

fix refactor the codee
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

fix refactor the code
  opal/patients/utils.py
Due: mypy

feat deps refactor the code
  opal/patients/api/views.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy
