Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix: add space between site: mrn and fix related tests
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/tests/test_views.py
Due: check-form-novalidate, mypy

fix: make updates to the name of the view and modified tests as per code review
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/templates/sidebar.html
Due: check-form-novalidate, mypy

fix: use proper kwargs in return post
  opal/patients/views.py
Due: mypy

fix: update firstname and lastname using modelform instead of directly
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/views.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into unified-manage-caregiver-viewpage
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/legacy/tests/test_models.py
Due: mypy

i18n: remove dot
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: validate both forms at the same time
  opal/patients/views.py
Due: mypy

fix: add test to userform
  opal/patients/tests/test_forms.py
Due: mypy

i18n: update translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: increase the test coverage to 100
  opal/patients/tests/test_views.py
Due: mypy

fix: fix comment
  opal/patients/tests/test_views.py
Due: mypy

fix: update views and templates as per code review
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/relationships/view_relationship.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

fix: remove wrong fragment use
  opal/patients/templates/patients/relationships/view_relationship.html
Due: check-form-novalidate

fix: change the size of date and selection field to be suitable for different screen sizes
  opal/patients/forms.py
Due: mypy

fix: add space to have consistent representation to site: mrn
  opal/patients/templates/patients/relationships/edit_relationship.html
Due: check-form-novalidate

fix: fix failing test due to the change site: mrn
  opal/patients/tests/test_views.py
Due: mypy

fix: fix related test to change site: mrn
  opal/patients/tests/test_views.py
Due: mypy

fix: remove extra wrong file
  diagram.puml
Due: none

refactor: move build_ramq to patient utils
  opal/core/management/commands/insert_test_data.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

docs: add page for health_data app
  docs/apps/health_data.md
  mkdocs.yml
Due: none

Accept suggestions
  docs/apps/health_data.md
Due: none

add slightly revised selection
  docs/apps/health_data.md
Due: none

feat deps update log
  CHANGELOG.md
Due: none

feat deps add app 'django_twilio',
  opal/settings.py
Due: mypy

install deps twilio
  opal/settings.py
Due: mypy

fix deps pipeline
  opal/settings.py
Due: mypy

feat deps update requirements
  requirements/development.txt
Due: none

feat deps update dependency version
  requirements/development.txt
Due: none

feat deps refactor the code
  .env.sample
  opal/services/tests/test_twilio.py
  opal/settings.py
Due: mypy

feat deps refactor the code
  opal/services/tests/test_twilio.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

feat deps fix flake8 error
  opal/services/tests/test_twilio.py
Due: mypy

test deps just a test for pipeline
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
Due: mypy

fix deps refactor the code
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
Due: mypy

fix deps fix test function
  opal/services/tests/test_twilio.py
Due: mypy

feat deps set fixture data
  opal/conftest.py
  opal/services/tests/test_twilio.py
Due: mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat deps refactor the code
  .env.sample
  CHANGELOG.md
  opal/conftest.py
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
  opal/settings.py
  requirements/base.txt
Due: mypy

fix deps fix requirement
  requirements/base.txt
Due: none

fix deps refactor the code
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
  setup.cfg
Due: mypy

feat deps refactor the code
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
  setup.cfg
Due: mypy
