Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix add more test function to fit the coverage
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

Merge branch 'main' into QSCCD-1260.LL.remove-skeleton-user
  .gitlab-ci.yml
  opal/caregivers/tests/test_migrations.py
  opal/caregivers/tests/test_viewsets.py
  opal/health_data/tests/test_drf_views.py
  opal/hospital_settings/tests/test_views.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_chart.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/tests/test_serializers.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/tests/test_managers.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/questionnaires/tests/test_views.py
  pytest.ini
Due: mypy

feat deps refactor the code
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/tests/test_utils.py
Due: mypy

Merge branch 'main' into QSCCD-1260.LL.remove-skeleton-user
  opal/core/drf_permissions.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_drf_permissions.py
  opal/databank/factories.py
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/management/commands/send_databank_data.py
  opal/databank/migrations/0004_databankconsent_guid.py
  opal/databank/models.py
  opal/databank/tests/test_commands.py
  opal/legacy/api/views/tests/test_caregiver_permissions.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  requirements/docs.txt
  setup.cfg
Due: mypy

fix refactor the code
  opal/patients/tests/test_utils.py
Due: mypy

Update utils.py
  opal/patients/utils.py
Due: mypy

Update views.py
  opal/patients/api/views.py
Due: mypy

Update test_utils.py
  opal/patients/tests/test_utils.py
Due: mypy

Update test_api_views.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

Merge commit '580e61f1e219f63861196fb7bbed36ec0f24c557' into QSCCD-1260.LL.remove-skeleton-user
  CHANGELOG.md
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/migrations/0003_add_blood_pressure_types.py
  opal/health_data/models.py
  opal/health_data/tests/test_views.py
  opal/health_data/views.py
Due: mypy

Merge branch 'main' into QSCCD-1094.KA.management-command-select-data
  opal/legacy/managers.py
Due: mypy

add changelog entry for management command feature
  CHANGELOG.md
Due: none

fix docstring
  opal/databank/management/commands/send_databank_data.py
Due: mypy

fixes according to cr
  opal/databank/management/commands/send_databank_data.py
  opal/databank/migrations/0003_alter_databankconsent_last_synchronized.py
  opal/databank/models.py
  opal/databank/tests/test_commands.py
Due: mypy

Merge branch 'main' into QSCCD-1094.KA.management-command-select-data
  .env.sample
  .gitlab-ci.yml
  opal/caregivers/api/serializers.py
  opal/caregivers/tests/test_apiviews.py
  opal/core/test_utils.py
  opal/core/tests/test_auth.py
  opal/legacy/management/commands/update_orms_patients.py
  opal/legacy/tests/test_commands.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/managers.py
  opal/patients/templates/patients/radioselect_tabs.html
  opal/patients/tests/test_utils.py
  opal/patients/tests/test_views.py
  opal/patients/utils.py
  opal/patients/validators.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_communication.py
  opal/services/tests/test_reports.py
  opal/settings.py
  pytest.ini
  setup.cfg
Due: check-form-novalidate, mypy

Merge branch 'main' into QSCCD-1094.KA.management-command-select-data
  requirements/base.txt
  requirements/development.txt
Due: none

Merge branch 'main' into QSCCD-1094.KA.management-command-select-data
  .env.sample
Due: none

improve settings
  config/settings/base.py
  config/settings/development.py
  config/settings/production.py
  config/urls.py
  requirements/base.txt
  requirements/production.txt
Due: mypy

fix translation file
  locale/fr/LC_MESSAGES/django.po
Due: none

test
  config/settings/development.py
  config/settings/test.py
Due: mypy

fix whitenoise warning
  config/settings/production.py
  config/settings/test.py
  opal/conftest.py
Due: mypy

fix violations
  config/settings/development.py
  config/settings/production.py
  config/settings/test.py
  setup.cfg
Due: mypy

add TODO
  opal/core/api_urls.py
Due: mypy

resolve TODO
  config/settings/base.py
  config/settings/test.py
Due: mypy

move django stubs monkeypatching back
  config/settings/base.py
  config/settings/test.py
Due: mypy

move logout redirect to production settings
  config/settings/base.py
  config/settings/production.py
Due: mypy

test: mark migration tests as slow and deselect by default
  .gitlab-ci.yml
  opal/caregivers/tests/test_migrations.py
  opal/caregivers/tests/test_viewsets.py
  opal/health_data/tests/test_drf_views.py
  opal/hospital_settings/tests/test_views.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/questionnaires/tests/test_views.py
  pytest.ini
Due: mypy

Merge remote-tracking branch 'origin/main' into tests-migrations-slow
  .gitlab-ci.yml
  opal/caregivers/api/serializers.py
  opal/caregivers/tests/test_apiviews.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/managers.py
  opal/patients/templates/patients/radioselect_tabs.html
  opal/patients/tests/test_utils.py
  opal/patients/tests/test_views.py
  opal/patients/utils.py
  opal/patients/validators.py
  opal/services/tests/test_reports.py
  pytest.ini
  setup.cfg
Due: check-form-novalidate, mypy

Merge remote-tracking branch 'origin/main' into tests-migrations-slow
  .env.sample
  CHANGELOG.md
  opal/core/test_utils.py
  opal/core/tests/test_auth.py
  opal/databank/management/__init__.py
  opal/databank/management/commands/__init__.py
  opal/databank/management/commands/send_databank_data.py
  opal/databank/migrations/0003_alter_databankconsent_last_synchronized.py
  opal/databank/models.py
  opal/databank/tests/test_commands.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_chart.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/management/commands/update_orms_patients.py
  opal/legacy/tests/test_commands.py
  opal/legacy/tests/test_serializers.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/tests/test_managers.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_communication.py
  opal/services/tests/test_reports.py
  opal/settings.py
  requirements/base.txt
  requirements/development.txt
  setup.cfg
Due: mypy

add check for deceased patient
  opal/core/drf_permissions.py
  opal/core/tests/test_drf_permissions.py
Due: mypy

fix po file
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

Apply 1 suggestion(s) to 1 file(s)
  opal/core/tests/test_drf_permissions.py
Due: mypy

test: add test for CaregiverPermissionsView
  opal/legacy/api/views/tests/test_caregiver_permissions.py
Due: mypy

add missing super call
  opal/core/drf_permissions.py
Due: mypy

fix: update ORMS_HOST path
  .env.sample
Due: none
