Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
    - id: validate-pyproject

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.3
  hooks:
    - id: uv-lock

# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.0
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
    # Run the formatter
    - id: ruff-format

- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.22
  hooks:
    - id: mdformat
      args: [--number]
      language: python
      additional_dependencies:
        - mdformat-mkdocs==4.4.1

- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.18.1
  hooks:
  - id: markdownlint-cli2

- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.28.0
  hooks:
  - id: django-upgrade

- repo: https://github.com/fsfe/reuse-tool
  rev: v5.1.1
  hooks:
    - id: reuse-lint-file

- repo: https://github.com/crate-ci/typos
  rev: v1.38.1
  hooks:
    - id: typos

# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

# zizmor detects security vulnerabilities in GitHub Actions workflows.
- repo: https://github.com/woodruffw/zizmor-pre-commit
  rev: v1.14.2
  hooks:
    - id: zizmor

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.34.1
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]
    - id: check-compose-spec
      args: ["--verbose"]
    - id: check-renovate
      args: ["--verbose"]
      additional_dependencies: ['json5']

# `actionlint` hook, for verifying correct syntax in GitHub Actions workflows.
# Some additional configuration for `actionlint` can be found in `.github/actionlint.yaml`.
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.8
  hooks:
    - id: actionlint
      language: golang
      additional_dependencies:
        # actionlint has a shellcheck integration which extracts shell scripts in `run:` steps from GitHub Actions
        # and checks these with shellcheck.
        # see also: https://github.com/rhysd/actionlint/pull/482
        - "github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.10.0"

add ips test
  opal/services/fhir/tests/test_ips.py
Due: mypy

add missing test
  opal/services/fhir/tests/test_utils.py
Due: mypy

fix: filter queryset by default
  opal/health_data/api/views.py
Due: mypy

remove stray commented out code
  opal/patients/api/tests/test_api_views.py
Due: mypy

refactor: rewrite _get_dir_last_modified_details using 'MLST' command
  opal/patients/management/commands/expire_ips_bundles.py
Due: mypy

refactor: update tests to account for change to the 'MLST' command
  opal/patients/tests/test_commands.py
Due: mypy

add more tests
  opal/health_data/tests/test_drf_views.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

chore: fix mypy errors
  opal/patients/management/commands/expire_ips_bundles.py
  opal/patients/tests/test_commands.py
Due: mypy

add test for successful get
  opal/health_data/tests/test_drf_views.py
Due: mypy

fix: group tests by parameterizing them
  opal/patients/tests/test_commands.py
Due: mypy

feat: enable content security policy (CSP)
  config/settings/base.py
  opal/health_data/templates/chart_display.html
  opal/health_data/tests/test_views.py
  opal/health_data/views.py
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/services/charts.py
  opal/templates/base.html
Due: check-form-novalidate, mypy

apply safe fixes
  opal/core/drf_permissions.py
  opal/health_data/managers.py
  opal/legacy/managers.py
  opal/legacy_questionnaires/managers.py
  opal/patients/managers.py
  opal/patients/models.py
  opal/services/reports/questionnaire.py
  opal/users/models.py
Due: mypy

revert some changes
  opal/conftest.py
  opal/core/auth.py
  opal/patients/tables.py
  opal/patients/utils.py
  opal/services/integration/schemas.py
Due: mypy

feat: enable content security policy (CSP) (#1961)
  config/settings/base.py
  opal/health_data/templates/chart_display.html
  opal/health_data/tests/test_views.py
  opal/health_data/views.py
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/services/charts.py
  opal/templates/base.html
Due: check-form-novalidate, mypy

fix violation
  opal/patients/validators.py
Due: mypy

format code blocks in Markdown files
  docs/standard_and_custom_permissions.md
  docs/translation.md
Due: none

fix type checking violations
  opal/conftest.py
  opal/core/auth.py
  opal/patients/tables.py
  opal/patients/utils.py
  ruff.toml
Due: mypy

revert some changes
  opal/patients/tables.py
  opal/patients/utils.py
  ruff.toml
Due: mypy

Apply suggestion from @mschoettle
  docs/decisions/0002-add-support-for-patient-reported-data.md
Due: none

feat: add patient-recorded data in FHIR format (#1937)
  .env.sample
  .github/workflows/build.yml
  THIRDPARTY.md
  docs/decisions/0002-add-support-for-patient-reported-data.md
  docs/decisions/0003-timestamped-model-mixin.md
  opal/core/api_urls.py
  opal/health_data/admin.py
  opal/health_data/api/serializers.py
  opal/health_data/api/views.py
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/migrations/0005_add_patientreporteddata.py
  opal/health_data/models.py
  opal/health_data/tests/test_drf_views.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/services/fhir/ips.py
  opal/services/fhir/tests/fixtures/social_history.json
  opal/services/fhir/tests/test_ips.py
  opal/services/fhir/tests/test_utils.py
  opal/services/fhir/utils.py
  opal/services/locale/fr/LC_MESSAGES/django.po
  pyproject.toml
  uv.lock
Due: mypy

fix: call disconnect function
  opal/patients/management/commands/expire_ips_bundles.py
  opal/patients/tests/test_commands.py
Due: mypy

fix: change plural handling to make logger lines more readable
  opal/patients/management/commands/expire_ips_bundles.py
Due: mypy

fix: add management command to expire IPS bundles (#1810)
  opal/conftest.py
  opal/patients/management/commands/expire_ips_bundles.py
  opal/patients/tests/test_commands.py
  ruff.toml
Due: mypy

fix: update FTPStorage class usage after open-source contribution of get_modified_time
  opal/patients/management/commands/expire_ips_bundles.py
  opal/patients/tests/test_commands.py
Due: mypy

docs: fix ADR section in README
  README.md
Due: none

docs: fix ADR section in README (#1981)
  README.md
Due: none

chore(deps): pin mkdocs to v1.6.1
  pyproject.toml
  uv.lock
Due: none

chore(deps): pin mkdocs to v1.6.1 (#1987)
  pyproject.toml
  uv.lock
Due: none

chore(deps): add exclude-newer to uv config
  pyproject.toml
  uv.lock
Due: none

test: attempt to fix flaky tests
  opal/hospital_settings/factories.py
Due: mypy

test: avoid generating a fake French site name to avoid duplicate acronyms
  opal/hospital_settings/factories.py
Due: mypy

chore(deps): temporarily disable exclude-newer in uv config
  pyproject.toml
  uv.lock
Due: none

test: try using a unique first_name as the site name to avoid duplicates
  opal/hospital_settings/factories.py
Due: mypy

chore: switch to our base Renovate config
  pyproject.toml
  renovate.json5
Due: none

chore(deps): ensure uv lock file is up to date and exclude already upgraded packages from exclude-newer
  pyproject.toml
  uv.lock
Due: none

chore: fix Renovate config
  renovate.json5
Due: none

chore: remove exclude-newer-packages
  pyproject.toml
  uv.lock
Due: none

fixes
  opal/health_data/managers.py
  opal/legacy/managers.py
  opal/services/reports/base.py
  opal/usage_statistics/queries.py
Due: mypy
