Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

rename group
  opal/core/management/commands/initialize_data.py
Due: mypy

update groups and permissions
  opal/core/management/commands/initialize_data.py
  opal/legacy/api/views/orms_auth.py
  opal/legacy/api/views/tests/test_orms_auth.py
  opal/settings.py
Due: mypy

Merge remote-tracking branch 'origin/main' into fix-initial-data-permissions
  .gitlab-ci.yml
  .pre-commit-config.yaml
  opal/core/api/serializers.py
  opal/core/api/views.py
  opal/core/management/commands/insert_test_data.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/users/models.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

change comment
  opal/questionnaires/models.py
Due: mypy

fix test
  opal/core/tests/test_commands.py
Due: mypy

chore(deps): update dependency argon2-cffi to v23
  requirements/base.txt
Due: none

chore(deps): update dependency coverage to v7.3.1
  requirements/development.txt
Due: none

chore(deps): update dependency django-environ to v0.11.2
  requirements/base.txt
Due: none

Merge branch 'main' into QSCCD-1402.SB.blank-caregiver-password
  .gitlab-ci.yml
  .pre-commit-config.yaml
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: none

fix: add missing caregiver.save() to save unusable password
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

add test for custom labelling
  opal/services/tests/test_charts.py
Due: mypy

fix: remove duplicate label in custom radioselect template
  opal/core/templates/forms/radioselect.html
Due: check-form-novalidate

chore(deps): update dependency mkdocs-literate-nav to v0.6.1
  requirements/docs.txt
Due: none

chore(deps): update dependency dj-rest-auth to v5
  requirements/base.txt
Due: none

chore: add npm postinstall script to copy distribution files
  opal/static/thirdparty/README.md
  opal/static/thirdparty/copy_distribution_files.js
  opal/static/thirdparty/package.json
Due: none

adjust search fields
  opal/test_results/admin.py
Due: mypy

fix(data): fix invalid usernames and add missing permission for opaladmin
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
Due: mypy

split observations into separate inherited models
  opal/test_results/admin.py
  opal/test_results/api/serializers.py
  opal/test_results/api/tests/test_api_views.py
  opal/test_results/factories.py
  opal/test_results/locale/fr/LC_MESSAGES/django.po
  opal/test_results/migrations/0005_split_observation_models.py
  opal/test_results/models.py
  opal/test_results/tests/test_models.py
Due: mypy

fix tests
  opal/test_results/models.py
  opal/test_results/tests/test_models.py
Due: mypy

add test coverage on obs property of GeneralTest model
  opal/test_results/tests/test_models.py
Due: mypy

add space
  opal/test_results/models.py
Due: mypy

re-order fields
  opal/test_results/models.py
Due: mypy

move validation of obs type to clean methods of inherited models
  opal/test_results/models.py
  opal/test_results/tests/test_models.py
Due: mypy

Merge branch 'main' into refactor-pathology-observation-model
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/hospital_settings/api/serializers.py
  opal/hospital_settings/api/viewsets.py
  opal/hospital_settings/tests/test_drf_viewsets.py
  opal/legacy/management/commands/migrate_caregivers.py
  opal/legacy/tests/test_commands.py
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/thirdparty/package.json
  opal/static/thirdparty/unpoly/css/unpoly-bootstrap5.min.css
  opal/static/thirdparty/unpoly/css/unpoly.min.css
  opal/static/thirdparty/unpoly/js/unpoly.min.js
  requirements/base.txt
Due: mypy

translations
  opal/test_results/locale/fr/LC_MESSAGES/django.po
Due: none

nits
  opal/test_results/models.py
  opal/test_results/tests/test_models.py
Due: mypy

Merge branch 'main' into refactor-pathology-observation-model
  opal/core/auth.py
  opal/core/tests/test_auth.py
  requirements/docs.txt
Due: mypy

revert help text change
  opal/test_results/locale/fr/LC_MESSAGES/django.po
  opal/test_results/models.py
Due: mypy

Merge branch 'main' into refactor-pathology-observation-model
  .gitlab-ci.yml
  config/__init__.py
  config/asgi.py
  config/settings/__init__.py
  config/settings/base.py
  config/settings/development.py
  config/settings/production.py
  config/settings/test.py
  config/urls.py
  config/wsgi.py
  docs/database/legacy_db.md
  docs/gen_reference_nav.py
  docs/mock_django.py
  locale/fr/LC_MESSAGES/django.po
  manage.py
  mkdocs.yml
  opal/conftest.py
  opal/core/api_urls.py
  opal/settings.py
  pytest.ini
  requirements/base.txt
  requirements/production.txt
  setup.cfg
Due: mypy

remove old comments
  opal/test_results/models.py
Due: mypy

fix: fix fed auth backend to not require additional user data
  opal/core/auth.py
  opal/core/tests/test_auth.py
Due: mypy

add comment
  opal/core/auth.py
Due: mypy

feat: disable pagination for APIs by default
  opal/health_data/api/views.py
  opal/patients/api/views.py
  opal/settings.py
  opal/test_results/api/views.py
Due: mypy

...
  opal/caregivers/tests/test_viewsets.py
  opal/hospital_settings/tests/test_drf_viewsets.py
Due: mypy

silence system check
  opal/settings.py
Due: mypy

feat: add additional fields to institution viewset
  opal/hospital_settings/api/serializers.py
  opal/hospital_settings/api/viewsets.py
  opal/hospital_settings/tests/test_drf_viewsets.py
Due: mypy

feat: change name of the file to migrate_caregivers
  diagram.puml
  opal/legacy/management/commands/migrate_caregivers.py
Due: mypy

feat: update migrate_caregivers tests
  opal/legacy/tests/test_commands.py
Due: mypy

fix: update docstrings, logs, and tests
  opal/legacy/management/commands/migrate_caregivers.py
  opal/legacy/tests/test_commands.py
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

