Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

build(deps): update docker docker tag to v23
  .gitlab-ci.yml
Due: none

fix: detect active menu item for sub pages
  opal/core/templatetags/__init__.py
  opal/core/templatetags/extra_filters.py
  opal/core/tests/test_extra_filters.py
  opal/templates/components/menu_item.html
Due: check-form-novalidate, mypy

change rsubstring to return full text if separator not found
  opal/core/templatetags/extra_filters.py
  opal/core/tests/test_extra_filters.py
Due: mypy

fix: show UUID for patient and caregiver profile in admin
  opal/caregivers/admin.py
  opal/patients/admin.py
Due: mypy

add RegistrationCode modeladmin
  opal/caregivers/admin.py
Due: mypy

feat: prevent data access for deceased patients
  opal/patients/api/serializers.py
Due: mypy

test: add test for demographic update with deceased patient
  opal/patients/api/tests/test_api_views.py
Due: mypy

fix: create private function for preventing access to a deceased patient data
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
Due: mypy

Merge branch 'main' into QSCCD-769.AG.prevent-data-access-for-deceased-patients
  opal/caregivers/api/viewsets.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/api_urls.py
  opal/core/templatetags/__init__.py
  opal/core/templatetags/extra_filters.py
  opal/core/tests/test_api_urls.py
  opal/core/tests/test_extra_filters.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/templates/components/menu_item.html
Due: check-form-novalidate, mypy

fix: use patient caregiver id
  opal/patients/api/serializers.py
Due: mypy

test: add unit test for a deceased patient with care receiver
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

Merge branch 'main' into QSCCD-769.AG.prevent-data-access-for-deceased-patients
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

add striplines filter to fix heading
  opal/core/templatetags/extra_filters.py
  opal/core/tests/test_extra_filters.py
  opal/templates/base.html
Due: check-form-novalidate, mypy

add missing file
  opal/templates/components/confirm_delete.html
Due: check-form-novalidate

fix failing test
  opal/patients/tests/test_views.py
Due: mypy

hide empty content block
  opal/hospital_settings/templates/hospital_settings/index.html
Due: check-form-novalidate

Merge branch 'main' into change-all-pages
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/services/hospital/hospital.py
Due: mypy

refactor: remove old theme
  opal/static/css/fonts/ProximaNovaSoft-Regular.eot
  opal/static/css/fonts/ProximaNovaSoft-Regular.otf
  opal/static/css/fonts/ProximaNovaSoft-Regular.svg
  opal/static/css/fonts/ProximaNovaSoft-Regular.ttf
  opal/static/css/fonts/ProximaNovaSoft-Regular.woff
  opal/static/css/main.css
  opal/static/images/opal_logo_transparent.png
  opal/static/images/opal_logo_transparent_purple.png
  opal/static/plugins/adminlte/css/adminlte.min.css
  opal/static/plugins/adminlte/css/adminlte.min.css.map
  opal/static/plugins/adminlte/js/adminlte.min.js
  opal/static/plugins/adminlte/js/adminlte.min.js.map
  opal/static/plugins/bootstrap/js/bootstrap.bundle.min.js
  opal/static/plugins/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/plugins/fontawesome-free/css/all.min.css
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.woff2
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.woff2
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.woff2
  opal/static/plugins/jquery/jquery.min.js
  opal/static/plugins/jquery/jquery.min.js.map
  opal/templates/base_generic.html
  opal/templates/layouts/base.html
Due: check-form-novalidate

update translations
  locale/fr/LC_MESSAGES/django.po
Due: none

chore(deps): update dependency pandas to v2
  requirements/base.txt
Due: none

fix: fix incorrect validation error to allow existing relationship to be updated
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

feat: set relationship end date when creating an access request
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

fix: add a test function following the code review
  opal/patients/tests/test_views.py
Due: mypy

Merge branch 'main' into QSCCD-901.SF.qrcode-set-relationship-end-date
  opal/caregivers/api/viewsets.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
Due: mypy

refactor: add validator and validator check
  opal/patients/forms.py
  opal/patients/utils.py
  opal/patients/views.py
Due: mypy

Removed changes unrelated to this MR Please enter the commit message for your changes. Lines starting
  opal/patients/views.py
Due: mypy

edited docstring for util.py function
  opal/patients/utils.py
Due: mypy

changed values to values_list
  opal/patients/utils.py
Due: mypy

typo
  opal/patients/utils.py
Due: mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/patients/utils.py
Due: mypy

fixed flake8 pipeline
  opal/patients/utils.py
Due: mypy

make relationship type editable
  opal/patients/forms.py
  opal/patients/templates/patients/relationships/edit_relationships.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

fixed issue with test_forms.py
  opal/patients/tests/test_forms.py
  opal/patients/views.py
Due: mypy

update translation strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

updated utils.py file
  opal/patients/utils.py
Due: mypy

fix: fix the test functions to repaire pipeline - fix the test functions - fix the issues following the code review
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/views.py
Due: mypy

fix: adjust the translation strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

