Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

flake8:
  name: flake8
  description: wemake-python-styleguide++ enforcement
  entry: flake8
  args:
  - --config=setup.cfg
  language: python

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

chore(deps): pin ruamel.yaml.clib to v0.2.8
  requirements/development.txt
Due: none

chore(deps): update dependency coverage to v7.6.4
  requirements/development.txt
Due: none

chore(deps): update dependency django-modeltranslation to v0.19.10
  requirements/base.txt
Due: none

chore(deps): update dependency mkdocs-material to v9.5.42
  requirements/docs.txt
Due: none

chore(deps): update dependency mysqlclient to v2.2.5
  requirements/base.txt
Due: none

chore(deps): update dependency django-cors-headers to v4.5.0
  requirements/base.txt
Due: none

chore(deps): update dependency mypy to v1.12.1
  requirements/development.txt
Due: none

chore(deps): update dependency twilio to v9.3.4
  requirements/base.txt
Due: none

chore(deps): update dependency types-fpdf2 to v2.8.1.20241011
  requirements/development.txt
Due: none

chore(deps): update pre-commit hook adamchainz/django-upgrade to v1.22.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook asottile/pyupgrade to v3.18.0
  .pre-commit-config.yaml
Due: none

chore(deps): update mypy type stubs (patch)
  requirements/development.txt
Due: none

changes from comments
  opal/services/reports/questionnaire.py
Due: flake8, mypy

chore(deps): remove pinning dependency added in commit c2aef7f as musllinux binary is now available
  requirements/development.txt
Due: none

chore(deps): remove pinning dependency added in commit bc1490c as musllinux binary is now available
  requirements/development.txt
Due: none

Apply 1 suggestion(s) to 1 file(s)
  opal/services/reports/pathology.py
Due: flake8, mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/services/reports/questionnaire.py
Due: flake8, mypy

feat: add patient by MRN search
  opal/services/integration/hospital.py
  opal/services/integration/models.py
  opal/services/integration/tests/test_hospital.py
Due: flake8, mypy

Matthias nit and TextStyle n Emphasis
  opal/services/reports/questionnaire.py
Due: flake8, mypy

fix: allow superusers to login to ORMS
  opal/legacy/api/views/orms_auth.py
Due: flake8, mypy

add new opal patient, switch to POST
  opal/services/integration/hospital.py
  opal/services/integration/tests/test_hospital.py
Due: flake8, mypy

remove textbox answers to avoid exposing PII
  opal/legacy_questionnaires/sql/databank_questionnaires_answer.sql
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
Due: none

implement checkin update endpoint
  opal/core/api_urls.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/models.py
Due: flake8, mypy

add unit tests for update checkin endpoint
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/models.py
Due: flake8, mypy

fix: Adjust databank data according to latest REB requirements
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
  opal/legacy_questionnaires/sql/databank_questionnaires_answer.sql
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
Due: flake8, mypy

add additional tests for missing fields
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

refactor: update AppointmentAriaSer to SourceSystemID
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
Due: flake8, mypy

fix docstring
  opal/legacy/api/views/app_appointments.py
Due: flake8, mypy

change patch to post to allow orms to use same endpoint verb
  opal/legacy/api/views/app_appointments.py
Due: flake8, mypy

fix patch to post
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

improve model and enable mypy plugin
  opal/services/integration/hospital.py
  opal/services/integration/models.py
  opal/services/integration/tests/test_hospital.py
  setup.cfg
Due: flake8, mypy

nothing to see here
  opal/services/integration/hospital.py
Due: flake8, mypy

feat: add usage statistics export page
  CHANGELOG.md
  config/urls.py
  locale/fr/LC_MESSAGES/django.po
  opal/templates/sidebar_menu.html
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
  opal/usage_statistics/tests/test_urls.py
  opal/usage_statistics/tests/test_views.py
  opal/usage_statistics/urls.py
  opal/usage_statistics/views.py
Due: check-form-novalidate, flake8, mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  flake8: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

