Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

flake8:
  name: flake8
  description: wemake-python-styleguide++ enforcement
  entry: flake8
  args:
  - --config=setup.cfg
  language: python

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

remove using index to resume the migration
  opal/legacy/management/commands/migrate_legacy_usage_statistics.py
Due: flake8, mypy

fix(data): update test data to match legacy test data
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
Due: flake8, mypy

refactor: switch to fontawesomefree npm package
  opal/static/thirdparty/copy_distribution_files.js
  opal/static/thirdparty/fontawesomefree/css/fontawesome.min.css
  opal/static/thirdparty/fontawesomefree/css/regular.min.css
  opal/static/thirdparty/fontawesomefree/css/solid.min.css
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
  opal/templates/base.html
  requirements/base.txt
Due: check-form-novalidate

feat: enable databank response handling for Questionnaires && Appointments
  CHANGELOG.md
  opal/databank/management/commands/send_databank_data.py
  opal/databank/migrations/0005_shareddata_create_idx.py
  opal/databank/models.py
  opal/databank/tests/test_commands.py
Due: flake8, mypy

fix: improve deployment for gunicorn and whitenoise
  docker/start.sh
  requirements/base.txt
Due: none

fix: properly handle UTC datetimes in DB
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/tests/test_commands.py
Due: flake8, mypy

fix: list conversion issue with large data
  opal/legacy/management/commands/migrate_legacy_usage_statistics.py
  opal/legacy/tests/test_commands.py
Due: flake8, mypy

refactor: switch fontawesomefree to an npm package
  config/settings/base.py
  opal/static/thirdparty/copy_distribution_files.js
  opal/static/thirdparty/fontawesomefree/css/fontawesome.min.css
  opal/static/thirdparty/fontawesomefree/css/regular.min.css
  opal/static/thirdparty/fontawesomefree/css/solid.min.css
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.woff2
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.woff2
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
  opal/templates/base.html
  requirements/base.txt
Due: check-form-novalidate, flake8, mypy

fix: improve find deviations command to handle datetimes and ignore phone numbers
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/tests/test_commands.py
Due: flake8, mypy

fix: use legacy user ID instead of patient ID when finding caregiver deviations
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/tests/test_commands.py
Due: flake8, mypy

fix: Databank sync command - answer questionnaire id field name
  opal/databank/management/commands/send_databank_data.py
  opal/databank/tests/test_commands.py
Due: flake8, mypy

chore: fix default CSRF trusted origins in env sample
  .env.sample
Due: none

fix: change legacy DB timezone to named one
  config/settings/base.py
Due: flake8, mypy

fix: ensure deviation commands raise a CommandError
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/management/commands/find_questionnaire_respondent_deviations.py
  opal/legacy/tests/test_commands.py
Due: flake8, mypy

chore(deps): update dependency twilio to v9.1.1
  requirements/base.txt
Due: none

chore(deps): update dependency mkdocs-material to v9.5.26
  requirements/docs.txt
Due: none

build(deps): update docker docker tag to v26.1.4
  .gitlab-ci.yml
Due: none

chore(deps): update dependency pandas-stubs to v2.2.2.240603
  requirements/development.txt
Due: none

chore(deps): update dependency mkdocs-material to v9.5.27
  requirements/docs.txt
Due: none

chore(deps): update dependency django-crispy-forms to v2.2
  requirements/base.txt
Due: none

fix: use correct status when looking up in progress and completed questionnaires
  opal/legacy/management/commands/find_questionnaire_respondent_deviations.py
Due: flake8, mypy

fix: handle unknown sex in legacy data for patient deviations
  opal/legacy/management/commands/find_deviations.py
Due: flake8, mypy

fix: update query for fetching unread lab results
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
Due: flake8, mypy

feat: add usage statistics query for fetching aggregated patients received data summary
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_commands.py
  opal/usage_statistics/tests/test_queries.py
Due: flake8, mypy

build: remove crond and use non-root user
  .gitlab-ci.yml
  Dockerfile
  README.md
  docker/crontab
  docker/docker-entrypoint.sh
  scripts/check_crontab.sh
Due: none

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  flake8: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

