Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

docs: Add opal users app design
  docs/apps/users.md
  mkdocs.yml
Due: none

feat: Add patient model
  opal/patients/__init__.py
  opal/patients/apps.py
  opal/patients/migrations/0001_initial.py
  opal/patients/migrations/__init__.py
  opal/patients/models.py
  opal/settings.py
Due: mypy

docs: Add page about caregivers app and update diagrams
  docs/apps/caregivers.md
  docs/apps/users.md
  mkdocs.yml
Due: none

fix: some typos
  opal/patients/models.py
Due: mypy

refactor： improve Relationship return function
  opal/patients/models.py
Due: mypy

fix: Rename migration
  opal/patients/migrations/0002_patient_relationship.py
Due: mypy

feat: add the factory for Patient model
  opal/hospital_settings/factories.py
Due: mypy

docs: update CHANGELOG.md file
  CHANGELOG.md
Due: none

Remove the attribute blank from names
  opal/patients/migrations/0004_remove_fname_lname_blank_attribute.py
  opal/patients/models.py
Due: mypy

chore(deps): Improve Renovate config for Python
  renovate.json5
Due: none

chore(deps): Disable automatic rebasing of stale PRs
  renovate.json5
Due: none

style: Fix typo in comment
  renovate.json5
Due: none

ci: Add Django and safety checks
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
Due: none

refactor: Move RelationshipType to patients app
  opal/hospital_settings/admin.py
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/models.py
  opal/hospital_settings/tests/test_models.py
  opal/hospital_settings/translation.py
  opal/patients/__init__.py
  opal/patients/admin.py
  opal/patients/apps.py
  opal/patients/constants.py
  opal/patients/factories.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0001_relationshiptype.py
  opal/patients/migrations/__init__.py
  opal/patients/models.py
  opal/patients/tests/__init__.py
  opal/patients/tests/test_models.py
  opal/patients/translation.py
  opal/settings.py
Due: mypy

refactor: Remove unused module
  opal/utils/__init__.py
Due: mypy

chore: Add pytest-socket
  pytest.ini
  requirements/development.txt
Due: none

chore(deps): update dependency django-cors-headers to v3.12.0
  requirements/base.txt
Due: none

build(deps): update dependency python to v3.9.12
  .gitlab-ci.yml
  Dockerfile
Due: none

chore(deps): update dependency mkdocs-material to v8.2.15
  requirements/docs.txt
Due: none

test: Add session fixture to allow Django to test using unmanaged models
  opal/legacy/tests/conftest.py
Due: mypy

ci: Add legacy DB support
  .gitlab-ci.yml
Due: none

docs: Add documentation about legacy db connection
  .gitlab-ci.yml
  docs/authentication.md
  docs/legacy_db.md
  mkdocs.yml
  opal/patients/factories.py
Due: mypy

docs: Add note about legacy db to README
  README.md
Due: none

docs: Fix testing section
  docs/legacy_db.md
Due: none

docs: Fix typo and improve models documentation
  opal/core/dbrouters.py
  opal/legacy/models.py
Due: mypy

fix: Update old opal admin url
  .env.sample
  opal/core/tests/test_views.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy

test: Fix loginrequired API test
  opal/core/tests/test_middleware.py
Due: mypy

test: CI test for pytest
  opal/core/tests/test_api_urls.py
Due: mypy

chore(deps): update dependency pytest-randomly to v3.12.0
  requirements/development.txt
Due: none

chore(deps): update mypy type stubs
  requirements/development.txt
Due: none

WIP: Get all data needed for the app home view request
  opal/core/api_urls.py
  opal/legacy/api/__init__.py
  opal/legacy/api/views.py
  opal/legacy/models.py
  setup.cfg
Due: mypy

Add changelog to file
  CHANGELOG.md
Due: none

test: Fix location of legacy conftest
  opal/legacy/conftest.py
Due: mypy

test: Move session fixture to project conftest
  docs/legacy_db.md
  opal/conftest.py
  opal/legacy/conftest.py
Due: mypy

Just the models
  opal/legacy/models.py
Due: mypy

refactor: Make use of CreateUpdateView
  opal/hospital_settings/tests/test_forms.py
  opal/hospital_settings/tests/test_models.py
  opal/hospital_settings/tests/test_urls.py
  opal/hospital_settings/urls.py
  opal/hospital_settings/views.py
Due: mypy

trigger ci tests
  opal/patients/migrations/0002_patient_relationship.py
Due: mypy

Recover the port
  docker-compose.yml
Due: none

Fixed model _str_
  opal/patients/models.py
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

