Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

Merge branch 'main' into QSCCD-1287.KA.pathology-app
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/chart_display.html
Due: check-form-novalidate

feat: pin patient name for wearables data graphs
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/chart_display.html
Due: check-form-novalidate

chore: merge main
  CHANGELOG.md
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/managers.py
  opal/health_data/models.py
  opal/health_data/tests/test_managers.py
  opal/health_data/tests/test_views.py
  opal/health_data/utils.py
  opal/health_data/views.py
  opal/services/charts.py
  opal/services/tests/test_charts.py
Due: mypy

feat: add custom tooltip to relationship type radio options
  opal/core/forms/widgets.py
  opal/patients/forms.py
  opal/patients/templates/patients/access_request/access_request.html
Due: check-form-novalidate, mypy

fix fix pytest coverage
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

fix fix annotation
  opal/patients/tests/test_forms.py
Due: mypy

Merge branch 'main' into QSCCD-916.LL.tooltip-for-relatinoship-type
  CHANGELOG.md
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/managers.py
  opal/health_data/models.py
  opal/health_data/templates/chart_display.html
  opal/health_data/tests/test_managers.py
  opal/health_data/tests/test_views.py
  opal/health_data/utils.py
  opal/health_data/views.py
  opal/services/charts.py
  opal/services/tests/test_charts.py
Due: check-form-novalidate, mypy

fix fix patient age range display format
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

fix fix function annotation
  opal/core/forms/widgets.py
Due: mypy

revert revert function annotation
  opal/core/forms/widgets.py
Due: mypy

fix fix test function name
  opal/patients/tests/test_forms.py
Due: mypy

feat add translation for description string
  opal/core/forms/widgets.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: mypy

test test bootstrap tooltip
  opal/core/forms/widgets.py
  opal/static/js/global.js
  opal/templates/base.html
Due: check-form-novalidate, mypy

Merge branch 'main' into QSCCD-916.LL.tooltip-for-relatinoship-type
  requirements/development.txt
  requirements/docs.txt
Due: none

add test coverage
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

Merge branch 'main' into QSCCD-1285.KA.api-patient-exists
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/chart_display.html
Due: check-form-novalidate

Merge branch 'main' into QSCCD-1285.KA.api-patient-exists
  CHANGELOG.md
  opal/settings.py
  opal/test_results/__init__.py
  opal/test_results/factories.py
  opal/test_results/locale/fr/LC_MESSAGES/django.po
  opal/test_results/migrations/0001_initial.py
  opal/test_results/migrations/__init__.py
  opal/test_results/models.py
  opal/test_results/tests/__init__.py
  opal/test_results/tests/test_models.py
Due: mypy

adjust serializer reponse in api
  opal/core/api_urls.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

feat: switch save and cancel buttons
  opal/patients/forms.py
Due: mypy

fix: remove file
  diagram.puml
Due: none

feat: make the buttons in filter stay same purple and grey
  opal/core/forms/layouts.py
  opal/patients/filters.py
Due: mypy

feat: add borders css file
  opal/static/css/borders.css
  opal/static/css/cards.css
Due: none

feat: update buttons css
  opal/static/css/buttons.css
Due: none

feat: add cards css file
  opal/static/css/cards.css
Due: none

feat: update styles.css file
  opal/static/css/styles.css
Due: none

fix: change and update themes
  opal/static/css/borders.css
  opal/static/css/buttons.css
  opal/static/css/cards.css
  opal/static/css/styles.css
  opal/static/css/tables.css
Due: none

feat: switch buttons, update access-request table themes
  opal/patients/tables.py
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/templates/patients/relationship_type/form.html
  opal/patients/templates/patients/relationship_type/list.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
Due: check-form-novalidate, mypy

fix: remove the generic div in base file and add one in each file separately
  opal/templates/base.html
Due: check-form-novalidate

fix: add comments
  opal/static/css/nav-pills.css
Due: none

fix: fix failing tests
  opal/core/tests/test_form_layouts.py
  opal/templates/sidebar.html
Due: check-form-novalidate, mypy

feat: switch save and cancel button positions
  opal/hospital_settings/forms.py
Due: mypy

feat: add new block to override when working area space is not needed or to be customized
  opal/templates/base.html
Due: check-form-novalidate

feat: change back button to red (remove exception)
  opal/templates/components/form_cancel.html
Due: check-form-novalidate

fix: update comments
  opal/static/css/buttons.css
Due: none

i18n: fix translations
  locale/fr/LC_MESSAGES/django.po
Due: none

fix: remove top margin in requestor details block
  opal/patients/templates/patients/access_request/access_request.html
Due: check-form-novalidate

fix: fix opalADMIN remove space
  opal/templates/sidebar.html
Due: check-form-novalidate

fix: remove black color from submenu
  opal/static/css/sidebar.css
Due: none

fix: fix spacing
  opal/static/css/buttons.css
Due: none
