Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix: apply suggestion
  opal/patients/tests/test_views.py
Due: mypy

fix: fix test for utils
  opal/patients/tests/test_utils.py
Due: mypy

fix: add validation of Pending status not apply for Self role in relationship model
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

fix: adjust test cases
  opal/patients/tests/test_models.py
Due: mypy

Revert "small fixes"
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/new_access_request.html
  opal/patients/views.py
  opal/templates/components/form_submit.html
Due: check-form-novalidate, mypy

fix translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

improve test function docstrings
  opal/patients/tests/test_utils.py
Due: mypy

Merge remote-tracking branch 'origin/main' into access-request-fixes2
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

fix issue with duplicate usernames
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

fix docstring
  opal/patients/utils.py
Due: mypy

add full_clean for caregiver
  opal/patients/utils.py
Due: mypy

Merge remote-tracking branch 'origin/main' into access-request-fixes2
  .env.sample
  .gitignore
  Dockerfile
  README.md
  certs/.gitkeep
  docker-compose.ssl.yml
  docker-compose.yml
  docker/mariadb/config/ssl.cnf
  docker/mariadb/scripts/grant_test_db.sh
  opal/settings.py
  requirements/base.txt
Due: mypy

Merge remote-tracking branch 'origin/main' into access-request-fixes2
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/templates/hospital_settings/site/site_form.html
  opal/patients/templates/patients/relationship_type/form.html
  opal/patients/templates/patients/relationships/view_relationship.html
  opal/patients/tests/test_tables.py
  opal/templates/components/confirm_delete.html
  opal/templates/components/form_actions.html
  opal/templates/components/form_back.html
  opal/templates/components/form_cancel.html
Due: check-form-novalidate, mypy

test: fix flaky tests by mocking current datetime
  opal/patients/tests/test_tables.py
Due: mypy

fix mock
  opal/patients/tests/test_tables.py
Due: mypy

draft: some changes in the patient search
  opal/patients/forms.py
  opal/patients/views.py
Due: mypy

fix: make some progress
  opal/patients/forms.py
Due: mypy

fix: adjust comments
  opal/services/hospital/tests/test_hospital.py
Due: mypy

fix: remove wrong file
  diagram.puml
Due: none

fix: add more details solve more todos
  opal/patients/forms.py
Due: mypy

fix: message verbiage for deceased patients according to ticket QSCCD-933
  opal/patients/forms.py
Due: mypy

fix: add translation string
  opal/patients/forms.py
Due: mypy

fix: fix test to have unique mrn per site
  opal/patients/forms.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-1164-patient_search_oie_error_msg
  requirements/development.txt
Due: none

refactor: add validators file in patients app to validate all patients related checks
  opal/patients/validators.py
Due: mypy

fix: add validators to patient app
  opal/patients/validators.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-1164-patient_search_oie_error_msg
  requirements/base.txt
Due: none

yup
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
Due: mypy

consider language
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
Due: mypy

fix language for bart
  opal/core/management/commands/insert_test_data.py
Due: mypy

Merge remote-tracking branch 'origin/main' into add-security-answers
  opal/patients/forms.py
Due: mypy

small fixes
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/new_access_request.html
  opal/patients/views.py
  opal/templates/components/form_submit.html
Due: check-form-novalidate, mypy

Merge remote-tracking branch 'origin/main' into access-request-fixes3
  .env.sample
  .gitignore
  Dockerfile
  README.md
  certs/.gitkeep
  docker-compose.ssl.yml
  docker-compose.yml
  docker/mariadb/config/ssl.cnf
  docker/mariadb/scripts/grant_test_db.sh
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/templates/hospital_settings/site/site_form.html
  opal/patients/templates/patients/relationship_type/form.html
  opal/patients/templates/patients/relationships/view_relationship.html
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/settings.py
  opal/templates/components/confirm_delete.html
  opal/templates/components/form_actions.html
  opal/templates/components/form_back.html
  opal/templates/components/form_cancel.html
  requirements/base.txt
Due: check-form-novalidate, mypy

remove usage of old template
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

Merge remote-tracking branch 'origin/main' into access-request-fixes3
  requirements/development.txt
Due: none

fix: improve SSL setup
  docker-compose.ssl.yml
  opal/settings.py
Due: mypy
