Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

more fixes
  opal/databank/management/commands/send_databank_data.py
  opal/legacy/managers.py
Due: mypy

add comments
  opal/usage_statistics/queries.py
Due: mypy

changes
  opal/databank/management/commands/send_databank_data.py
  opal/legacy/managers.py
Due: mypy

more fixes
  opal/core/utils.py
  opal/databank/management/commands/send_databank_data.py
  opal/legacy/managers.py
  opal/usage_statistics/queries.py
  opal/usage_statistics/utils.py
Due: mypy

remove explicit passing of request
  opal/templates/sidebar_menu.html
Due: check-form-novalidate

fix test
  opal/services/fhir/tests/test_fhir.py
Due: mypy

fix: replace python-jose with joserfc
  THIRDPARTY.md
  opal/services/fhir/utils.py
  pyproject.toml
  uv.lock
Due: mypy

remove python-jose
  pyproject.toml
  uv.lock
Due: none

properly derive key
  opal/patients/api/tests/test_api_views.py
  opal/services/fhir/tests/test_utils.py
  opal/services/fhir/utils.py
Due: mypy

Apply suggestion from @mschoettle
  opal/patients/api/tests/test_api_views.py
Due: mypy

fix typing
  opal/legacy/utils.py
  opal/usage_statistics/queries.py
Due: mypy

fix: replace python-jose with joserfc (#2043)
  THIRDPARTY.md
  opal/patients/api/tests/test_api_views.py
  opal/services/fhir/tests/test_utils.py
  opal/services/fhir/utils.py
  pyproject.toml
  uv.lock
Due: mypy

fix typing
  opal/legacy/utils.py
Due: mypy

fix doc error
  mkdocs.yml
Due: none

exclude BaseModel from TC003
  opal/services/integration/schemas.py
  ruff.toml
Due: mypy

revert change to conftest
  opal/conftest.py
Due: mypy

fix coverage
  opal/patients/views.py
Due: mypy

move LazySettings out of TC block
  opal/conftest.py
Due: mypy

revert pytest-django change
  pyproject.toml
  uv.lock
Due: none

fix: replace legacy python handler with new mkdocstrings-python handler
  docs/gen_reference_nav.py
  docs/mock_django.py
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: mypy

fix: replace legacy python handler with new mkdocstrings-python handler (#2045)
  docs/gen_reference_nav.py
  docs/mock_django.py
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: mypy

add source maps
  opal/static/thirdparty/copy_distribution_files.js
  opal/static/thirdparty/unpoly/css/unpoly.min.css.map
  opal/static/thirdparty/unpoly/js/unpoly.min.js.map
Due: none

block scripts in fragments
  opal/static/js/global.js
Due: none

fix reuse problems
  .pre-commit-config.yaml
  REUSE.toml
Due: none

chore(deps): downgrade authlib to v1.6.11
  pyproject.toml
  uv.lock
Due: none

Revert "fix(deps): update dependency authlib to v1.7.0 (#2042)"
  opal/services/fhir/tests/test_fhir.py
  uv.lock
Due: mypy

Reapply part of "fix(deps): update dependency authlib to v1.7.0 (#2042)"
  uv.lock
Due: none

chore(deps): downgrade authlib to v1.6.11 (#2050)
  opal/services/fhir/tests/test_fhir.py
  pyproject.toml
  uv.lock
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

