Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

flake8:
  name: flake8
  description: wemake-python-styleguide++ enforcement
  entry: flake8
  args:
  - --config=setup.cfg
  language: python

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

Merge branch 'main' into questionnaire-template-file
  opal/legacy/managers.py
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_queries.py
Due: flake8, mypy

Merge branch 'main' into questionnaire-template-file
  .env.sample
  .gitlab-ci.yml
  .pre-commit-config.yaml
  config/settings/base.py
  opal/core/drf_permissions.py
  opal/core/tests/test_form_layouts.py
  opal/templates/bootstrap5/layout/formactions.html
  opal/users/api/viewsets.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, flake8, mypy

fix: allow superusers to login to ORMS
  opal/legacy/api/views/orms_auth.py
Due: flake8, mypy

update AppointmentAriaSer to SourceSystemID
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
Due: flake8, mypy

Merge branch 'main' into OP-18.ka.update-appointmentariaser
  config/settings/base.py
  opal/caregivers/api/serializers.py
  opal/core/drf_permissions.py
  opal/databank/management/commands/send_databank_data.py
  opal/legacy/managers.py
  opal/patients/managers.py
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_utils.py
  opal/usage_statistics/utils.py
  opal/users/admin.py
  opal/users/models.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: flake8, mypy

Merge branch 'main' into OP-18.ka.update-appointmentariaser
  .pre-commit-config.yaml
  opal/legacy/api/views/orms_auth.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: flake8, mypy

fix data type
  opal/legacy/models.py
Due: flake8, mypy

missing max-length
  opal/legacy/models.py
Due: flake8, mypy

chore(deps): update dependency mkdocstrings to v0.26.2
  requirements/docs.txt
Due: none

chore(deps): pin ruamel.yaml.clib to v0.2.8
  requirements/development.txt
Due: none

chore(deps): update dependency pillow to v11
  requirements/base.txt
Due: none

Update license text
  THIRDPARTY.md
Due: none

chore(deps): update dependency ruamel.yaml.clib to v0.2.12
  requirements/development.txt
Due: none

exclude unknown sex patients
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
Due: flake8, mypy

add unit tests for update checkin endpoint
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/models.py
Due: flake8, mypy

add additional tests for missing fields
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

Merge branch 'main' into OP-18.ka.add-appointment-checkin-endpoint
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
  opal/legacy_questionnaires/sql/databank_questionnaires_answer.sql
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
Due: flake8, mypy

fix docstring
  opal/legacy/api/views/app_appointments.py
Due: flake8, mypy

change patch to post to allow orms to use same endpoint verb
  opal/legacy/api/views/app_appointments.py
Due: flake8, mypy

fix patch to post
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

adjust serializer
  opal/legacy/api/serializers.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/models.py
Due: flake8, mypy

feat: implement IsOrms system permission for appointment checkin endpoint
  opal/conftest.py
  opal/core/constants.py
  opal/core/drf_permissions.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/core/tests/test_drf_permissions.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

Merge branch 'main' into OP-18.ka.add-appointment-checkin-endpoint
  CHANGELOG.md
  config/urls.py
  locale/fr/LC_MESSAGES/django.po
  opal/legacy/managers.py
  opal/templates/sidebar_menu.html
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
  opal/usage_statistics/tests/test_urls.py
  opal/usage_statistics/tests/test_views.py
  opal/usage_statistics/urls.py
  opal/usage_statistics/views.py
Due: check-form-novalidate, flake8, mypy

use validated data instead of request data in view
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

Merge branch 'main' into OP-18.ka.add-appointment-checkin-endpoint
  .env.sample
  .gitlab-ci.yml
  .pre-commit-config.yaml
  config/settings/base.py
  opal/core/tests/test_form_layouts.py
  opal/templates/bootstrap5/layout/formactions.html
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_queries.py
  opal/users/api/viewsets.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, flake8, mypy

unused ignore mypy
  opal/core/drf_permissions.py
Due: flake8, mypy

Merge branch 'main' into OP-18.ka.add-appointment-checkin-endpoint
  config/settings/base.py
  opal/core/constants.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/managers.py
  opal/legacy/models.py
Due: flake8, mypy

fix unit tests
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
Due: flake8, mypy

feat: add ORMS system enabled config variable
  .env.sample
  config/settings/base.py
  opal/conftest.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/legacy/management/commands/update_orms_patients.py
  opal/legacy/tests/test_commands.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/services/orms/orms_communication.py
Due: flake8, mypy

Merge branch 'main' into OP-18.ka.add-appointment-checkin-endpoint
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Dockerfile
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: none

minor fixes
  opal/legacy/api/views/app_appointments.py
  opal/patients/utils.py
  opal/services/orms/orms_communication.py
Due: flake8, mypy

feat: add usage statistics export page
  config/urls.py
  locale/fr/LC_MESSAGES/django.po
  opal/templates/sidebar_menu.html
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
  opal/usage_statistics/tests/test_urls.py
  opal/usage_statistics/urls.py
  opal/usage_statistics/views.py
Due: check-form-novalidate, flake8, mypy

test: add unit tests
  opal/usage_statistics/tests/test_urls.py
  opal/usage_statistics/tests/test_views.py
Due: flake8, mypy

docs: update changelog
  CHANGELOG.md
Due: none

implement IsOrms system permission for appointment checkin endpoint
  opal/conftest.py
  opal/core/constants.py
  opal/core/drf_permissions.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_drf_permissions.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

adjust permissions and tests
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

fix comment in fixture
  opal/conftest.py
Due: flake8, mypy

update permission classes container to tuple
  opal/legacy/api/views/app_appointments.py
Due: flake8, mypy

remove unnecessary appuserid from unit test
  opal/conftest.py
  opal/core/drf_permissions.py
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

feat: add usage statistics export form
  opal/usage_statistics/forms.py
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
  opal/usage_statistics/views.py
Due: check-form-novalidate, flake8, mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  flake8: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

