Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

flake8:
  name: flake8
  description: wemake-python-styleguide++ enforcement
  entry: flake8
  args:
  - --config=setup.cfg
  language: python

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

fix: update aggregated application activity statistics query
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
  opal/usage_statistics/tests/test_commands.py
Due: flake8, mypy

feat: create export usage stats result query to csv/ xlsx
  .env.sample
  config/settings/base.py
  opal/usage_statistics/tests/test_utils.py
  opal/usage_statistics/utils.py
Due: flake8, mypy

add list view for patient setting
  opal/core/views.py
  opal/patients/filters.py
  opal/patients/templates/patients/patient_settings/list.html
  opal/patients/urls.py
  opal/patients/views.py
Due: check-form-novalidate, flake8, mypy

style: more refactoring
  opal/databank/management/commands/send_databank_data.py
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/management/commands/find_questionnaire_respondent_deviations.py
  opal/legacy/management/commands/update_orms_patients.py
Due: flake8, mypy

fix: remove usage stats path in env file
  .env.sample
  config/settings/base.py
  opal/usage_statistics/tests/test_utils.py
  opal/usage_statistics/utils.py
Due: flake8, mypy

style: more refactoring
  opal/legacy/tests/test_commands.py
Due: flake8, mypy

style: more refactoring
  opal/patients/api/views.py
Due: flake8, mypy

fix broken tests
  opal/databank/tests/test_commands.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/questionnaires/queries.py
Due: flake8, mypy

upgrade everything
  opal/pharmacy/api/views.py
  opal/services/charts.py
  opal/services/reports.py
  opal/services/tests/test_charts.py
  setup.cfg
Due: flake8, mypy

fix translation format
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/queries.py
Due: flake8, mypy

fix translation
  opal/patients/forms.py
Due: flake8, mypy

fix translation issue for real
  opal/patients/forms.py
Due: flake8, mypy

ci: run pre-commit on all files
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

add comment
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency mkdocs-material to v9.5.30
  requirements/docs.txt
Due: none

chore(deps): update dependency plotly to v5.23.0
  requirements/base.txt
Due: none

chore(deps): update dependency mypy to v1.11.0
  requirements/development.txt
Due: none

chore(deps): update dependency mkdocstrings to v0.25.2
  requirements/docs.txt
Due: none

chore(deps): update dependency pytest to v8.3.2
  requirements/development.txt
Due: none

chore(deps): update pre-commit hook asottile/pyupgrade to v3.17.0
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency pre-commit to v3.8.0
  requirements/development.txt
Due: none

build(deps): update docker docker tag to v27.1.1
  .gitlab-ci.yml
  Dockerfile
Due: none

chore: add django upgrade for automatic updates for Django versions
  .pre-commit-config.yaml
  opal/patients/views.py
  opal/users/admin.py
  setup.cfg
Due: flake8, mypy

fix(deps): update dependency @fortawesome/fontawesome-free to v6.6.0
  opal/static/thirdparty/fontawesomefree/css/fontawesome.min.css
  opal/static/thirdparty/fontawesomefree/css/regular.min.css
  opal/static/thirdparty/fontawesomefree/css/solid.min.css
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.woff2
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.woff2
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
Due: none

fix(deps): update dependency unpoly to v3.8.0
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
  opal/static/thirdparty/unpoly/css/unpoly.min.css
  opal/static/thirdparty/unpoly/js/unpoly.min.js
Due: none

chore: improve Renovate config to receive alpine updates
  renovate.json5
Due: none

chore(deps): update dependency mypy to v1.11.1
  requirements/development.txt
Due: none

chore(deps): update dependency django to v4.2.15
  requirements/base.txt
Due: none

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  flake8: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

