Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

Fixed model _str_
  opal/patients/models.py
Due: mypy

Added HospitalPatient related test functions
  opal/patients/factories.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

Fixed CI test
  opal/patients/migrations/0004_hospitalpatient.py
Due: mypy

Fixed the code
  opal/patients/factories.py
  opal/patients/migrations/0004_hospitalpatient.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

Fixed the code
  opal/patients/tests/test_models.py
Due: mypy

Fixed exception type
  opal/patients/tests/test_models.py
Due: mypy

Fixed the model
  opal/patients/migrations/0004_hospitalpatient.py
  opal/patients/models.py
Due: mypy

Fixed the model test function
  opal/patients/tests/test_models.py
Due: mypy

Fixed flake8 error
  opal/patients/tests/test_models.py
Due: mypy

Added test function for model hospitalpatient
  opal/patients/tests/test_models.py
Due: mypy

Added test function many patients to one site
  opal/patients/tests/test_models.py
Due: mypy

Fixed the model unique constrain
  opal/patients/migrations/0004_hospitalpatient.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

Fixed the test functions name and description
  opal/patients/tests/test_models.py
Due: mypy

Added related translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

Fixed the translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

Fixed the model verbose name Fixed the model translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0004_hospitalpatient.py
  opal/patients/models.py
Due: mypy

Updated the verbose name for the field is active
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0004_hospitalpatient.py
  opal/patients/models.py
Due: mypy

Fixed the default value for the factory
  opal/patients/factories.py
Due: mypy

chore: Enable atomic requests
  opal/settings.py
Due: mypy

test: Add DB access to favicon test
  opal/core/tests/test_urls.py
Due: mypy

docs: Improve documentation content
  docs/apps/new_app.md
  docs/apps/patients.md
  docs/translation.md
  mkdocs.yml
Due: none

docs: Improved translation documentation
  docs/translation.md
Due: none

Fix pytest issue with database connection
  .env.sample
  README.md
  opal/settings.py
Due: mypy

Fix readme.md according to code review
  README.md
Due: none

Fix typo
  README.md
Due: none

Merge branch 'main' into QSCCD-41.DG.fix-pytest-database-connection-errors
  requirements/docs.txt
Due: none

feat: add gps location fields longitude and latitude
  opal/hospital_settings/api/serializers.py
  opal/hospital_settings/factories.py
  opal/hospital_settings/templates/hospital_settings/site/site_detail.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/hospital_settings/tests/test_forms.py
  opal/hospital_settings/tests/test_views.py
  opal/hospital_settings/views.py
Due: check-form-novalidate, mypy

feat: add translation file to gps location fields longitude and latitude
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

feat: resolve remove print statement gps location fields longitude and latitude
  opal/hospital_settings/tests/test_views.py
Due: mypy

feat: update migration files for gps location
  opal/hospital_settings/migrations/0006_add_gps_location.py
Due: mypy

chore(deps): update dependency requests to v2.28.0
  requirements/base.txt
Due: none

Added model RegistrationCode Added related factories and translation Added related test functions
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/factories.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/migrations/0002_registrationcode.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: mypy

Added comments for string model references
  opal/caregivers/factories.py
  opal/caregivers/models.py
Due: mypy

build deps set field code as unique build deps fix the clean function for model RegistrationCode test deps fix related test functions
  opal/caregivers/migrations/0002_registrationcode.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
Due: mypy

docs deps add comment for the clean of RegistrationCode
  opal/caregivers/models.py
Due: mypy

test deps fixed the field validation test
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
Due: mypy

build deps fix the verbose name test deps fix the field validation tests docs updated model migration file
  opal/caregivers/factories.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/migrations/0002_registrationcode.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
Due: mypy

Fixed the verbose name
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/migrations/0002_registrationcode.py
  opal/caregivers/models.py
Due: mypy

Docs deps add more details for model annotation
  opal/caregivers/models.py
Due: mypy
