Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

ci: split Django checks into individual jobs
  .gitlab-ci.yml
Due: none

improve comment
  .gitlab-ci.yml
Due: none

test: fix mock timezone.now
  opal/legacy/api/views/tests/test_app_home.py
Due: mypy

test: commented strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

revert: test: commented strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

feat: Add password confirmation by user before proceeding
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

fix: fix the issues following the code review
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

feat: Move reporting tool templates into OpalAdmin (Assembly MR)
  .env.sample
  .gitignore
  .gitlab-ci.yml
  docs/apps/questionnaires.md
  opal/conftest.py
  opal/core/audit.py
  opal/questionnaires/admin.py
  opal/questionnaires/backend.py
  opal/questionnaires/factories.py
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/migrations/0001_initial.py
  opal/questionnaires/migrations/0002_questionnaire_profile.py
  opal/questionnaires/models.py
  opal/questionnaires/tables.py
  opal/questionnaires/templates/questionnaires/export_reports/exportreports.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-dashboard.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/questionnaires/tests/test_models.py
  opal/questionnaires/tests/test_urls.py
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/urls.py
  opal/questionnaires/views.py
  opal/settings.py
  opal/static/js/query.js
  opal/static/js/reports.js
  opal/templates/layouts/base.html
  opal/tests/sql/test_QuestionnaireDB.sql
  requirements/base.txt
  setup.cfg
Due: check-form-novalidate, mypy

refactor: query adjustments
  opal/questionnaires/backend.py
  opal/questionnaires/queries.py
  opal/questionnaires/views.py
  setup.cfg
Due: mypy

translations
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

update schema
  pytest.ini
Due: none

TEMP: print for debug
  opal/questionnaires/views.py
  pytest.ini
Due: mypy

revert query settings debug
  opal/questionnaires/queries.py
Due: mypy

drop prints
  opal/questionnaires/views.py
Due: mypy

perf: combine executes
  opal/questionnaires/queries.py
Due: mypy

refactor: queries adjustments
  .env.sample
  opal/questionnaires/queries.py
  opal/settings.py
Due: mypy

debug print
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/views.py
Due: mypy

revert changes
  opal/questionnaires/queries.py
  opal/questionnaires/views.py
Due: mypy

add tests
  opal/questionnaires/queries.py
  opal/questionnaires/tests/test_queries.py
  pytest.ini
Due: mypy

chore: merge from main
  CHANGELOG.md
  opal/patients/factories.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0010_can_answer_questionnaire.py
  opal/patients/migrations/0011_patient_date_of_death.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
Due: mypy

chore: merge
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tables.py
  opal/patients/templates/patients/relationships-search/form.html
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy

fix: add accessor for the relationship_type
  opal/patients/tables.py
Due: mypy

fix: update translation strings
  opal/patients/filters.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: mypy

feat: add action buttons
  opal/patients/tables.py
  opal/templates/tables/edit_pencil_icon.html
Due: check-form-novalidate, mypy

fix: add TODOs for the action_column template
  opal/patients/tables.py
Due: mypy

feat: add prepopulate and tests
  opal/patients/migrations/0011_prepopulate_relationshiptype.py
  opal/patients/models.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
Due: mypy

simplify clean logic
  opal/patients/models.py
Due: mypy

test: adjust tests to match new pre-population
  opal/patients/factories.py
  opal/patients/migrations/0011_prepopulate_relationshiptype.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  pytest.ini
Due: mypy

perf: switch pytest back to reuse-db after adjusting schema
  pytest.ini
Due: none

feat: add reverse migration and adjust tests
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0011_prepopulate_relationshiptype.py
  opal/patients/tests/test_migrations.py
  pytest.ini
Due: mypy

switch back to reuse db mode
  pytest.ini
Due: none

add reverse migration test
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_views.py
Due: mypy

adjust clean logic & reset migrator
  opal/patients/models.py
  opal/patients/tests/test_migrations.py
  pytest.ini
Due: mypy

test: test migration tests
  opal/patients/migrations/0011_prepopulate_relationshiptype.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  pytest.ini
Due: mypy

test the migration tests
  opal/patients/migrations/0011_prepopulate_relationshiptype.py
  opal/patients/tests/test_migrations.py
  setup.cfg
Due: mypy

test: add specific test to ensure the tests have the default relationship types available
  opal/patients/tests/test_models.py
Due: mypy

switch to create-db pytest mode to fix migration testing error
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  pytest.ini
Due: mypy

feat: update role access by adding new permission to relationship, and institution models.
  opal/conftest.py
  opal/hospital_settings/tests/test_views.py
  opal/hospital_settings/views.py
  opal/patients/migrations/0012_alter_relationship_options.py
  opal/patients/models.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy
