Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix: remove unnecessary styling
  opal/templates/sidebar.html
Due: check-form-novalidate

fix: switch cancel and save positions
  opal/hospital_settings/templates/hospital_settings/site/site_form.html
Due: check-form-novalidate

fix: remove content css file and move it to global
  opal/static/css/global.css
Due: none

fix: fix failing tests
  opal/patients/tests/test_views.py
Due: mypy

fix: remove unncessary line 122 in layouts.py file
  opal/core/forms/layouts.py
Due: mypy

fix: fix indentaion in access request file
  opal/patients/templates/patients/access_request/access_request.html
Due: check-form-novalidate

fix: fix sidebar comment format
  opal/templates/sidebar.html
Due: check-form-novalidate

update translations
  opal/test_results/locale/fr/LC_MESSAGES/django.po
Due: none

fix factory
  opal/test_results/factories.py
Due: mypy

fix case number field name and move filler field to help text
  opal/test_results/migrations/0002_add_reported_at_case_number.py
  opal/test_results/models.py
Due: mypy

translate
  opal/core/api_urls.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

feat: add user-data class to be used when representing user data in html
  opal/static/css/cards.css
  opal/static/css/global.css
Due: none

fix: cards css
  opal/static/css/cards.css
Due: none

fix: revert to earlier versions of settings and docker
  docker-compose.yml
  opal/settings.py
Due: mypy

fix: comment sidebar
  opal/templates/sidebar.html
Due: check-form-novalidate

feat: use tables in managecaregiver acess view
  opal/patients/views.py
Due: mypy

i18n: fix translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: reuse variable relationship_record
  opal/patients/views.py
Due: mypy

fix: reuse context_data object
  opal/patients/views.py
Due: mypy

fix: make more efficient if statement
  opal/patients/views.py
Due: mypy

refactor: catch undefined update URL in action column template
  opal/templates/tables/action_column.html
Due: check-form-novalidate

fix: catch mismatches of data access level
  opal/legacy/factories.py
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/tests/test_commands.py
Due: mypy

remove string mapping variables and use regular ones for queries
  opal/questionnaires/queries.py
Due: mypy

fix: use plural form for the GeneralTest
  opal/test_results/migrations/0003_use_plural_form_for_related_fields.py
  opal/test_results/models.py
Due: mypy

Merge branch 'main' into fix-related-names-for-general-test
  opal/legacy/factories.py
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/tests/test_commands.py
  opal/questionnaires/queries.py
Due: mypy

feat: add create model permissions
  opal/core/drf_permissions.py
Due: mypy

Merge branch 'main' into add-create-model-permissions
  opal/legacy/factories.py
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/tests/test_commands.py
  opal/questionnaires/queries.py
Due: mypy

Merge branch 'main' into add-create-model-permissions
  opal/test_results/migrations/0003_use_plural_form_for_related_fields.py
  opal/test_results/models.py
Due: mypy

tests: add unit test for the url
  opal/core/tests/test_api_urls.py
  opal/patients/api/views.py
Due: mypy

fix: use CreateModelPermissions
  opal/test_results/api/views.py
Due: mypy

fix: add queryset to the CreatePathologyView
  opal/test_results/api/views.py
Due: mypy

tests: add unit tests for the pathology create endpoint
  opal/test_results/api/tests/__init__.py
  opal/test_results/api/tests/test_api_views.py
Due: mypy

tests: fix unit tests
  opal/test_results/api/tests/test_api_views.py
Due: mypy

chore: update changelog
  CHANGELOG.md
Due: none

Merge branch 'main' into QSCCD-1349.AG.rest-api-for-creating-pathology-recrods
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/forms.py
  opal/templates/sidebar.html
  opal/test_results/factories.py
  opal/test_results/tests/test_models.py
Due: check-form-novalidate, mypy

tests: add unit tests
  opal/test_results/api/tests/test_api_views.py
Due: mypy

tests: add unit test
  opal/test_results/api/tests/test_api_views.py
Due: mypy

refactor: keep patient uuid in the endpoint URL
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/test_results/api/tests/test_api_views.py
Due: mypy

refactor: manually add fields to the serializers
  opal/test_results/api/serializers.py
Due: mypy

fix: set empty queryset for the view
  opal/test_results/api/views.py
Due: mypy
