Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

flake8:
  name: flake8
  description: wemake-python-styleguide++ enforcement
  entry: flake8
  args:
  - --config=setup.cfg
  language: python

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

chore(deps): update pre-commit hook asottile/pyupgrade to v3.19.1
  .pre-commit-config.yaml
Due: none

test: cleanup test data in questionnaire tests
  opal/conftest.py
  opal/tests/sql/questionnairedb_cleanup.sql
  opal/tests/sql/questionnairedb_data.sql
Due: flake8, mypy

add test
  opal/questionnaires/tests/test_queries.py
Due: flake8, mypy

fix flaky test
  opal/usage_statistics/tests/test_queries.py
Due: flake8, mypy

new generation for questionnaire report
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/legacy/tests/test_utils.py
  opal/legacy/utils.py
Due: flake8, mypy

isort fix
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
Due: flake8, mypy

fix tests
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/legacy/utils.py
  opal/services/reports/questionnaire.py
Due: flake8, mypy

fix test
  opal/legacy/tests/test_utils.py
Due: flake8, mypy

build(deps): update docker docker tag to v27.4.1
  .gitlab-ci.yml
Due: none

refactor: remove old questionnaire report service
  opal/core/drf_fields.py
  opal/services/hospital/hospital_validation.py
  opal/services/reports/questionnaire.py
  opal/services/reports/tests/test_questionnaire.py
  opal/test_results/utils.py
  opal/utils/base64_util.py
  opal/utils/base64_utils.py
  opal/utils/tests/test_base64_util.py
Due: flake8, mypy

add integration test
  opal/legacy/api/views/tests/test_questionnaires_report.py
Due: flake8, mypy

remove unused env variable
  .env.sample
  config/settings/base.py
Due: flake8, mypy

Merge remote-tracking branch 'origin/main' into remove-questionnaire-service
  .gitlab-ci.yml
  .pre-commit-config.yaml
  LICENSE
  THIRDPARTY.md
  opal/caregivers/api/views.py
  opal/core/tests/test_api_urls.py
  opal/patients/utils.py
  opal/patients/views.py
  opal/services/general/service_communication.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/orms/tests/test_orms.py
  opal/services/reports/questionnaire.py
  opal/services/tests/test_twilio.py
  opal/static/thirdparty/fontawesomefree/css/fontawesome.min.css
  opal/static/thirdparty/fontawesomefree/css/regular.min.css
  opal/static/thirdparty/fontawesomefree/css/solid.min.css
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.woff2
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.woff2
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
  opal/static/thirdparty/unpoly/css/unpoly.min.css
  opal/static/thirdparty/unpoly/js/unpoly.min.js
  opal/users/api/views.py
  opal/users/models.py
  renovate.json5
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: flake8, mypy

chore(deps): update dependency django-tables2 to v2.7.5
  requirements/base.txt
Due: none

fix: fix django stubs
  opal/caregivers/api/views.py
  opal/patients/forms.py
  opal/users/models.py
Due: flake8, mypy

fix: fix
  opal/patients/forms.py
Due: flake8, mypy

fix: convert dates to UTC timezone
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_queries.py
Due: flake8, mypy

refactor: convert dates to UTC
  opal/usage_statistics/queries.py
Due: flake8, mypy

refactor: convert dates to UTC
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_queries.py
Due: flake8, mypy

fix: fix unit test
  opal/usage_statistics/tests/test_queries.py
Due: flake8, mypy

chore(deps): update dependency wemake-python-styleguide to v1
  requirements/development.txt
Due: none

Edit development.txt
  requirements/development.txt
Due: none

fix: ensure optional ORMS_HOST setting is not accessed on startup
  opal/patients/utils.py
Due: flake8, mypy

build(deps): update pre-commit hook davidanson/markdownlint-cli2 to v0.17.2
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency twilio to v9.4.4
  requirements/base.txt
Due: none

chore(deps): update dependency isort to v6
  requirements/development.txt
Due: none

chore(deps): update pre-commit hook pycqa/isort to v6
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency plotly to v6
  requirements/base.txt
Due: none

chore(deps): update dependency mkdocs-autorefs to v1.3.1
  requirements/docs.txt
Due: none

chore(deps): update dependency django-filter to v25
  requirements/base.txt
Due: none

build(deps): update python docker tag to v3.12.9
  .gitlab-ci.yml
  Dockerfile
Due: none

chore(deps): update dependency choreographer to v1
  requirements/base.txt
Due: none

chore(deps): update dependency django-structlog to v9.0.1
  requirements/base.txt
Due: none

build(deps): update docker docker tag to v28
  .gitlab-ci.yml
Due: none

WIP: add patient and caregiver search [ci skip]
  config/urls.py
  opal/patients/filters.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/users/filters.py
  opal/users/tables.py
  opal/users/templates/users/caregivers/edit.html
  opal/users/templates/users/caregivers/list.html
  opal/users/urls.py
  opal/users/views.py
Due: check-form-novalidate, flake8, mypy

add missing list template
  opal/patients/templates/patients/patients/list.html
Due: check-form-novalidate

Apply 2 suggestion(s) to 1 file(s)
  opal/patients/filters.py
Due: flake8, mypy

add manage patients view
  opal/patients/filters.py
  opal/patients/urls.py
  opal/patients/views.py
Due: flake8, mypy

chore: switch to uv and pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
  renovate.json5
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  requirements/production.txt
  uv.lock
Due: none

chore: switch to uv
  .env.sample
  .markdownlint.yml
  README.md
  REUSE.toml
  compose.ssl.yaml
  compose.yaml
  config/settings/base.py
Due: flake8, mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  flake8: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

