Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

chore: Updated gitignore
  .gitignore
Due: none

fix: update `url.py` and remove print
  opal/hospital_settings/tests/test_views.py
  opal/urls.py
Due: mypy

feat: remove/update old institution logo images
  opal/hospital_settings/migrations/0007_add_institution_logo.py
  opal/hospital_settings/models.py
Due: mypy

fix: Update context processors' function name
  opal/core/context_processors.py
  opal/core/tests/test_context_processors.py
  opal/settings.py
Due: mypy

fix: Delete the overrideen `save` and `delete` functions
  opal/hospital_settings/models.py
Due: mypy

test: Update context processor tests
  opal/core/tests/test_context_processors.py
Due: mypy

test: pytest fixture for the temporary MEDIA_ROOT setting
  opal/conftest.py
  opal/hospital_settings/tests/fixtures/logo_test.png
  opal/hospital_settings/tests/test_views.py
Due: mypy

test: Using from_path in ImageField
  opal/hospital_settings/factories.py
  opal/hospital_settings/tests/fixtures/test_logo_en.png
  opal/hospital_settings/tests/fixtures/test_logo_fr.png
  opal/hospital_settings/tests/test_views.py
Due: mypy

test: Using Path from pathlib
  opal/hospital_settings/factories.py
  opal/hospital_settings/tests/fixtures/test_logo.png
  opal/hospital_settings/tests/fixtures/test_logo_fr.png
  opal/hospital_settings/tests/test_forms.py
  opal/hospital_settings/tests/test_views.py
Due: mypy

fix: Update urls.py
  opal/urls.py
Due: mypy

style: Remove comment line in context_processors.py
  opal/core/context_processors.py
Due: mypy

refactor: Use built-in `media` context processor
  opal/core/context_processors.py
  opal/core/tests/test_context_processors.py
  opal/settings.py
Due: mypy

test: Add institution_form fixtures
  opal/hospital_settings/conftest.py
  opal/hospital_settings/tests/test_forms.py
  opal/hospital_settings/tests/test_views.py
Due: mypy

test: Add/update Institution tests for the views and forms
  opal/hospital_settings/tests/test_forms.py
  opal/hospital_settings/tests/test_views.py
Due: mypy

refactor: fix WPS violation
  opal/hospital_settings/forms.py
Due: mypy

chore(deps): update dependency django-extensions to v3.2.0
  requirements/base.txt
Due: none

test: Fix RelationshipType factory to reuse an existing model by name by default
  opal/patients/factories.py
  opal/patients/tests/test_models.py
Due: mypy

test: Ensure factories can create multiple instances by default
  opal/caregivers/tests/test_models.py
  opal/hospital_settings/tests/test_models.py
  opal/patients/tests/test_models.py
Due: mypy

fix: Add missing admin sites for models
  opal/caregivers/admin.py
  opal/patients/admin.py
Due: mypy

feat: Get unread counts needed for the app chart view request
  opal/core/api_urls.py
  opal/legacy/api/views.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_models.py
  opal/legacy/tests/test_views.py
  setup.cfg
Due: mypy

fix: adjustment according to the code reviews.
  opal/legacy/api/views.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_models.py
  opal/legacy/tests/test_views.py
  setup.cfg
Due: mypy

fix: Add UnreadCountSerializer and pass an UnreadCount object with all the counts
  opal/legacy/api/serializers.py
  opal/legacy/api/views.py
Due: mypy

fix: Adjustment according to the code review
  opal/legacy/api/serializers.py
  opal/legacy/tests/test_views.py
Due: mypy

fix: adjustment to the code review
  opal/legacy/api/serializers.py
  opal/legacy/managers.py
  opal/legacy/tests/test_serializers.py
Due: mypy

refactor: Add a comment for the updates later
  opal/legacy/api/views.py
Due: mypy

refactor: Adjust soem Classes names followed by code review
  opal/legacy/api/views.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_models.py
  opal/legacy/tests/test_views.py
Due: mypy

fix: adjustment to the code review
  opal/core/tests/test_api_urls.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views.py
  opal/legacy/tests/test_views.py
Due: mypy

fix: Add a comment according to the code review
  setup.cfg
Due: none

feat: Add sex and health_insurance_number fields to Patient model
  opal/patients/factories.py
  opal/patients/migrations/0005_patient_add_insurance_sex_fields.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

i18n: Update translation files
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

Merge remote-tracking branch 'origin/main' into QSCCD-164-add-missing-patient-fields
  opal/caregivers/tests/test_models.py
  opal/hospital_settings/tests/test_models.py
  opal/patients/tests/test_models.py
Due: mypy

test: Fix Patient factory to get or create by HIN
  opal/patients/factories.py
  opal/patients/tests/test_models.py
Due: mypy

Change exception case for flake8 error
  opal/legacy/tests/test_views.py
  setup.cfg
Due: mypy

Add changelog entry
  CHANGELOG.md
Due: none

Merge remote-tracking branch 'origin/main' into QSCCD-81.SB.permissions-check
  opal/caregivers/admin.py
  opal/caregivers/factories.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/migrations/0003_securityquestion.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/caregivers/translation.py
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/static/hospital_settings/js/hsInstitutions.js
  opal/hospital_settings/static/hospital_settings/js/hsSites.js
  opal/hospital_settings/tables.py
  opal/hospital_settings/templates/hospital_settings/institution/institution_detail.html
  opal/hospital_settings/templates/hospital_settings/institution/institution_form.html
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/templates/hospital_settings/site/site_detail.html
  opal/hospital_settings/templates/hospital_settings/site/site_form.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/hospital_settings/tests/test_models.py
  opal/hospital_settings/tests/test_urls.py
  opal/hospital_settings/tests/test_views.py
  opal/hospital_settings/urls.py
  opal/hospital_settings/views.py
  opal/patients/admin.py
  opal/patients/factories.py
  opal/patients/tables.py
  opal/patients/tests/test_models.py
  opal/patients/translation.py
  opal/static/css/main.css
  opal/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css
  opal/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js
  opal/static/plugins/datatables-buttons/js/dataTables.buttons.min.js
  opal/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css
  opal/static/plugins/datatables-responsive/js/dataTables.responsive.min.js
  opal/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js
  opal/static/plugins/datatables/jquery.dataTables.min.js
  opal/users/locale/fr/LC_MESSAGES/django.po
  requirements/base.txt
  requirements/docs.txt
  setup.cfg
Due: check-form-novalidate, mypy

Remove tag for fixed mypy issue
  opal/core/drf_permissions.py
Due: mypy

Add prefetch_related to avoid querying multiple times
  opal/core/drf_permissions.py
Due: mypy

Add IsAuthenticated check to CaregiverPermissionsView for clarity
  opal/legacy/api/views.py
Due: mypy

Fix coverage reduction due to type-checking line
  .coveragerc
Due: none

Change coverage fix to use existing file
  .coveragerc
  setup.cfg
Due: none
