Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

flake8:
  name: flake8
  description: wemake-python-styleguide++ enforcement
  entry: flake8
  args:
  - --config=setup.cfg
  language: python

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

feat: allow predefined auth tokens to be passed to initialize_data command
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
Due: flake8, mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/services/reports/questionnaire.py
Due: flake8, mypy

chore(deps): update dependency dj-rest-auth to v7
  requirements/base.txt
Due: none

Changes
  opal/services/reports/pathology.py
  opal/services/reports/questionnaire.py
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

change
  opal/services/reports/base.py
Due: flake8, mypy

opal\patients\managers.py:95: error: INTERNAL ERROR -- Please try using mypy master on GitHub:
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

mypy fixes
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

feat: check all checkboxes when click on all
  opal/usage_statistics/forms.py
Due: flake8, mypy

feat: check all checkboxes when click on all
  opal/usage_statistics/forms.py
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
Due: check-form-novalidate, flake8, mypy

unused ignore mypy
  opal/core/drf_permissions.py
Due: flake8, mypy

feat: add ability to provide admin user password
  config/settings/base.py
  opal/core/constants.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/models.py
Due: flake8, mypy

refactor: update export form
  opal/usage_statistics/forms.py
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
Due: check-form-novalidate, flake8, mypy

refactor: update form
  opal/usage_statistics/forms.py
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/views.py
Due: flake8, mypy

test: add unit tests
  opal/usage_statistics/conftest.py
  opal/usage_statistics/constants.py
  opal/usage_statistics/forms.py
  opal/usage_statistics/tests/test_forms.py
Due: flake8, mypy

test: add unit tests
  opal/usage_statistics/tests/test_forms.py
Due: flake8, mypy

fix: update the unit test with different appt state and status
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/managers.py
Due: flake8, mypy

fix: update translation strings
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
Due: none

refactor: move GroupByComponent to constants
  opal/usage_statistics/conftest.py
  opal/usage_statistics/constants.py
  opal/usage_statistics/forms.py
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_forms.py
  opal/usage_statistics/tests/test_queries.py
Due: flake8, mypy

refactor: move GroupByComponent to constants
  opal/usage_statistics/forms.py
Due: flake8, mypy

refactor: use dropdown for report type field
  opal/usage_statistics/conftest.py
  opal/usage_statistics/forms.py
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/tests/test_forms.py
Due: flake8, mypy

fix for toc pages needed
  opal/services/reports/questionnaire.py
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

isort changes
  opal/services/reports/questionnaire.py
Due: flake8, mypy

mulicell for name and mrn in 1 page
  opal/services/reports/questionnaire.py
Due: flake8, mypy

chore: downgrade version of mysqlclient
  requirements/base.txt
Due: none

simpler guesstimate
  opal/services/reports/questionnaire.py
Due: flake8, mypy

fix unit tests
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
Due: flake8, mypy

feat: add form for exporting individual usage statistics
  opal/usage_statistics/forms.py
Due: flake8, mypy

fix: remove individual form
  opal/usage_statistics/forms.py
Due: flake8, mypy

date format change
  opal/services/reports/questionnaire.py
Due: flake8, mypy

chore(deps): update pre-commit hook davidanson/markdownlint-cli2 to v0.15.0
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency django-modeltranslation to v0.19.11
  requirements/base.txt
Due: none

chore(deps): update dependency mkdocstrings to v0.27.0
  requirements/docs.txt
Due: none

chore(deps): update dependency mkdocs-material to v9.5.44
  requirements/docs.txt
Due: none

chore(deps): update dependency mypy to v1.13.0
  requirements/development.txt
Due: none

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  flake8: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

