Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

refactor: implement validation for editing start date and end date
  opal/patients/constants.py
  opal/patients/factories.py
  opal/patients/forms.py
  opal/patients/models.py
  opal/patients/tests/test_forms.py
  opal/patients/views.py
Due: mypy

fix: update translation strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: update translation strings to fix the pipeline
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

test: adjustment to the tests of the reusable functions
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

fix: fix the test functions following the code review
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
Due: mypy

Merge branch 'main' into QSCCD-794.SF.edit-start-date-end-date-in-pending-caregiver-access
  opal/patients/forms.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  opal/patients/utils.py
Due: mypy

test: fix test_api_check_permissions_defined
  opal/core/tests/test_api_urls.py
Due: mypy

refactor: update comments
  opal/core/tests/test_api_urls.py
  opal/legacy/api/views/caregiver_permissions.py
Due: mypy

fix: missing translations
  opal/databank/locale/fr/LC_MESSAGES/django.po
Due: none

minor adjustments
  opal/databank/migrations/0001_initial.py
  opal/databank/models.py
Due: mypy

fix translations
  opal/databank/factories.py
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/tests/test_models.py
Due: mypy

adjust date fields and str method
  opal/databank/migrations/0001_initial.py
  opal/databank/models.py
  opal/databank/tests/test_models.py
Due: mypy

minor adjustments
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/migrations/0001_initial.py
  opal/databank/models.py
Due: mypy

fix cancel_url not properly set
  opal/core/form_layouts.py
  opal/patients/tests/test_views.py
Due: mypy

fix: fix relationship start date minimum to be date of birth
  opal/patients/forms.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
  setup.cfg
Due: mypy

fix failing test
  opal/patients/managers.py
  opal/patients/views.py
Due: mypy

fix tests for good
  opal/patients/tests/test_models.py
Due: mypy

Merge remote-tracking branch 'origin/main' into fix-relationship-start-date
  opal/core/form_layouts.py
  opal/patients/tests/test_views.py
Due: mypy

style: fix flake8-comprehensions violations
  opal/patients/api/tests/test_api_views.py
  opal/patients/tests/test_forms.py
  opal/services/hospital/tests/test_hospital.py
Due: mypy

fix tests
  opal/services/hospital/tests/test_hospital.py
Due: mypy

add example
  opal/patients/filters.py
Due: mypy

Merge remote-tracking branch 'origin/main' into unpoly-dynamic-forms
  CHANGELOG.md
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/api/serializers.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/core/forms/layouts.py
  opal/core/tests/test_form_layouts.py
  opal/databank/tests/test_models.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/filters.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/templates/patients/relationships/relationship_filter.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/static/css/nav-pills.css
  opal/static/css/styles.css
  opal/templates/base.html
  opal/templates/components/button.html
  opal/templates/sidebar.html
  opal/templates/tables/action_column.html
Due: check-form-novalidate, mypy

fix stuff
  opal/patients/filters.py
Due: mypy

Merge remote-tracking branch 'origin/main' into unpoly-dynamic-forms
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docs/apps/health_data.md
  mkdocs.yml
  opal/core/management/commands/insert_test_data.py
  opal/hospital_settings/admin.py
  opal/patients/forms.py
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/tests/test_utils.py
  opal/patients/tests/test_views.py
  opal/patients/utils.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, mypy

fix dynamic filter
  opal/patients/constants.py
  opal/patients/filters.py
  opal/patients/forms.py
Due: mypy

fix translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

chore(deps): update djangorestframework-stubs to v1.10.0
  requirements/development.txt
Due: none

WIP [ci skip]
  opal/patients/constants.py
  opal/patients/forms.py
  opal/patients/templates/patients/radioselect_tabs.html
  opal/patients/views.py
  opal/templates/base.html
Due: check-form-novalidate, mypy

fix typing [ci skip]
  opal/patients/forms.py
Due: mypy

bring old URL back
  opal/patients/urls.py
  opal/templates/sidebar.html
  requirements/base.txt
Due: check-form-novalidate, mypy

refactor: move form_layouts to forms package
  locale/fr/LC_MESSAGES/django.po
  opal/core/forms/layouts.py
  opal/hospital_settings/forms.py
  opal/patients/forms.py
Due: mypy

Merge remote-tracking branch 'origin/main' into refactor-patient-forms
  Dockerfile
  opal/databank/admin.py
  opal/databank/factories.py
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/migrations/0001_initial.py
  opal/databank/migrations/0002_shared_data.py
  opal/databank/models.py
  opal/databank/tests/test_models.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/models.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
  opal/services/hospital/tests/test_hospital.py
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/thirdparty/package.json
  requirements/development.txt
  setup.cfg
Due: mypy

Merge remote-tracking branch 'origin/main' into refactor-patient-forms
  opal/caregivers/tests/test_commands.py
  opal/core/management/__init__.py
  opal/core/management/commands/__init__.py
  opal/core/management/commands/files/logo.png
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/test_utils.py
  opal/core/tests/test_commands.py
  opal/legacy/tests/test_commands.py
  opal/patients/tests/test_commands.py
  setup.cfg
Due: mypy

feat: create SharedData & DataType models
  opal/databank/factories.py
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/migrations/0001_initial.py
  opal/databank/migrations/0002_shared_data.py
  opal/databank/models.py
  opal/databank/tests/test_models.py
Due: mypy

Merge branch 'QSCCD-1037.KA.databank-shared-data-models' of https://gitlab.com/opalmedapps/backend into QSCCD-1037.KA.databank-shared-data-models
  Dockerfile
  opal/patients/api/tests/test_api_views.py
  opal/patients/tests/test_forms.py
  opal/services/hospital/tests/test_hospital.py
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/thirdparty/package.json
  requirements/development.txt
Due: mypy
