Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

flake8:
  name: flake8
  description: wemake-python-styleguide++ enforcement
  entry: flake8
  args:
  - --config=setup.cfg
  language: python

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

fix: ensure additional educational material can be null
  opal/legacy/api/serializers.py
  opal/legacy/models.py
Due: flake8, mypy

chore: add more details to test of LegacyAppointmentDetailedSerializer
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

Merge remote-tracking branch 'origin/main' into QSCCD-2240.SB.checkin-appts-fix
  .gitlab-ci.yml
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
  opal/usage_statistics/tests/test_commands.py
  requirements/base.txt
  requirements/docs.txt
Due: flake8, mypy

ci: testing
  opal/legacy/api/serializers.py
Due: flake8, mypy

Merge branch 'main' into QSCCD-2240.SB.checkin-appts-fix
  .gitlab-ci.yml
Due: none

Revert "ci: testing"
  opal/legacy/api/serializers.py
Due: flake8, mypy

fix: check for sub-attributes in test_get_daily_appointments_details
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

fix: address failing unit test
  opal/legacy/factories.py
Due: flake8, mypy

fix: update last_login and count_count statistics
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
  opal/usage_statistics/tests/test_commands.py
Due: flake8, mypy

Merge branch 'main' into fix-usage-statistics-command
  .gitlab-ci.yml
  Dockerfile
  opal/databank/api/views.py
  opal/services/data_processing/deidentification.py
  opal/services/data_processing/tests/fixtures/attributes_expected_signatures.csv
  opal/services/data_processing/tests/test_deidentification.py
  requirements/base.txt
Due: flake8, mypy

chore(deps): update django-stubs to v5.1.0
  requirements/base.txt
  requirements/development.txt
Due: none

test
  requirements/base.txt
Due: none

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix for making flake8 work
  .vscode/settings.json
  opal/patients/tests/test_utils.py
Due: flake8, mypy

different quotation
  opal/patients/tests/test_utils.py
Due: flake8, mypy

matthias fix
  opal/patients/tests/test_utils.py
Due: flake8, mypy

chore(deps): update dependency twilio to v9.3.2
  requirements/base.txt
Due: none

docs: add third-party notice
  .gitlab-ci.yml
  THIRDPARTY.md
Due: none

add comment
  .gitlab-ci.yml
Due: none

chore(deps): update alpine variant to 3.20
  .gitlab-ci.yml
  Dockerfile
Due: none

chore(deps): update dependency qrcode to v8
  requirements/base.txt
Due: none

chore(deps): update dependency fpdf2 to v2.8.1
  requirements/base.txt
Due: none

chore(deps): update dependency pre-commit to v4
  requirements/development.txt
Due: none

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v5
  .pre-commit-config.yaml
Due: none

manger
  opal/services/questionnaire_reports.py
Due: flake8, mypy

name changes and changed comments
  opal/services/questionnaire_reports.py
Due: flake8, mypy

remove call to legacy
  opal/services/questionnaire_reports.py
Due: flake8, mypy

removes sitedata since it is unused
  opal/services/questionnaire_reports.py
Due: flake8, mypy

Merge branch 'main' into questionnaire-template-file
  .pre-commit-config.yaml
  requirements/base.txt
  requirements/development.txt
Due: none

quick fix
  opal/services/questionnaire_reports.py
Due: flake8, mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/services/questionnaire_reports.py
Due: flake8, mypy

one more
  opal/services/questionnaire_reports.py
Due: flake8, mypy

fix call
  opal/legacy/api/views/tests/test_questionnaires_report.py
Due: flake8, mypy

change so the name matches as before
  opal/services/questionnaire_reports.py
Due: flake8, mypy

Merge branch 'main' into questionnaire-template-file
  .pre-commit-config.yaml
  config/settings/base.py
  opal/caregivers/api/serializers.py
  opal/core/drf_permissions.py
  opal/databank/management/commands/send_databank_data.py
  opal/legacy/managers.py
  opal/patients/managers.py
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_utils.py
  opal/usage_statistics/utils.py
  opal/users/admin.py
  opal/users/models.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: flake8, mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/services/reports.py
Due: flake8, mypy

Merge branch 'main' into questionnaire-template-file
  CHANGELOG.md
  config/urls.py
  locale/fr/LC_MESSAGES/django.po
  opal/legacy/api/views/orms_auth.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_managers.py
  opal/legacy_questionnaires/sql/databank_questionnaires_answer.sql
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
  opal/templates/sidebar_menu.html
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
  opal/usage_statistics/tests/test_urls.py
  opal/usage_statistics/tests/test_views.py
  opal/usage_statistics/urls.py
  opal/usage_statistics/views.py
  requirements/development.txt
Due: check-form-novalidate, flake8, mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  flake8: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

