Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

chore: update to Python 3.10.9
  .gitlab-ci.yml
  Dockerfile
  README.md
  setup.cfg
Due: none

chore: downgrade to python 3.10.6
  .gitlab-ci.yml
  Dockerfile
Due: none

chore(deps): update dependency mkdocs-material to v9
  requirements/docs.txt
Due: none

WIP: improve migrate_users
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
Due: mypy

Merge remote-tracking branch 'origin/main' into update-mypy-and-stubs
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/patients/templates/patients/relationship_type/list.html
  opal/patients/templates/patients/relationships-search/form.html
  opal/patients/templates/patients/relationships/pending/list.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/settings.py
  requirements/base.txt
Due: check-form-novalidate, mypy

fix: fix conversion of phone numbers and add tests
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
Due: mypy

fix new mypy errors
  opal/patients/forms.py
  opal/patients/models.py
  opal/patients/views.py
Due: mypy

update stubs and use non-lazy gettext
  opal/patients/forms.py
  requirements/development.txt
Due: mypy

Merge remote-tracking branch 'origin/main' into update-mypy-and-stubs
  opal/caregivers/tests/test_apiviews.py
  opal/caregivers/tests/test_managers.py
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
  opal/patients/admin.py
  opal/patients/api/serializers.py
  opal/patients/factories.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/migrations/0013_relationshiptype_role.py
  opal/patients/migrations/0014_prepopulate_relationshiptype.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/tests/test_admin.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  pytest.ini
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  scripts/cron/crontab
  setup.cfg
Due: mypy

fix migrate users tests
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
Due: mypy

Add serialization of RelationshipType for the list of caregiver relationships
  opal/caregivers/tests/test_apiviews.py
  opal/caregivers/tests/test_managers.py
  opal/patients/api/serializers.py
  opal/patients/managers.py
Due: mypy

Merge remote-tracking branch 'origin/assembly/self-role-type' into QSCCD-88.SB.quest-repondent-filter
  .gitlab-ci.yml
  opal/caregivers/api/mixins/put_as_create.py
  opal/caregivers/api/serializers.py
  opal/caregivers/api/views.py
  opal/caregivers/api/viewsets.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_apiviews.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/core/tests/test_views.py
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
  opal/patients/admin.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/factories.py
  opal/patients/forms.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/templates/patients/relationship_type/list.html
  opal/patients/templates/patients/relationships-search/form.html
  opal/patients/templates/patients/relationships/pending/list.html
  opal/patients/tests/test_admin.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/questionnaires/views.py
  opal/settings.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  requirements/production.txt
  setup.cfg
Due: check-form-novalidate, mypy

feat: patient demographic update
  opal/caregivers/api/serializers.py
  opal/caregivers/api/viewsets.py
  opal/caregivers/models.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/legacy/api/views/questionnaires_report.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/managers.py
  opal/patients/tests/test_managers.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  requirements/production.txt
  setup.cfg
Due: mypy

Merge branch 'main' into QSCCD-710.AG.add-patient-demographics-api
  .gitlab-ci.yml
  opal/caregivers/api/mixins/put_as_create.py
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_apiviews.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/tests/test_views.py
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
  opal/patients/factories.py
  opal/patients/models.py
  opal/patients/templates/patients/relationship_type/list.html
  opal/patients/templates/patients/relationships-search/form.html
  opal/patients/templates/patients/relationships/pending/list.html
  opal/patients/tests/test_models.py
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/questionnaires/views.py
  opal/settings.py
  requirements/base.txt
  requirements/docs.txt
  setup.cfg
Due: check-form-novalidate, mypy

Merge branch 'main' into QSCCD-710.AG.add-patient-demographics-api
  Dockerfile
  docker-compose.yml
  docker/docker-entrypoint.sh
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/management/commands/find_questionnaire_respondent_deviations.py
  opal/legacy/tests/test_commands.py
  opal/tests/sql/test_QuestionnaireDB.sql
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  scripts/cron/crontab
Due: mypy

fix: code review updates
  opal/core/drf_permissions.py
  opal/patients/api/serializers.py
  opal/patients/api/views.py
Due: mypy

refactor: update serializer
  opal/patients/api/serializers.py
  opal/patients/api/views.py
  opal/patients/managers.py
  opal/patients/models.py
  opal/patients/views.py
Due: mypy

fix: remove uniqueness check
  opal/patients/api/serializers.py
Due: mypy

refactor: return NotFound with a string
  opal/patients/api/views.py
Due: mypy

fix: remove Q object usage
  opal/patients/managers.py
Due: mypy

refactor: minor fixes
  opal/patients/api/serializers.py
  opal/patients/api/views.py
Due: mypy

fix: remove relationship if check
  opal/patients/api/serializers.py
Due: mypy

Merge branch 'main' into QSCCD-710.AG.add-patient-demographics-api
  opal/questionnaires/views.py
Due: mypy

fix: remove TODO
  opal/patients/api/serializers.py
Due: mypy

feat: update front-end with condition to show the relationship type menu only if permission is granted
  opal/templates/layouts/base.html
Due: check-form-novalidate

test: add unit tests for front end and back end permissions to relationshiptypes
  opal/conftest.py
  opal/patients/tests/test_views.py
Due: mypy

i18n: edit translation file for relationshiptype new permission
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

i18n: fix translations
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
Due: none

fix: translation fuzzy strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: tests and fixtures for relationshiptype unit tests
  opal/patients/conftest.py
  opal/patients/migrations/0015_merge_20230115_1637.py
  opal/patients/tests/test_views.py
Due: mypy

feat deps raise forbidden error for deceased patients
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

feat deps improve the code
  opal/patients/api/views.py
Due: mypy

Merge branch 'main' into QSCCD-739.LL.forbbiden-deceased-patient
  Dockerfile
  docker-compose.yml
  docker/docker-entrypoint.sh
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/management/commands/find_questionnaire_respondent_deviations.py
  opal/legacy/tests/test_commands.py
  opal/tests/sql/test_QuestionnaireDB.sql
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  scripts/cron/crontab
Due: mypy

fix deps fix the code
  opal/patients/api/views.py
Due: mypy

fix deps fix return value
  opal/patients/api/views.py
Due: mypy

feat: add health data app with quantity sample model
  opal/health_data/__init__.py
  opal/health_data/admin.py
  opal/health_data/apps.py
  opal/health_data/migrations/0001_initial.py
  opal/health_data/migrations/__init__.py
  opal/health_data/models.py
  opal/settings.py
  setup.cfg
Due: mypy

Merge remote-tracking branch 'origin/main' into QSCCD-708-health-data-app
  Dockerfile
  docker-compose.yml
  docker/docker-entrypoint.sh
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/management/commands/find_questionnaire_respondent_deviations.py
  opal/legacy/tests/test_commands.py
  opal/tests/sql/test_QuestionnaireDB.sql
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  scripts/cron/crontab
Due: mypy
