Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

i18n: update translations
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: edit front-end form according to the rewviewers recommendation
  opal/patients/templates/patients/relationships/pending/form.html
Due: check-form-novalidate

i18n: fix translation
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: add translation, fix migration_file name
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/migrations/0010_add_manage_institution_permission.py
Due: mypy

fix: rename migration file for patients app
  opal/patients/migrations/0012_add_manage_relationship_permission.py
Due: mypy

fix: indent hte space inside base.html inside if block
  opal/templates/layouts/base.html
Due: check-form-novalidate

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-700.update-role-access-new-permissions-institution-and-relationships
  .env.sample
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  docs/apps/questionnaires.md
  opal/conftest.py
  opal/core/audit.py
  opal/questionnaires/admin.py
  opal/questionnaires/factories.py
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/migrations/0001_initial.py
  opal/questionnaires/migrations/0002_questionnaire_profile.py
  opal/questionnaires/models.py
  opal/questionnaires/queries.py
  opal/questionnaires/tables.py
  opal/questionnaires/templates/questionnaires/export_reports/exportreports.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-dashboard.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/questionnaires/tests/test_models.py
  opal/questionnaires/tests/test_queries.py
  opal/questionnaires/tests/test_urls.py
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/urls.py
  opal/questionnaires/views.py
  opal/settings.py
  opal/static/js/query.js
  opal/static/js/reports.js
  opal/templates/layouts/base.html
  opal/tests/sql/test_QuestionnaireDB.sql
  requirements/base.txt
  setup.cfg
Due: check-form-novalidate, mypy

ci: switch to published markdownlint codequality formatter
  .gitlab-ci.yml
Due: none

ci: switch to published markdownlint codequality formatter
  .gitlab/markdownlint/.markdownlint-cli2.yaml
Due: none

test: test some violations
  README.md
Due: none

fix README again
  README.md
Due: none

chore(deps): update dependency django-coverage-plugin to v3
  requirements/development.txt
Due: none

feat: create registration code instance and generate QR code
  opal/core/utils.py
  opal/patients/constants.py
  opal/patients/forms.py
  opal/patients/views.py
Due: mypy

fix: fix the issues following the code review
  opal/core/tests/test_utils.py
  opal/patients/forms.py
  opal/patients/views.py
Due: mypy

test: adjust the test functions following the code review
  opal/core/tests/test_utils.py
Due: mypy

fix: add User Registration URL to `.env` and `settings.py`
  .env.sample
  opal/patients/views.py
  opal/settings.py
Due: mypy

fix: adjustment to the URL format
  .env.sample
  opal/patients/views.py
Due: mypy

fix: update the `.env` with consistent URL format
  .env.sample
  opal/patients/views.py
Due: mypy

fix: remove disabling of SSL verification
  opal/services/hospital/hospital_communication.py
  opal/services/hospital/tests/test_hospital.py
Due: mypy

Mix test for unreade item in legcy home and chart api endpoints.
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_chart.py
  opal/legacy/api/views/app_home.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
Due: mypy

Change default type for readby after pipeline failure.
  opal/legacy/models.py
Due: mypy

Fix missing `default=list`
  opal/legacy/models.py
Due: mypy

Adjustments following code review
  opal/legacy/api/views/app_chart.py
  opal/legacy/managers.py
Due: mypy

feat: update custom django command
  configs/cron-jobs/check-databases-deviations-cron
  configs/cron-jobs/scripts/check-databases-deviations.sh
  docker/docker-entrypoint.sh
  opal/legacy/management/commands/find_patients_deviations.py
Due: mypy

feat: add xdist for running tests in parallel
  opal/legacy/tests/test_commands.py
  pytest.ini
  requirements/development.txt
Due: mypy

fix: remove xdist
  pytest.ini
  requirements/development.txt
Due: none

refactor: update the command
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/tests/test_commands.py
Due: mypy

test: add unit tests
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/tests/test_commands.py
Due: mypy

fix: update the tests
  opal/legacy/tests/test_commands.py
Due: mypy

fix: change "configs" folder to "scripts"
  Dockerfile
  configs/cron-jobs/check-databases-deviations-cron
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/tests/test_commands.py
  scripts/check-databases-deviations.sh
  scripts/cronjobs/check-databases-deviations-cron
Due: mypy

fix: move SQL queries to module constants
  opal/legacy/management/commands/find_patients_deviations.py
Due: mypy

chore(deps): update dependency coverage to v7
  requirements/development.txt
Due: none

fix translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

Fix migrations again
  opal/patients/migrations/0013_relationshiptype_role.py
  opal/patients/migrations/0014_prepopulate_relationshiptype.py
  opal/patients/tests/test_migrations.py
Due: mypy

fix translate
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

add model change
  opal/patients/models.py
Due: mypy

test: add missing test for none type object in admin delete privilege
  opal/patients/admin.py
  opal/patients/tests/test_admin.py
Due: mypy

fix coverage
  opal/legacy/tests/test_commands.py
Due: mypy

isort
  opal/legacy/tests/test_commands.py
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

