Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

ci: add dependency scanning
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

ci: add dependency scanning
  .gitlab-ci.yml
  requirements/development.txt
Due: none

ci: add dependency scanning
  opal/conftest.py
  opal/legacy/conftest.py
  opal/legacy/tests/test_commands.py
  opal/questionnaires/tests/test_queries.py
Due: mypy

revert stuff
  opal/conftest.py
  opal/legacy/conftest.py
  opal/legacy/tests/test_commands.py
  opal/questionnaires/tests/test_queries.py
  requirements/development.txt
Due: mypy

add lockfile
  opal/static/thirdparty/package-lock.json
Due: none

increase depth
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

revert: ci: add xray job
  .gitlab-ci.yml
Due: none

revert gitlab ci file
  .gitlab-ci.yml
Due: none

Revert "revert stuff"
  opal/conftest.py
  opal/legacy/conftest.py
  opal/legacy/tests/test_commands.py
  opal/questionnaires/tests/test_queries.py
  requirements/development.txt
Due: mypy

ci: add SAST scanning
  .gitlab-ci.yml
Due: none

Merge remote-tracking branch 'origin/main' into ci-sast
  .gitlab-ci.yml
  opal/conftest.py
  opal/legacy/conftest.py
  opal/legacy/tests/test_commands.py
  opal/questionnaires/tests/test_queries.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

fix
  opal/caregivers/factories.py
Due: mypy

more fixes
  opal/caregivers/factories.py
  opal/patients/templates/patients/access_request/confirmation_code.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/templates/bootstrap5/layout/formactions.html
Due: check-form-novalidate, mypy

fix token provider
  opal/caregivers/factories.py
Due: mypy

remove safe
  opal/patients/templates/patients/access_request/confirmation_code.html
Due: check-form-novalidate

add basic tests for endpoint
  opal/core/drf_parsers/hl7_parser.py
  opal/core/tests/test_parsers.py
  opal/pharmacy/api/serializers.py
  opal/pharmacy/api/tests/test_api_views.py
  opal/pharmacy/api/views.py
Due: mypy

fix factory
  opal/pharmacy/factories.py
Due: mypy

fix factories to reflect new model fields
  opal/pharmacy/factories.py
  opal/pharmacy/tests/test_models.py
Due: mypy

fix type issues;
  .gitignore
  opal/core/api/views.py
  opal/pharmacy/api/serializers.py
  opal/pharmacy/api/views.py
Due: mypy

fix mypy
  opal/core/tests/test_parsers.py
Due: mypy

isort
  opal/pharmacy/api/tests/test_api_views.py
Due: mypy

test internal value serializer method
  opal/core/tests/fixtures/homer_pharmacy.hl7v2
  opal/pharmacy/api/serializers.py
  opal/pharmacy/api/tests/test_api_views.py
Due: mypy

Merge branch 'main' into QSCCD-1884.KA.create-pharmacy-data-endpoint
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  Dockerfile
  docker-compose.yml
  docker/crontab
  docker/docker-entrypoint.sh
  opal/caregivers/api/serializers.py
  opal/caregivers/factories.py
  opal/conftest.py
  opal/legacy/conftest.py
  opal/legacy/tests/test_commands.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/templates/patients/access_request/confirmation_code.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/tests/test_queries.py
  opal/static/thirdparty/package-lock.json
  opal/templates/bootstrap5/layout/formactions.html
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  scripts/check_crontab.sh
Due: check-form-novalidate, mypy

fix prescription name
  opal/core/api_urls.py
  opal/pharmacy/api/tests/test_api_views.py
  opal/pharmacy/api/views.py
Due: mypy

fix related name to be less cumbersome
  opal/pharmacy/api/serializers.py
  opal/pharmacy/api/tests/test_api_views.py
  opal/pharmacy/api/views.py
  opal/pharmacy/migrations/0003_fix_uniqueness_constraint.py
  opal/pharmacy/models.py
Due: mypy

revert model changes and move to separate MR
  opal/pharmacy/admin.py
  opal/pharmacy/factories.py
  opal/pharmacy/migrations/0002_reduce_coded_element_usage.py
  opal/pharmacy/migrations/0003_fix_uniqueness_constraint.py
  opal/pharmacy/models.py
  opal/pharmacy/tests/test_models.py
Due: mypy

fix: adjust pharmacy models to be less error prone
  opal/pharmacy/admin.py
  opal/pharmacy/factories.py
  opal/pharmacy/migrations/0002_fix_uniqueness_constraint_and_codedelement_usage.py
  opal/pharmacy/models.py
  opal/pharmacy/tests/test_models.py
Due: mypy

adjust tests to cover PID validation
  opal/pharmacy/api/tests/test_api_views.py
  opal/pharmacy/api/views.py
Due: mypy

fix additional CE instances being not null due to unexpected blanks
  opal/pharmacy/api/serializers.py
  opal/pharmacy/api/views.py
Due: mypy

remove print
  opal/pharmacy/api/serializers.py
  opal/pharmacy/api/views.py
Due: mypy

drop refills_remaining
  opal/core/drf_parsers/hl7_parser.py
  opal/core/tests/test_parsers.py
  opal/pharmacy/admin.py
  opal/pharmacy/api/serializers.py
  opal/pharmacy/api/views.py
  opal/pharmacy/factories.py
  opal/pharmacy/migrations/0003_remove_pharmacyencodedorder_refills_remaining.py
  opal/pharmacy/models.py
Due: mypy
