Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix admin name
  opal/databank/admin.py
Due: mypy

fix(deps): update dependency bootstrap to v5.3.0-alpha3
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/thirdparty/package.json
Due: none

feat: include patient's UUID to the detailed registration serializer
  opal/caregivers/api/serializers.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

Merge branch 'main' into QSCCD-1111.AG.modify-detialed-registration-seriazlier
  Dockerfile
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_commands.py
  opal/core/forms/__init__.py
  opal/core/forms/layouts.py
  opal/core/forms/widgets.py
  opal/core/management/__init__.py
  opal/core/management/commands/__init__.py
  opal/core/management/commands/files/logo.png
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/test_utils.py
  opal/core/tests/test_commands.py
  opal/databank/admin.py
  opal/databank/factories.py
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/migrations/0001_initial.py
  opal/databank/migrations/0002_shared_data.py
  opal/databank/models.py
  opal/databank/tests/test_models.py
  opal/hospital_settings/forms.py
  opal/legacy/tests/test_commands.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/models.py
  opal/patients/tests/test_commands.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
  requirements/development.txt
  setup.cfg
Due: mypy

fix: right-aligns form actions
  opal/core/forms/layouts.py
  opal/hospital_settings/forms.py
  opal/patients/forms.py
  opal/templates/components/button.html
  opal/templates/components/confirm_delete.html
  opal/templates/components/form_actions.html
Due: check-form-novalidate, mypy

add missing template
  opal/templates/bootstrap5/layout/formactions.html
Due: check-form-novalidate

Merge remote-tracking branch 'origin/main' into formactions
  Dockerfile
  opal/caregivers/tests/test_commands.py
  opal/core/management/__init__.py
  opal/core/management/commands/__init__.py
  opal/core/management/commands/files/logo.png
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/test_utils.py
  opal/core/tests/test_commands.py
  opal/databank/admin.py
  opal/databank/factories.py
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/migrations/0001_initial.py
  opal/databank/migrations/0002_shared_data.py
  opal/databank/models.py
  opal/databank/tests/test_models.py
  opal/legacy/tests/test_commands.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/models.py
  opal/patients/tests/test_commands.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
  opal/services/hospital/tests/test_hospital.py
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/thirdparty/package.json
  requirements/development.txt
  setup.cfg
Due: mypy

Merge remote-tracking branch 'origin/main' into formactions
  opal/caregivers/api/serializers.py
  opal/core/tests/test_commands.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

refactor: improve form layouts and add tests
  opal/core/forms/layouts.py
  opal/core/tests/test_form_layouts.py
Due: mypy

Merge remote-tracking branch 'origin/main' into improve-form-layouts
  Dockerfile
  opal/caregivers/api/serializers.py
  opal/caregivers/tests/test_commands.py
  opal/core/management/__init__.py
  opal/core/management/commands/__init__.py
  opal/core/management/commands/files/logo.png
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/test_utils.py
  opal/core/tests/test_commands.py
  opal/databank/admin.py
  opal/databank/factories.py
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/migrations/0001_initial.py
  opal/databank/migrations/0002_shared_data.py
  opal/databank/models.py
  opal/databank/tests/test_models.py
  opal/legacy/tests/test_commands.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/models.py
  opal/patients/tests/test_commands.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
  opal/services/hospital/tests/test_hospital.py
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/thirdparty/package.json
  requirements/development.txt
  setup.cfg
Due: mypy

Merge remote-tracking branch 'origin/main' into improve-form-layouts
  CHANGELOG.md
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/api/serializers.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/databank/tests/test_models.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/filters.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/templates/patients/relationships/relationship_filter.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/static/css/nav-pills.css
  opal/static/css/styles.css
  opal/templates/base.html
  opal/templates/components/button.html
  opal/templates/sidebar.html
  opal/templates/tables/action_column.html
Due: check-form-novalidate, mypy

feat deps add username for the api patient caregivers
  opal/caregivers/api/serializers.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

Merge branch 'main' into QSCCD-133.LL.username-for-patient-caregiver
  Dockerfile
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_commands.py
  opal/core/forms/__init__.py
  opal/core/forms/layouts.py
  opal/core/forms/widgets.py
  opal/core/management/__init__.py
  opal/core/management/commands/__init__.py
  opal/core/management/commands/files/logo.png
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/test_utils.py
  opal/core/tests/test_commands.py
  opal/databank/admin.py
  opal/databank/factories.py
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/migrations/0001_initial.py
  opal/databank/migrations/0002_shared_data.py
  opal/databank/models.py
  opal/databank/tests/test_models.py
  opal/hospital_settings/forms.py
  opal/legacy/tests/test_commands.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/models.py
  opal/patients/tests/test_commands.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
  requirements/development.txt
  setup.cfg
Due: mypy

Merge branch 'main' into QSCCD-133.LL.username-for-patient-caregiver
  opal/caregivers/api/serializers.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

Merge branch 'main' into QSCCD-133.LL.username-for-patient-caregiver
  CHANGELOG.md
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/core/forms/layouts.py
  opal/core/tests/test_commands.py
  opal/databank/tests/test_models.py
  opal/hospital_settings/forms.py
  opal/patients/filters.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/templates/patients/relationships/relationship_filter.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/static/css/nav-pills.css
  opal/static/css/styles.css
  opal/templates/base.html
  opal/templates/bootstrap5/layout/formactions.html
  opal/templates/components/button.html
  opal/templates/components/confirm_delete.html
  opal/templates/components/form_actions.html
  opal/templates/sidebar.html
  opal/templates/tables/action_column.html
Due: check-form-novalidate, mypy

build(deps): update docker docker tag to v20.10.24
  .gitlab-ci.yml
Due: none

add new legacy models and fields to existing models
  locale/fr/LC_MESSAGES/django.po
  opal/core/forms/__init__.py
  opal/core/forms/layouts.py
  opal/core/forms/widgets.py
  opal/hospital_settings/forms.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/legacy/tests/test_models.py
  opal/patients/forms.py
Due: mypy

fix test issue caused by SourceDatabase primary key
  opal/legacy/factories.py
  opal/legacy/models.py
Due: mypy

Merge branch 'QSCCD-1115.KA.add-fields-to-legacy-models' of https://gitlab.com/opalmedapps/backend into QSCCD-1115.KA.add-fields-to-legacy-models
  opal/caregivers/api/serializers.py
  opal/core/tests/test_commands.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

model fixes
  opal/legacy/models.py
Due: mypy

test: fix copy-and-paste error in test
  opal/core/tests/test_commands.py
Due: mypy

feat: use the new field default that was added to opal.core.forms.layouts
  opal/patients/forms.py
Due: mypy

fix: remove wrong file
  diagram.puml
Due: none

fix: inherit crispyform field to add its defaults
  opal/core/forms/layouts.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into generic-theme-layout
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docs/apps/health_data.md
  mkdocs.yml
  opal/caregivers/api/serializers.py
  opal/core/forms/layouts.py
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_form_layouts.py
  opal/hospital_settings/admin.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/legacy/tests/test_models.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/forms.py
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/tests/test_utils.py
  opal/patients/tests/test_views.py
  opal/patients/utils.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, mypy

fix: remove bold from templates
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
Due: check-form-novalidate

feat: add active_condition argument to the inlinesubmit and reset and use it in the filter form
  opal/patients/filters.py
Due: mypy

i18n: fix translations
  locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: remove added file by mistake
  diagram.puml
Due: none

i18n: translate the word day
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: add tests to test plural vs singular form for pending request status
  opal/patients/tests/test_tables.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into unified-manage-caregiver-reveiw2
  opal/core/forms/layouts.py
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_form_layouts.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

fix: fix tests with new merge for inlinesubmit inlinereset
  opal/core/forms/layouts.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into unified-manage-caregiver-reveiw2
  .gitlab-ci.yml
  .pre-commit-config.yaml
  requirements/development.txt
Due: none

i18n: fix translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: fix tests failed due to changes in views and templates
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
Due: mypy

i18n: fix translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: add space between site: mrn
  opal/patients/templates/patients/relationships/view_relationship.html
Due: check-form-novalidate

fix: fix failing test due to the change site: mrn
  opal/patients/tests/test_views.py
Due: mypy
