Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

Merge branch 'main' into QSCCD-1236.AG.add-logging-for-pdf-generator
  opal/caregivers/api/serializers.py
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_apiviews.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/models.py
  opal/legacy/tests/test_commands.py
  opal/patients/admin.py
  opal/patients/api/serializers.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/migrations/0023_patient_data_access.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  setup.cfg
Due: mypy

WIP
  opal/core/management/commands/insert_test_data.py
Due: mypy

add institution option
  opal/core/management/commands/files/muhc/logo.png
  opal/core/management/commands/files/muhc/terms_of_use_en.pdf
  opal/core/management/commands/files/muhc/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
Due: mypy

fix: fix border
  diagram.puml
  opal/patients/templates/patients/relationships/patient_details.html
Due: check-form-novalidate

fix: fix card borders and spaces
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/patient_details.html
  opal/patients/templates/patients/relationships/view_relationship.html
Due: check-form-novalidate

fix: fix heading to be consistent with title definitions
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/patient_details.html
  opal/patients/templates/patients/relationships/view_relationship.html
Due: check-form-novalidate

fix bug
  opal/patients/forms.py
  opal/patients/views.py
Due: mypy

fix patient not found error handling
  opal/core/drf_permissions.py
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/views.py
  opal/questionnaires/queries.py
  opal/services/reports.py
  setup.cfg
Due: mypy

fix translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: remove self from type options in non-self relationship edit
  diagram.puml
  opal/patients/forms.py
  opal/patients/utils.py
Due: mypy

fix: fix failing tests remove duplicate tests
  opal/patients/tests/test_utils.py
Due: mypy

fix: fix switching to self made it specific to the form
  opal/patients/forms.py
  opal/patients/utils.py
Due: mypy

fix: fix failing tests
  opal/patients/tests/test_utils.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into should-not-switch-to-self
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/tests/test_views.py
  opal/patients/templates/patients/access_request/new_access_request.html
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/questionnaires/tests/test_views.py
  opal/templates/sidebar.html
  opal/templates/sidebar_menu.html
  setup.cfg
Due: check-form-novalidate, mypy

fix: add tests to editing self-relationship
  opal/patients/tests/test_forms.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into manage-caregiver-unit-tests
  opal/legacy/api/views/app_chart.py
  opal/legacy/factories.py
  opal/legacy/models.py
Due: mypy

fix: test the case if first and last name of caregiver is bypassed for self/nonself relations
  opal/patients/tests/test_views.py
Due: mypy

fix: add test case to self cannot change caregiver name
  opal/patients/tests/test_views.py
Due: mypy

fix: fix failing test
  opal/patients/tests/test_utils.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into manage-caregiver-unit-tests
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

feat: modify HealthDataView to return graphs for ORMS
  .env.sample
  opal/health_data/templates/chart_display.html
  opal/health_data/templates/health_data_display.html
  opal/health_data/templates/index.html
  opal/health_data/views.py
  opal/settings.py
Due: check-form-novalidate, mypy

fix: use x-orms-wearablecharts header for requests from orms
  .env.sample
  opal/health_data/views.py
  opal/settings.py
Due: mypy

chore: translations
  opal/health_data/locale/fr/LC_MESSAGES/django.po
Due: none

test: add unit test for the chart_display template
  opal/health_data/tests/test_views.py
Due: mypy

Merge branch 'main' into QSCCD-1170.AG.add-api-for-wearables-data-charts
  opal/core/drf_permissions.py
  opal/legacy/api/views/app_chart.py
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
  opal/patients/views.py
  opal/questionnaires/queries.py
  opal/services/reports.py
  setup.cfg
Due: mypy

fix: remove http header
  .env.sample
  opal/health_data/tests/test_views.py
  opal/health_data/views.py
  opal/settings.py
Due: mypy

Merge branch 'main' into QSCCD-1170.AG.add-api-for-wearables-data-charts
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/patient_details.html
  opal/patients/templates/patients/relationships/view_relationship.html
Due: check-form-novalidate

refactor: address MR comments
  .env.sample
  locale/fr/LC_MESSAGES/django.po
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/index.html
Due: check-form-novalidate

chore: merge main
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/tests/test_views.py
  opal/patients/templates/patients/access_request/new_access_request.html
  opal/patients/tests/test_views.py
  opal/questionnaires/tests/test_views.py
  opal/templates/sidebar.html
  opal/templates/sidebar_menu.html
  setup.cfg
Due: check-form-novalidate, mypy

feat: add management command to update patient UUIDs in ORMS
  opal/legacy/management/commands/update_orms_patients.py
  opal/settings.py
Due: mypy

fix: delete management command
  opal/legacy/management/commands/update_orms_patients.py
Due: mypy

Merge branch 'main' into QSCCD-1170.AG.add-api-for-wearables-data-charts
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docker-compose.yml
  opal/caregivers/api/views.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_apiviews.py
  opal/core/utils.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/tests/test_models.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/templates/patients/access_request/confirmation.html
  opal/patients/templates/patients/access_request/confirmation_code.html
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/sidebar.html
  opal/templates/sidebar_menu.html
  opal/tests/sql/test_QuestionnaireDB.sql
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  setup.cfg
Due: check-form-novalidate, mypy

fix: remove orms host from settings
  opal/settings.py
Due: mypy

fix: fix redirection url of the registration
  opal/patients/views.py
Due: mypy

fix refactor the code
  opal/patients/views.py
Due: mypy

Merge branch 'main' into QSCCD-1257.LL.fix-registration-url
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/tests/test_views.py
  opal/patients/forms.py
  opal/patients/templates/patients/access_request/new_access_request.html
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/templates/patients/relationships/patient_details.html
  opal/patients/templates/patients/relationships/view_relationship.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/questionnaires/tests/test_views.py
  opal/templates/sidebar.html
  opal/templates/sidebar_menu.html
  setup.cfg
Due: check-form-novalidate, mypy

refactor: rename access request view and URL
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/templates/sidebar.html
Due: check-form-novalidate, mypy

Merge remote-tracking branch 'origin/main' into access-request-rename-url
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/tests/test_views.py
  opal/patients/templates/patients/access_request/new_access_request.html
  opal/patients/tests/test_views.py
  opal/questionnaires/tests/test_views.py
  opal/templates/sidebar.html
  opal/templates/sidebar_menu.html
  setup.cfg
Due: check-form-novalidate, mypy

fix: add more tests for search form and disabled fields function
  opal/patients/tests/test_forms.py
Due: mypy
