Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

feat deps fix flake8 error
  opal/patients/api/views.py
Due: mypy

feat deps fix the return type
  opal/patients/api/views.py
Due: mypy

feat deps add select_related and prefetch_related
  opal/patients/api/views.py
Due: mypy

feat deps refactor the code
  opal/core/tests/test_api_urls.py
Due: mypy

feat deps refactor the serializers with dynamic fields
  opal/caregivers/api/serializer.py
  opal/core/api/serializers.py
  opal/patients/api/serializers.py
Due: mypy

feat deps refactor the serializers
  opal/caregivers/api/serializer.py
  opal/hospital_settings/api/serializers.py
  opal/patients/api/serializers.py
  opal/patients/api/views.py
  opal/patients/tests/test_apiview.py
Due: mypy

feat deps fix annotations
  opal/caregivers/api/serializer.py
Due: mypy

feat deps refactor the code and annotations
  opal/patients/api/serializers.py
Due: mypy

feat deps refactor the annotations
  opal/patients/api/views.py
  opal/patients/tests/test_apiview.py
Due: mypy

Merge branch 'qsccd-475' into qsccd-509
  opal/caregivers/api/serializers.py
  opal/caregivers/api/views.py
  opal/caregivers/api/viewsets.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_viewsets.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/hospital_settings/factories.py
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/migrations/0008_add_terms_of_use.py
  opal/hospital_settings/models.py
  opal/hospital_settings/translation.py
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_data.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_data.py
  opal/services/hospital/tests/test_hospital_validation.py
  opal/services/tests/__init.py__
  opal/services/tests/__init__.py
  setup.cfg
Due: mypy

bug deps fix the import
  opal/patients/api/views.py
Due: mypy

feat deps refactor the serializers
  opal/caregivers/api/serializers.py
  opal/patients/api/serializers.py
Due: mypy

bug deps fix merge error
  opal/caregivers/api/serializers.py
Due: mypy

feat desp fix annotations
  opal/patients/api/serializers.py
  opal/patients/api/views.py
Due: mypy

feat deps fix flake8 ignore
  setup.cfg
Due: none

Merge branch 'main' into qsccd-509
  requirements/base.txt
  requirements/docs.txt
Due: none

Merge branch 'main' into qsccd-509
  .env.sample
  locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/__init__.py
  opal/questionnaires/apps.py
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/migrations/0001_initial.py
  opal/questionnaires/migrations/__init__.py
  opal/questionnaires/models.py
  opal/questionnaires/templates/questionnaires/export_reports/exportreports.html
  opal/questionnaires/templates/questionnaires/index.html
  opal/questionnaires/tests/__init__.py
  opal/questionnaires/tests/test_urls.py
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/urls.py
  opal/questionnaires/views.py
  opal/settings.py
  opal/templates/layouts/base.html
  opal/urls.py
Due: check-form-novalidate, mypy

Merge branch 'main' into qsccd-509
  opal/hospital_settings/api/serializers.py
  opal/hospital_settings/factories.py
  opal/hospital_settings/forms.py
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/migrations/0009_institution_support_email.py
  opal/hospital_settings/models.py
  opal/hospital_settings/tests/test_models.py
Due: mypy

feat deps refactor the annotations
  opal/hospital_settings/api/serializers.py
  opal/patients/api/serializers.py
Due: mypy

bug deps fix flake8 errors
  opal/hospital_settings/api/serializers.py
  opal/patients/api/serializers.py
Due: mypy

feat deps add link to the annotation of DynamicFieldsSerializer
  opal/core/api/serializers.py
Due: mypy

Merge branch 'main' into qsccd-509
  README.md
  docs/apps/new_app.md
  docs/apps/structure.md
  docs/architecture.md
  mkdocs.yml
Due: none

feat: Update translation file for base.html
  locale/fr/LC_MESSAGES/django.po
Due: none

fix: Use docker command to properly formulate django.po
  locale/fr/LC_MESSAGES/django.po
Due: none

fix: Corrected makemessages command to omit line numbers
  locale/fr/LC_MESSAGES/django.po
Due: none

fix: apply corrected translations to questionnaires locale
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

test: add test for existence of redirect button
  opal/questionnaires/templates/questionnaires/export_reports/exportreports.html
  opal/questionnaires/tests/test_views.py
Due: check-form-novalidate, mypy

feat: implement 'model-less' custom permissions with dummy model
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/migrations/0001_initial.py
  opal/questionnaires/models.py
  opal/questionnaires/templates/questionnaires/export_reports/exportreports.html
  opal/questionnaires/views.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy

test: correct existing tests with new permissions
  opal/questionnaires/tests/__init__.py
  opal/questionnaires/tests/test_views.py
Due: mypy

refactor: drop usage statistics button
  opal/questionnaires/templates/questionnaires/export_reports/exportreports.html
Due: check-form-novalidate

refactor: revert to one unified permission for export reports
  opal/questionnaires/migrations/0001_initial.py
  opal/questionnaires/models.py
  opal/questionnaires/templates/questionnaires/export_reports/exportreports.html
  opal/questionnaires/views.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy

fix: translation strings removed
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

chore(deps): update dependency mkdocs-literate-nav to v0.5.0
  requirements/docs.txt
Due: none

refactor: update the transaltion file
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

test: Add more test function followed by code review
  opal/patients/tests/test_views.py
Due: mypy

fix: fix the test functions issues caused by moving the protected function into the view class
  opal/patients/tests/test_views.py
Due: mypy

refactor: refactor the test functions followed by code review
  opal/patients/tests/test_views.py
Due: mypy

feat: api endpoints for security questions (QSCCD-268)
  opal/caregivers/api/serializer.py
  opal/caregivers/api/serializers.py
  opal/caregivers/api/views.py
  opal/caregivers/api/viewsets.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_viewsets.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  setup.cfg
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

