Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

.pre-commit-config.yaml:

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
  - id: isort
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.13.0
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.17.0
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.21.0
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: flake8
    name: flake8
    description: wemake-python-styleguide++ enforcement
    entry: flake8
    args: ["--config=setup.cfg"]
    language: python
    types: [python]
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix: address MR comments
  opal/usage_statistics/forms.py
Due: flake8, mypy

feat: check all checkboxes when click on all
  opal/usage_statistics/forms.py
Due: flake8, mypy

feat: check all checkboxes when click on all
  opal/usage_statistics/forms.py
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
Due: check-form-novalidate, flake8, mypy

Merge branch 'main' into QSCCD-2234.AG.add-form-for-exporting-statistics
  config/settings/base.py
  opal/core/constants.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/models.py
Due: flake8, mypy

chore: update changelog
  CHANGELOG.md
Due: none

Merge branch 'main' into QSCCD-2234.AG.add-form-for-exporting-statistics
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: flake8, mypy

cr
  opal/legacy/managers.py
Due: flake8, mypy

update unit test
  opal/legacy/api/views/tests/test_app_chart.py
Due: flake8, mypy

update unit test
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/managers.py
Due: flake8, mypy

Merge branch 'main' of https://gitlab.com/opalmedapps/backend into QSCCD-2239.DZY.update-unit-test
  .env.sample
  .gitlab-ci.yml
  .pre-commit-config.yaml
  config/settings/base.py
  opal/core/drf_permissions.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/core/tests/test_form_layouts.py
  opal/templates/bootstrap5/layout/formactions.html
  opal/users/api/viewsets.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, flake8, mypy

chore: hardcode legacy DB names since they cannot change
  .env.sample
  config/settings/base.py
Due: flake8, mypy

remove DB names from gitlab ci
  .gitlab-ci.yml
Due: none

fix: update django-stubs
  opal/core/drf_permissions.py
  opal/users/api/viewsets.py
  requirements/base.txt
  requirements/development.txt
Due: flake8, mypy

chore(deps): update dependency dj-rest-auth to v7
  requirements/base.txt
Due: none

feat: add ability to provide admin user password
  config/settings/base.py
  opal/core/management/commands/initialize_data.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/models.py
Due: flake8, mypy

fix tests
  opal/core/tests/test_commands.py
  opal/legacy/models.py
Due: flake8, mypy

add tests
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
Due: flake8, mypy

improvements
  opal/core/constants.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
Due: flake8, mypy

changes version of mysqlclient
  requirements/base.txt
Due: none

Apply 1 suggestion(s) to 1 file(s)
  requirements/base.txt
Due: none

rename OIE_ to SOURCE_SYSTEM_
  .env.sample
  config/settings/base.py
  opal/databank/management/commands/send_databank_data.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_validators.py
  opal/patients/tests/test_views.py
  opal/services/general/service_communication.py
  opal/services/hospital/hospital_communication.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_validation.py
Due: flake8, mypy

feat: add helper function for creating zip files
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: flake8, mypy

refactor: update zip function
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: flake8, mypy

Merge branch 'main' into QSCCD-2234.AG.add-zip-file-help-function
  opal/static/thirdparty/fontawesomefree/css/fontawesome.min.css
  opal/static/thirdparty/fontawesomefree/css/regular.min.css
  opal/static/thirdparty/fontawesomefree/css/solid.min.css
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.woff2
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.woff2
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
Due: none

feat: add helper function for converting dict to csv
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: flake8, mypy

feat: covert list of dictionaries to a CSV
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: flake8, mypy

test: update unit tests
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: flake8, mypy

Merge branch 'main' into QSCCD-2234.AG.dict-to-csv-help-function
  .env.sample
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Dockerfile
  config/settings/base.py
  docker-compose.yml
  opal/conftest.py
  opal/core/api_urls.py
  opal/core/constants.py
  opal/core/drf_permissions.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/core/tests/test_drf_permissions.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/management/commands/update_orms_patients.py
  opal/legacy/tests/test_commands.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/static/thirdparty/fontawesomefree/css/fontawesome.min.css
  opal/static/thirdparty/fontawesomefree/css/regular.min.css
  opal/static/thirdparty/fontawesomefree/css/solid.min.css
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.woff2
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.woff2
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: flake8, mypy

fix: rename csv function
  opal/core/utils.py
Due: flake8, mypy

refactor: update csv helper function
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: flake8, mypy

refactor: update docstring
  opal/core/utils.py
Due: flake8, mypy

chore: merge
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: flake8, mypy

Merge branch 'main' into QSCCD-2234.AG.dict-to-csv-help-function
  .gitlab-ci.yml
  CHANGELOG.md
  opal/core/management/commands/initialize_data.py
  opal/static/thirdparty/fontawesomefree/css/fontawesome.min.css
  opal/static/thirdparty/fontawesomefree/css/regular.min.css
  opal/static/thirdparty/fontawesomefree/css/solid.min.css
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-regular-400.woff2
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.ttf
  opal/static/thirdparty/fontawesomefree/webfonts/fa-solid-900.woff2
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
  opal/static/thirdparty/unpoly/css/unpoly.min.css
  opal/static/thirdparty/unpoly/js/unpoly.min.js
  opal/usage_statistics/common.py
  opal/usage_statistics/conftest.py
  opal/usage_statistics/constants.py
  opal/usage_statistics/forms.py
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/queries.py
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
  opal/usage_statistics/tests/test_forms.py
  opal/usage_statistics/tests/test_queries.py
  opal/usage_statistics/views.py
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, flake8, mypy

Merge branch 'main' into QSCCD-2234.AG.dict-to-csv-help-function
  opal/users/api/serializers.py
  opal/users/api/viewsets.py
  opal/users/locale/fr/LC_MESSAGES/django.po
  opal/users/tests/test_drf_viewsets.py
  requirements/development.txt
Due: flake8, mypy

refactor: adderss MR comments
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: flake8, mypy

feat: Add config for ORMS system enabled
  .env.sample
  config/settings/base.py
  opal/conftest.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/legacy/management/commands/update_orms_patients.py
  opal/legacy/tests/test_commands.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/services/orms/orms_communication.py
Due: flake8, mypy
