Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

flake8:
  name: flake8
  description: wemake-python-styleguide++ enforcement
  entry: flake8
  args:
  - --config=setup.cfg
  language: python

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

build(deps): update docker docker tag to v27.4.0
  .gitlab-ci.yml
Due: none

fix(deps): update dependency unpoly to v3.9.4
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
Due: none

feat: add date range filters to the individual reports
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_queries.py
Due: flake8, mypy

chore(deps): update dependency mkdocs-material to v9.5.49
  requirements/docs.txt
Due: none

test: improve QuestionnaireDB handling
  config/settings/base.py
  opal/caregivers/tests/test_api_views.py
  opal/conftest.py
  opal/databank/api/tests/test_api_views.py
  opal/databank/tests/test_commands.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/models.py
  opal/legacy/tests/test_commands.py
  opal/legacy/tests/test_utils.py
  opal/legacy/utils.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
  opal/legacy_questionnaires/tests/test_managers.py
  opal/legacy_questionnaires/tests/test_models.py
  opal/patients/tests/test_utils.py
  opal/questionnaires/queries.py
  opal/questionnaires/tests/test_queries.py
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/views.py
  opal/tests/sql/questionnairedb_data.sql
  opal/tests/sql/questionnairedb_functions.sql
  opal/tests/sql/test_QuestionnaireDB.sql
  pytest.ini
Due: flake8, mypy

feat: add form for exporting individual usage statistics
  CHANGELOG.md
  locale/fr/LC_MESSAGES/django.po
  opal/templates/sidebar_menu.html
  opal/usage_statistics/conftest.py
  opal/usage_statistics/forms.py
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/tests/test_forms.py
  opal/usage_statistics/tests/test_urls.py
  opal/usage_statistics/tests/test_views.py
  opal/usage_statistics/urls.py
  opal/usage_statistics/views.py
Due: check-form-novalidate, flake8, mypy

add structlog
  Dockerfile
  config/settings/base.py
  config/settings/production.py
  opal/questionnaires/views.py
  requirements/base.txt
Due: flake8, mypy

remove django-easy-audit references
  THIRDPARTY.md
  config/settings/test.py
  docs/architecture.md
  opal/core/audit.py
  pytest.ini
Due: flake8, mypy

remove remaining references
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/views.py
Due: flake8, mypy

add missing docstrings
  opal/core/middleware.py
Due: flake8, mypy

replace root logger with opal one
  config/settings/base.py
  config/settings/production.py
Due: flake8, mypy

fix production console logger
  config/settings/production.py
Due: flake8, mypy

fix permission error
  Dockerfile
Due: none

add signal to bind appuserid to request log
  config/settings/base.py
  opal/core/signals.py
Due: flake8, mypy

register signals when core app loads
  opal/core/apps.py
Due: flake8, mypy

argh
  opal/core/signals.py
Due: flake8, mypy

use header instead of post
  opal/core/signals.py
Due: flake8, mypy

test: cleanup test data in questionnaire tests
  opal/conftest.py
  opal/questionnaires/tests/test_queries.py
  opal/tests/sql/questionnairedb_cleanup.sql
  opal/tests/sql/questionnairedb_data.sql
  opal/usage_statistics/tests/test_queries.py
Due: flake8, mypy

feat: add charts and tables for questions in the questionnaire report
  .env.sample
  .gitlab-ci.yml
  config/settings/base.py
  opal/services/reports/base.py
  opal/services/reports/questionnaire.py
  opal/services/reports/tests/test_pathology.py
  opal/services/reports/tests/test_questionnaire.py
  opal/test_results/utils.py
Due: flake8, mypy

feat: add functionality to import data for questionnaire report
  opal/conftest.py
  opal/legacy/tests/test_utils.py
  opal/legacy/utils.py
  opal/services/reports/questionnaire.py
  opal/services/reports/tests/test_questionnaire.py
  opal/test_results/utils.py
  opal/tests/sql/questionnairedb_functions.sql
Due: flake8, mypy

feat: use the new generation for the questionnaire report
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/legacy/tests/test_utils.py
  opal/legacy/utils.py
  opal/services/reports/questionnaire.py
Due: flake8, mypy

fix(deps): update dependency @fortawesome/fontawesome-free to v6.7.2
  opal/static/thirdparty/package-lock.json
  opal/static/thirdparty/package.json
Due: none

chore: replace flake8 with ruff
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  renovate.json5
  requirements/development.txt
  setup.cfg
Due: none

add check toml
  .pre-commit-config.yaml
Due: none

fix I001
  opal/caregivers/api/views.py
  opal/caregivers/migrations/0001_caregiverprofile.py
  opal/caregivers/migrations/0002_registrationcode.py
  opal/caregivers/migrations/0003_securityquestion.py
  opal/caregivers/migrations/0005_device.py
  opal/caregivers/migrations/0006_emailverification.py
  opal/caregivers/tests/test_api_views.py
  opal/databank/migrations/0001_initial.py
  opal/databank/migrations/0002_shared_data.py
  opal/databank/migrations/0003_alter_databankconsent_last_synchronized.py
  opal/health_data/migrations/0001_initial.py
  opal/health_data/migrations/0002_quantitysample_patient_foreignkey.py
  opal/hospital_settings/migrations/0001_initial.py
  opal/legacy/utils.py
  opal/patients/forms.py
  opal/patients/migrations/0002_patient_relationship.py
  opal/patients/migrations/0003_adjust_patient_fields.py
  opal/patients/migrations/0004_hospitalpatient.py
  opal/patients/migrations/0011_patient_date_of_death.py
  opal/patients/migrations/0014_prepopulate_relationshiptype.py
  opal/patients/migrations/0018_update_existing_relationshiptypes.py
  opal/patients/migrations/0019_add_remaining_default_relationshiptypes.py
  opal/patients/migrations/0026_add_patient_created_at_field.py
  opal/patients/tests/test_utils.py
  opal/pharmacy/migrations/0001_initial.py
  opal/pharmacy/migrations/0002_fix_uniqueness_constraint_and_codedelement_usage.py
  opal/questionnaires/migrations/0002_questionnaire_profile.py
  opal/questionnaires/migrations/0004_alter_questionnaireprofile_user.py
  opal/test_results/migrations/0001_initial.py
  opal/test_results/migrations/0002_add_reported_at_case_number.py
  opal/test_results/migrations/0003_use_plural_form_for_related_fields.py
  opal/test_results/migrations/0005_split_observation_models.py
  opal/usage_statistics/migrations/0001_initial.py
  opal/usage_statistics/migrations/0002_split_user_app_activity_model.py
  opal/users/migrations/0001_initial.py
  opal/users/migrations/0002_add_user_types.py
Due: flake8, mypy

fix F rules
  opal/legacy/tests/test_commands.py
Due: flake8, mypy

fix N and UP rules
  opal/core/drf_permissions.py
  opal/core/middleware.py
  opal/core/tests/test_api_urls.py
  opal/databank/models.py
  opal/legacy/management/commands/migrate_caregivers.py
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/management/commands/migrate_securityanswers.py
  opal/legacy/management/commands/migrate_securityquestions.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/management/commands/update_orms_patients.py
  opal/legacy/managers.py
  opal/patients/management/commands/expire_relationships.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  opal/services/charts.py
  opal/services/data_processing/deidentification.py
  opal/services/general/service_communication.py
  opal/services/reports/pathology.py
  opal/services/reports/questionnaire.py
  opal/test_results/models.py
  opal/usage_statistics/models.py
  opal/usage_statistics/tests/test_models.py
Due: flake8, mypy

fix B rules
  opal/caregivers/api/views.py
  opal/core/api/views.py
  opal/core/drf_parsers/hl7_parser.py
  opal/hospital_settings/api/views.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/managers.py
  opal/patients/api/views.py
  opal/test_results/api/views.py
  opal/users/api/viewsets.py
Due: flake8, mypy

fix C4 rules
  opal/questionnaires/queries.py
Due: flake8, mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  flake8: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

