Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

Merge remote-tracking branch 'origin/main' into add-django-upgrade
  .pre-commit-config.yaml
  mkdocs.yml
  opal/caregivers/admin.py
  opal/caregivers/api/viewsets.py
  opal/caregivers/tests/test_managers.py
  opal/core/auth.py
  opal/core/drf_parsers/hl7_parser.py
  opal/core/forms/layouts.py
  opal/core/management/commands/insert_test_data.py
  opal/databank/management/commands/send_databank_data.py
  opal/databank/tests/test_commands.py
  opal/hospital_settings/admin.py
  opal/hospital_settings/models.py
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/managers.py
  opal/legacy/tests/test_commands.py
  opal/legacy/tests/test_managers.py
  opal/legacy_questionnaires/managers.py
  opal/patients/admin.py
  opal/patients/forms.py
  opal/patients/models.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_views.py
  opal/pharmacy/api/serializers.py
  opal/questionnaires/tests/test_views.py
  opal/services/hospital/tests/test_hospital_validation.py
  opal/services/orms/orms_validation.py
  opal/usage_statistics/tests/test_commands.py
  opal/usage_statistics/tests/test_utils.py
  opal/usage_statistics/utils.py
  opal/users/models.py
  opal/users/tests/test_drf_urls.py
  opal/users/tests/test_models.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  setup.cfg
Due: mypy

Merge remote-tracking branch 'origin/main' into add-django-upgrade
  .gitlab-ci.yml
  Dockerfile
Due: none

Update file renovate.json5
  renovate.json5
Due: none

chore(deps): update pre-commit hook asottile/pyupgrade to v3.17.0
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency mypy to v1.11.1
  requirements/development.txt
Due: none

chore(deps): update dependency coverage to v7.6.1
  requirements/development.txt
Due: none

chore(deps): update dependency django-modeltranslation to v0.19.6
  requirements/base.txt
Due: none

build(deps): update docker docker tag to v27.1.2
  .gitlab-ci.yml
Due: none

chore(deps): update dependency gunicorn to v23
  requirements/production.txt
Due: none

chore(deps): update dependency twilio to v9.2.4
  requirements/base.txt
Due: none

cr
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_queries.py
Due: mypy

John's report
  opal/usage_statistics/queries.py
Due: mypy

unit test
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_queries.py
Due: mypy

Code review
  opal/usage_statistics/queries.py
Due: mypy

Merge branch 'main' of https://gitlab.com/opalmedapps/backend into QSCCD-2204.DZY.Move-legacy-individual-reports-procedure-to-Django
  .env.sample
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Dockerfile
  THIRDPARTY.md
  config/settings/test.py
  opal/caregivers/models.py
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  opal/databank/api/serializers.py
  opal/databank/api/tests/test_api_views.py
  opal/databank/api/views.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_managers.py
  opal/patients/tests/test_utils.py
  opal/services/data_processing/deidentification.py
  opal/services/data_processing/tests/fixtures/attributes_expected_signatures.csv
  opal/services/data_processing/tests/test_deidentification.py
  opal/services/reports.py
  opal/services/tests/test_reports.py
  opal/test_results/api/views.py
  opal/test_results/utils.py
  opal/usage_statistics/tests/test_commands.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

Merge branch 'main' of https://gitlab.com/opalmedapps/backend into QSCCD-2204.DZY.Move-legacy-individual-reports-procedure-to-Django
  .pre-commit-config.yaml
  config/settings/base.py
  opal/caregivers/api/serializers.py
  opal/core/drf_permissions.py
  opal/databank/management/commands/send_databank_data.py
  opal/legacy/api/views/orms_auth.py
  opal/legacy/managers.py
  opal/patients/managers.py
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_utils.py
  opal/usage_statistics/utils.py
  opal/users/admin.py
  opal/users/models.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

Merge branch 'main' of https://gitlab.com/opalmedapps/backend into QSCCD-2204.DZY.Move-legacy-individual-reports-procedure-to-Django
  CHANGELOG.md
  config/urls.py
  locale/fr/LC_MESSAGES/django.po
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_managers.py
  opal/legacy_questionnaires/sql/databank_questionnaires_answer.sql
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
  opal/templates/sidebar_menu.html
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
  opal/usage_statistics/tests/test_urls.py
  opal/usage_statistics/tests/test_views.py
  opal/usage_statistics/urls.py
  opal/usage_statistics/views.py
Due: check-form-novalidate, mypy

cr
  opal/usage_statistics/tests/test_queries.py
Due: mypy

Merge branch 'main' of https://gitlab.com/opalmedapps/backend into QSCCD-2204.DZY.Move-legacy-individual-reports-procedure-to-Django
  opal/legacy/managers.py
Due: mypy

chore(deps): update pre-commit hook adamchainz/django-upgrade to v1.21.0
  .pre-commit-config.yaml
Due: none

build(deps): update docker docker tag to v27.2.1
  .gitlab-ci.yml
Due: none

add pathology for rory
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
Due: mypy

fix: update questionnaires report url in sample env
  .env.sample
Due: none

Merge branch 'main' into update-sample-env
  .gitlab-ci.yml
  .pre-commit-config.yaml
  config/settings/test.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

validate health_data_auth patient response and avoid create if Declined
  opal/databank/api/serializers.py
  opal/databank/api/tests/test_api_views.py
  opal/databank/api/views.py
Due: mypy

add french to possible response for databank consent response
  opal/databank/api/serializers.py
  opal/databank/api/tests/test_api_views.py
Due: mypy

change consent var to bool
  opal/databank/api/serializers.py
  opal/databank/api/tests/test_api_views.py
  opal/databank/api/views.py
Due: mypy

fix type hint
  opal/databank/api/serializers.py
Due: mypy

chore(deps): update dependency plotly to v5.24.1
  requirements/base.txt
Due: none

fix OSI class validation by uysing SexTYpe instead of string display
  opal/databank/api/views.py
  opal/services/data_processing/deidentification.py
  opal/services/data_processing/tests/fixtures/attributes_expected_signatures.csv
  opal/services/data_processing/tests/test_deidentification.py
Due: mypy

add mappings
  opal/services/data_processing/tests/test_deidentification.py
Due: mypy

Refactor reports.py classes
  opal/services/reports.py
  opal/test_results/api/views.py
  opal/test_results/utils.py
Due: mypy

Flake8 and mypy fixes
  opal/services/reports.py
  opal/services/tests/test_reports.py
  opal/test_results/api/views.py
  opal/test_results/utils.py
Due: mypy

Flake8 fixes and suggestions change
  opal/services/reports.py
  opal/test_results/utils.py
Due: mypy

refactor Institution data and mypy fixes
  opal/services/reports.py
  opal/services/tests/test_reports.py
  opal/test_results/api/views.py
  opal/test_results/utils.py
Due: mypy

Merge branch 'main' into report-refactor
  .gitlab-ci.yml
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
  opal/usage_statistics/tests/test_commands.py
  requirements/base.txt
  requirements/docs.txt
Due: mypy

Merge branch 'main' into report-refactor
  .vscode/settings.json
  opal/patients/tests/test_utils.py
Due: mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/services/reports.py
Due: mypy

fix: add missing data to legacy appointments API
  opal/legacy/api/serializers.py
  opal/legacy/models.py
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

