Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

feat deps refactor the code
  opal/caregivers/api/serializers.py
Due: mypy

feat deps refactor the code
  opal/caregivers/api/serializers.py
  opal/caregivers/api/views.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

feat deps refactor the code
  opal/caregivers/api/serializers.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

Merge branch 'main' into QSCCD-132.LL.patient-caregivers
  opal/core/auth.py
  opal/core/tests/test_auth.py
  opal/core/tests/test_drf_permissions.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/forms.py
  opal/patients/managers.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_managers.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  requirements/development.txt
  requirements/docs.txt
Due: mypy

Merge branch 'main' into QSCCD-132.LL.patient-caregivers
  opal/caregivers/tests/test_models.py
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
Due: mypy

feat: add initial value to phone number, add a unit test to make sure area code exists
  opal/patients/forms.py
  opal/patients/tests/test_views.py
Due: mypy

fix: remove puml irrelevant file
  diagram.puml
Due: none

test: fix datetime comparisons in tests
  opal/caregivers/tests/test_models.py
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
Due: mypy

complete missing QR code page
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/qr_code.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

fixed translation strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix translation strings error
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

made changes according to code review comments
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/qr_code.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

chore(deps): update dependency pre-commit to v3.2.1
  requirements/development.txt
Due: none

chore(deps): update dependency django-filter to v23
  requirements/base.txt
Due: none

feat deps refactor the test function
  opal/caregivers/tests/test_viewsets.py
Due: mypy

feat deps add a comment to the api
  opal/core/api_urls.py
Due: mypy

Merge branch 'main' into QSCCD-734.LL.security-answer-enhancement
  opal/hospital_settings/factories.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/factories.py
  opal/legacy/models.py
Due: mypy

feat deps refactor the code
  opal/caregivers/api/serializers.py
  opal/caregivers/api/viewsets.py
Due: mypy

fix deps fix the test function
  opal/caregivers/tests/test_viewsets.py
Due: mypy

feat deps refactor the apis using username as parameter instead of uuid
  opal/caregivers/api/viewsets.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
Due: mypy

feat: add inline submit and reset buttons for inline forms
  locale/fr/LC_MESSAGES/django.po
  opal/core/form_layouts.py
Due: mypy

fix displaying of labels at different breakpoints
  opal/core/form_layouts.py
Due: mypy

support providing a name for the submit button
  opal/core/form_layouts.py
Due: mypy

Apply 1 suggestion(s) to 1 file(s)
  locale/fr/LC_MESSAGES/django.po
Due: none

Merge remote-tracking branch 'origin/main' into create-inline-submit
  .gitlab-ci.yml
  README.md
  opal/patients/migrations/0018_update_existing_relationshiptypes.py
Due: mypy

fix: fix code in site factory to not contain spaces
  opal/hospital_settings/factories.py
Due: mypy

fix: fix default English name for Parent/Guardian relationship type
  opal/patients/migrations/0018_update_existing_relationshiptypes.py
Due: mypy

fix: fix error when cancel or save after invalid entry
  diagram.puml
  opal/patients/views.py
Due: mypy

fix: make sure that renderer includes the search query
  opal/patients/views.py
Due: mypy

fix: fix tests the fails due to latest edit in the view
  opal/patients/tests/test_views.py
Due: mypy

fix: make some changes as per code review
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

fix: remove general exception to avoid suppressing other errors
  opal/patients/views.py
Due: mypy

fix: change renderer to referer
  opal/patients/views.py
Due: mypy

fix: change presedence of if statement
  opal/patients/views.py
Due: mypy

fix: update if statement as per code review
  opal/patients/views.py
Due: mypy

fix(deps): update dependency bootstrap to v5.3.0-alpha2
  opal/static/thirdparty/package.json
Due: none

add dist files
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
Due: none

chore(deps): update dependency fontawesomefree to v6.4.0
  requirements/base.txt
Due: none

chore(deps): update dependency plotly to v5.14.0
  requirements/base.txt
Due: none
