Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

Merge branch 'main' into fix-orms-host-env-variable
  requirements/base.txt
  requirements/development.txt
Due: none

Fix labs nesting and call OIE
  opal/databank/management/commands/send_databank_data.py
  opal/databank/tests/test_commands.py
  setup.cfg
Due: mypy

fix missing coverage
  opal/databank/management/commands/send_databank_data.py
  opal/databank/tests/test_commands.py
Due: mypy

Merge branch 'main' into QSCCD-1095.serialize-and-send-to-oie
  .env.sample
Due: none

add translations
  opal/databank/locale/fr/LC_MESSAGES/django.po
Due: none

add french translation
  opal/databank/locale/fr/LC_MESSAGES/django.po
  setup.cfg
Due: none

Merge branch 'main' into QSCCD-1095.serialize-and-send-to-oie
  .gitlab-ci.yml
  opal/caregivers/tests/test_migrations.py
  opal/caregivers/tests/test_viewsets.py
  opal/health_data/tests/test_drf_views.py
  opal/hospital_settings/tests/test_views.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_chart.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/tests/test_serializers.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/tests/test_managers.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/questionnaires/tests/test_views.py
  pytest.ini
Due: mypy

change visibility of nested serializers
  opal/caregivers/api/serializers.py
Due: mypy

Merge branch 'main' into QSCCD-1211.AG.vital-tracer-wearable-integration
  .gitlab-ci.yml
  opal/caregivers/tests/test_migrations.py
  opal/caregivers/tests/test_viewsets.py
  opal/health_data/tests/test_drf_views.py
  opal/hospital_settings/tests/test_views.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_chart.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/tests/test_serializers.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/tests/test_managers.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/questionnaires/tests/test_views.py
  pytest.ini
Due: mypy

fix: move blood pressure type to separate migration
  opal/health_data/migrations/0001_initial.py
  opal/health_data/migrations/0003_add_blood_pressure_types.py
  opal/health_data/models.py
  opal/health_data/tests/test_views.py
Due: mypy

fix: update transaltions
  opal/health_data/locale/fr/LC_MESSAGES/django.po
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

Merge branch 'main' into QSCCD-1211.AG.vital-tracer-wearable-integration
  opal/databank/factories.py
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/management/commands/send_databank_data.py
  opal/databank/migrations/0004_databankconsent_guid.py
  opal/databank/models.py
  opal/databank/tests/test_commands.py
  setup.cfg
Due: mypy

Merge branch 'main' into QSCCD-1211.AG.vital-tracer-wearable-integration
  opal/core/drf_permissions.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_drf_permissions.py
  opal/legacy/api/views/tests/test_caregiver_permissions.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  requirements/docs.txt
Due: mypy

chore(deps): update dependency gunicorn to v21
  requirements/production.txt
Due: none

fix: fix the test cases issues
  opal/hospital_settings/tests/test_models.py
Due: mypy

fix: add a custom field for Delay fields
  opal/core/forms/layouts.py
  opal/core/templates/forms/delayfield.html
  opal/hospital_settings/forms.py
Due: check-form-novalidate, mypy

fix: fix the issues following the code review
  opal/core/forms/layouts.py
  opal/core/templates/forms/delayfield.html
  opal/hospital_settings/forms.py
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/migrations/0012_add_delay_fields_for_labs.py
Due: check-form-novalidate, mypy

fix: adjust AppendedText following the code review
  opal/hospital_settings/forms.py
Due: mypy

fix: add test functions
  opal/hospital_settings/conftest.py
  opal/hospital_settings/tests/test_forms.py
  opal/hospital_settings/tests/test_views.py
Due: mypy

Merge branch 'main' into QSCCD-1315.SF.add-delay-fields-to-institution-page
  .gitlab-ci.yml
  CHANGELOG.md
  opal/caregivers/tests/test_migrations.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/drf_permissions.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_drf_permissions.py
  opal/databank/factories.py
  opal/databank/locale/fr/LC_MESSAGES/django.po
  opal/databank/management/commands/send_databank_data.py
  opal/databank/migrations/0004_databankconsent_guid.py
  opal/databank/models.py
  opal/databank/tests/test_commands.py
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/migrations/0003_add_blood_pressure_types.py
  opal/health_data/models.py
  opal/health_data/tests/test_drf_views.py
  opal/health_data/tests/test_views.py
  opal/hospital_settings/tests/test_views.py
  opal/legacy/api/views/tests/test_caregiver_permissions.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/questionnaires/tests/test_views.py
  pytest.ini
  requirements/docs.txt
  setup.cfg
Due: mypy

fix: fix the issues following the code review
  opal/hospital_settings/conftest.py
  opal/hospital_settings/tests/test_forms.py
Due: mypy

Merge branch 'main' into QSCCD-1315.SF.add-delay-fields-to-institution-page
  opal/health_data/views.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

chore(deps): update dependency factory-boy to v3.3.0
  requirements/development.txt
Due: none

fix: use local timezone in DF for plotly
  opal/health_data/views.py
Due: mypy

chore(deps): update dependency slippers to v0.6.0
  requirements/base.txt
Due: none

fix refactor the test function
  opal/patients/tests/test_managers.py
Due: mypy

Merge branch 'main' into QSCCD-1346.LL.fix-closest-appointments
  requirements/base.txt
Due: none

chore(deps): update dependency slippers to v0.6.1
  requirements/base.txt
Due: none

chore(deps): update dependency fontawesomefree to v6.4.2
  requirements/base.txt
Due: none

feat: add attribute data_access to the api PatientCaregiversSerializer
  opal/caregivers/api/serializers.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

chore: update tests and tarnslation strings
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/tests/test_views.py
Due: mypy

test: add unit tests for the quantity samples manager
  CHANGELOG.md
  opal/health_data/tests/test_managers.py
  opal/health_data/utils.py
Due: mypy

test: add unit tests for the charts service
  opal/services/charts.py
  opal/services/tests/test_charts.py
Due: mypy

fix: updatetest_generate_error_bar_chart_empty name
  opal/services/tests/test_charts.py
Due: mypy

make model factories realistic to both generaltest types
  opal/test_results/factories.py
  opal/test_results/tests/test_models.py
Due: mypy

fix test coverage
  opal/test_results/models.py
  opal/test_results/tests/test_models.py
Due: mypy

minor fixes
  CHANGELOG.md
  opal/test_results/models.py
  opal/test_results/tests/test_models.py
Due: mypy

Merge branch 'main' into QSCCD-1287.KA.pathology-app
  CHANGELOG.md
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/managers.py
  opal/health_data/models.py
  opal/health_data/tests/test_managers.py
  opal/health_data/tests/test_views.py
  opal/health_data/utils.py
  opal/health_data/views.py
  opal/services/charts.py
  opal/services/tests/test_charts.py
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

