Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

Merge branch 'main' into QSCCD-939.SF.fix-qr-code-not-displaying-on-page
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

Merge branch 'main' into QSCCD-939.SF.fix-qr-code-not-displaying-on-page
  requirements/base.txt
Due: none

fix: address code quality issue
  opal/core/auth.py
  opal/services/reports.py
Due: mypy

fix: set report generation timeout to 60 seconds
  opal/core/tests/test_auth.py
  opal/services/reports.py
  opal/services/tests/test_reports.py
Due: mypy

feat deps fix daily appointment query for confirmed patient
  opal/patients/managers.py
Due: mypy

feat deps refactor the code
  opal/legacy/managers.py
  opal/patients/managers.py
Due: mypy

Merge branch 'main' into QSCCD-927.LL.fix-appointment-api
  opal/core/auth.py
  opal/core/tests/test_auth.py
  opal/hospital_settings/tables.py
  opal/patients/tables.py
  opal/questionnaires/tables.py
  opal/services/reports.py
  opal/services/tests/test_reports.py
  opal/settings.py
Due: mypy

Merge branch 'main' into QSCCD-927.LL.fix-appointment-api
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/qr_code.html
  opal/patients/tests/test_views.py
  opal/patients/views.py
  requirements/base.txt
Due: check-form-novalidate, mypy

Merge branch 'main' into QSCCD-927.LL.fix-appointment-api
  opal/core/context_processors.py
  opal/core/tests/test_context_processors.py
Due: mypy

Merge branch 'main' into QSCCD-927.LL.fix-appointment-api
  .gitattributes
  .gitlab-ci.yml
  opal/static/css/fonts/ProximaNovaSoft-Regular.eot
  opal/static/css/fonts/ProximaNovaSoft-Regular.otf
  opal/static/css/fonts/ProximaNovaSoft-Regular.svg
  opal/static/css/fonts/ProximaNovaSoft-Regular.ttf
  opal/static/css/fonts/ProximaNovaSoft-Regular.woff
  opal/static/images/opal_logo_transparent.png
  opal/static/images/opal_logo_transparent_purple.png
  opal/static/plugins/adminlte/css/adminlte.min.css
  opal/static/plugins/adminlte/css/adminlte.min.css.map
  opal/static/plugins/adminlte/js/adminlte.min.js
  opal/static/plugins/adminlte/js/adminlte.min.js.map
  opal/static/plugins/bootstrap/js/bootstrap.bundle.min.js
  opal/static/plugins/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/plugins/fontawesome-free/css/all.min.css
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.woff2
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.woff2
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.woff2
  opal/static/plugins/jquery/jquery.min.js
  opal/static/plugins/jquery/jquery.min.js.map
  opal/static/plugins/jquery/jquery.min.map
  opal/tests/fixtures/test_PDF.pdf
  opal/tests/fixtures/test_logo.png
  opal/tests/sql/test_QuestionnaireDB.sql
Due: none

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-920-activate_action_button_in_search_caregiver_request
  opal/core/auth.py
  opal/core/tests/test_auth.py
  opal/hospital_settings/tables.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tables.py
  opal/patients/templates/patients/access_request/qr_code.html
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/questionnaires/tables.py
  opal/services/reports.py
  opal/services/tests/test_reports.py
  opal/settings.py
  requirements/base.txt
Due: check-form-novalidate, mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-920-activate_action_button_in_search_caregiver_request
  .gitattributes
  .gitlab-ci.yml
  opal/static/css/fonts/ProximaNovaSoft-Regular.eot
  opal/static/css/fonts/ProximaNovaSoft-Regular.otf
  opal/static/css/fonts/ProximaNovaSoft-Regular.svg
  opal/static/css/fonts/ProximaNovaSoft-Regular.ttf
  opal/static/css/fonts/ProximaNovaSoft-Regular.woff
  opal/static/images/opal_logo_transparent.png
  opal/static/images/opal_logo_transparent_purple.png
  opal/static/plugins/adminlte/css/adminlte.min.css
  opal/static/plugins/adminlte/css/adminlte.min.css.map
  opal/static/plugins/adminlte/js/adminlte.min.js
  opal/static/plugins/adminlte/js/adminlte.min.js.map
  opal/static/plugins/bootstrap/js/bootstrap.bundle.min.js
  opal/static/plugins/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/plugins/fontawesome-free/css/all.min.css
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.woff2
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.woff2
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.woff2
  opal/static/plugins/jquery/jquery.min.js
  opal/static/plugins/jquery/jquery.min.js.map
  opal/static/plugins/jquery/jquery.min.map
  opal/tests/fixtures/test_PDF.pdf
  opal/tests/fixtures/test_logo.png
  opal/tests/sql/test_QuestionnaireDB.sql
Due: none

fix: fix translation and other comments as per code review
  diagram.puml
  opal/patients/views.py
Due: mypy

fix: enhance crispy forms, cancelbutton, implement maintaining search result for save button
  opal/patients/forms.py
  opal/patients/views.py
Due: mypy

fix: remove prev_url from the crispy form, and only used cancel_url
  opal/patients/forms.py
Due: mypy

fix: remove pencil icon html, re-used action html buttons, updated url tests
  opal/patients/tables.py
  opal/patients/tests/test_urls.py
  opal/templates/tables/edit_pencil_icon.html
Due: check-form-novalidate, mypy

fix: restructure the template file as per code review comments, updated unit tests accordingly
  opal/patients/templates/patients/relationships/edit_relationships.html
  opal/patients/templates/patients/relationships/pending/form.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/templates/patients/relationships/relationship_filter.html
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: check-form-novalidate, mypy

add comment on the class
  opal/core/tests/test_drf_fields.py
Due: mypy

fix comments
  opal/core/tests/test_drf_fields.py
Due: mypy

add translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

feat deps add test function for daily appointment
  opal/legacy/api/views/tests/test_app_appointments.py
Due: mypy

feat deps refactor the code
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/factories.py
Due: mypy

fix deps fix flake8 errors
  opal/legacy/api/serializers.py
  opal/legacy/models.py
Due: mypy

feat deps add checkin instruction info to the daily appointments
  opal/legacy/api/serializers.py
  opal/legacy/models.py
Due: mypy

feat deps add mapURL and mapDescription info to daily appointments
  opal/legacy/api/serializers.py
  opal/legacy/models.py
Due: mypy

add institution code in env file
  .env.sample
Due: none

fix test_random_registration_code_is_unique
  opal/core/tests/test_utils.py
Due: mypy

fix: use adfs for password check during registration
  opal/core/auth.py
  opal/core/tests/test_auth.py
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
Due: mypy

fix: use authenticate method
  opal/core/auth.py
  opal/core/tests/test_auth.py
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
Due: mypy

fix: remove empty string from get
  opal/patients/forms.py
Due: mypy

Merge branch 'main' into QSCCD-952.AG.use-ADFS-for-password-check
  .env.sample
  opal/core/tests/test_utils.py
  opal/core/utils.py
  opal/patients/admin.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0018_update_existing_relationshiptypes.py
  opal/patients/migrations/0019_add_remaining_default_relationshiptypes.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/templates/patients/relationships/edit_relationships.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/templates/patients/relationships/relationship_filter.html
  opal/patients/tests/test_admin.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/tables/edit_pencil_icon.html
  opal/users/models.py
  requirements/development.txt
  requirements/docs.txt
  setup.cfg
Due: check-form-novalidate, mypy

fix: do not allow the existing opal patient to create more than one self relationship
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
  opal/patients/views.py
Due: mypy

fix: add test case to improve test coverage and add comments to the changes
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

fix: adjust the validation condition followed by code review
  opal/patients/forms.py
Due: mypy

Fixed the conflicts and merge branch 'main' into QSCCD-953.SF.select-self-role-not-allowed-for-existing-opal-patient
  .env.sample
  opal/core/auth.py
  opal/core/tests/test_auth.py
  opal/core/tests/test_drf_permissions.py
  opal/core/tests/test_utils.py
  opal/core/utils.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
  opal/patients/admin.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/migrations/0018_update_existing_relationshiptypes.py
  opal/patients/migrations/0019_add_remaining_default_relationshiptypes.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/templates/patients/relationships/edit_relationships.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/templates/patients/relationships/relationship_filter.html
  opal/patients/tests/test_admin.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_managers.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/tables/edit_pencil_icon.html
  opal/users/models.py
  requirements/development.txt
  requirements/docs.txt
  setup.cfg
Due: check-form-novalidate, mypy

Merge branch 'main' into QSCCD-953.SF.select-self-role-not-allowed-for-existing-opal-patient
  opal/caregivers/api/serializers.py
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_models.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

feat deps add api endpoint PatientCaregivers
  opal/caregivers/api/serializers.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

Merge branch 'main' into QSCCD-132.LL.patient-caregivers
  .env.sample
  opal/core/tests/test_utils.py
  opal/core/utils.py
  opal/patients/admin.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0019_add_remaining_default_relationshiptypes.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/templates/patients/relationships/edit_relationships.html
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/templates/patients/relationships/relationship_filter.html
  opal/patients/tests/test_admin.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/tables/edit_pencil_icon.html
  opal/users/models.py
  setup.cfg
Due: check-form-novalidate, mypy

feat deps fix return type issue
  opal/caregivers/api/serializers.py
Due: mypy
