Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

Merge commit '7c70f7340af0cb94957a009a2d09a6f39887e188' into QSCCD-743.LL.exclude-deceased-patient
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

feat: Use OIE service to search patient - call OIE service to find patient by RAMQ and MRN - remove mock functions - add and adjust the test functions
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
Due: mypy

fix： fix the issues following code review
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
Due: mypy

fix: update a test function to fix pipeline
  opal/patients/tests/test_models.py
Due: mypy

draft: implementation of the clear points of the ticket 183
  opal/patients/forms.py
  opal/patients/templates/patients/relationships/pending/form.html
Due: check-form-novalidate, mypy

feat: improved the merge request according to code review
  opal/patients/forms.py
  opal/patients/models.py
  opal/patients/templates/patients/relationships/pending/form.html
Due: check-form-novalidate, mypy

feat: add conftest, test_forms.py file and 9 unit tests, also changed the crispy forms to {{ form | crispty }} to activate save button
  opal/patients/conftest.py
  opal/patients/templates/patients/relationships/pending/form.html
  opal/patients/tests/test_forms.py
Due: check-form-novalidate, mypy

fix: moved the valid statuses function inside the model, and did other fixes according to code review
  opal/patients/forms.py
  opal/patients/models.py
Due: mypy

fix: remove cancel and save buttons from front-end, and rely on the formaction added to the layout
  opal/patients/templates/patients/relationships/pending/form.html
Due: check-form-novalidate

fix: remove conftest and moved all data initializations into tests themselves as suggested
  opal/hospital_settings/conftest.py
  opal/patients/tests/test_forms.py
Due: mypy

fix: adjust tests according to code review, changed publicmethod to classmethod
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

fix: tests
  opal/hospital_settings/conftest.py
  opal/patients/conftest.py
Due: mypy

i18n: fix translation duplicate
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: update comment of valid_statuses function as per the comment in the code review
  opal/patients/models.py
Due: mypy

fix: update the comments of the valid_statuses function
  opal/patients/models.py
Due: mypy

fix: remove noqa from the valid_statuses function
  opal/patients/models.py
Due: mypy

fix: finalize the merge as per the code review comments
  opal/patients/tests/test_models.py
Due: mypy

fix: fix mypy errors
  opal/caregivers/models.py
  opal/hospital_settings/models.py
  opal/patients/forms.py
Due: mypy

fix: fix mypy errors
  opal/patients/forms.py
Due: mypy

feat: add new permission to site model
  opal/hospital_settings/migrations/0011_add_manage_site_permission.py
  opal/hospital_settings/models.py
Due: mypy

i18n: add translation
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
Due: none

feat: add permission check to backend (views)
  opal/hospital_settings/views.py
Due: mypy

feat: add unit tests and changes to front end
  opal/conftest.py
  opal/hospital_settings/tests/test_views.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy

i18n: fix translations
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
Due: none

fix: pipeline tests
  opal/conftest.py
Due: mypy

fix: modified the code according to the code review
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/migrations/0011_add_manage_site_permission.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy

fix: translations
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
Due: none

fix: fix mypy error
  opal/hospital_settings/views.py
Due: mypy

chore(deps): update dependency django-tables2 to v2.5.0
  requirements/base.txt
Due: none

refactor: switch to bootstrap4-responsive template and remove custom HTML to make tables responsive
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/patients/templates/patients/relationship_type/list.html
  opal/patients/templates/patients/relationships-search/form.html
  opal/patients/templates/patients/relationships/pending/list.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/settings.py
Due: check-form-novalidate, mypy

improve test coverage and tests
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_apiviews.py
  opal/patients/factories.py
  opal/patients/tests/test_models.py
  opal/questionnaires/views.py
  setup.cfg
Due: mypy

Merge remote-tracking branch 'origin/main' into improve-tests
  requirements/development.txt
Due: none

improve migrate users command and tests
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
Due: mypy

chore: require 100% test coverage and allow coverage job to fail
  .gitlab-ci.yml
  setup.cfg
Due: none

chore: require 100% test coverage and allow coverage job to fail
  .gitlab-ci.yml
Due: none

improve code and tests
  opal/caregivers/api/mixins/put_as_create.py
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_apiviews.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

test: improve device create update tests
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_viewsets.py
Due: mypy

add todo note
  opal/caregivers/tests/test_viewsets.py
Due: mypy

Merge remote-tracking branch 'origin/main' into improve-tests
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/patients/templates/patients/relationship_type/list.html
  opal/patients/templates/patients/relationships-search/form.html
  opal/patients/templates/patients/relationships/pending/list.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/settings.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  requirements/production.txt
Due: check-form-novalidate, mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

