Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

Adds pipeline status badges to README (#2).
  README.md
Due: none

Adds translation for French (#11).
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
Due: none

Add renovate.json
  renovate.json
Due: none

Add file pattern for requirements files
  renovate.json
Due: none

Add renovate config options
  renovate.json
Due: none

Improve configuration of easyaudit (#12)
  opal/settings.py
Due: mypy

Fix missing DB access in root URL test
  opal/tests/test_urls.py
Due: mypy

Add REST auth endpoints
  opal/settings.py
  opal/urls.py
  requirements/base.txt
Due: mypy

Fix base URL tests
  opal/tests/test_urls.py
Due: mypy

Improve URL paths for API auth
  opal/urls.py
Due: mypy

Allow cross-site (CORS) requests
  opal/settings.py
  requirements/base.txt
Due: mypy

Allow cors credentials
  opal/settings.py
Due: mypy

Allow CORS origins. Add environment variables for CORS
  .env
  opal/settings.py
Due: mypy

Add first version of auth backend for fedauth web service (#13)
  opal/auth.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

Test coverage report not failing if coverage too low
  setup.cfg
Due: none

Change from PostgreSQL to MariaDB (#21)
  .env
  .envs/mariadb.dev
  .gitlab-ci.yml
  Dockerfile
  docker-compose.yml
  opal/settings.py
  requirements/base.txt
Due: mypy

Change DB port to use the one defined in .env (#21)
  docker-compose.yml
Due: none

Ensure that pipeline artifacts are specific to branch
  .gitlab-ci.yml
Due: none

Reuse .env config for DB and grant privileges to user to create test DBs
  .envs/mariadb.dev
  .envs/postgres.dev
  .envs/postgres.sample
  docker-compose.yml
  docker/mariadb/grant_test_db.sh
Due: none

Allow print function (#30)
  setup.cfg
Due: none

Pin flake8-bugbear to version required by wemake-python-styleguide
  requirements/development.txt
Due: none

Add flake8 and mypy artifacts to pipeline
  .gitlab-ci.yml
Due: none

test commit
  opal/hospital_settings/models.py
Due: mypy

Add doc strings for the unit tests. Splitting the tests by groups
  opal/hospital_settings/api/tests/__init__.py
  opal/hospital_settings/api/tests/test_views.py
  opal/hospital_settings/api/views.py
  opal/hospital_settings/conftest.py
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/hospital_settings/tests/test_forms.py
  opal/hospital_settings/tests/test_models.py
  opal/hospital_settings/tests/test_templates.py
  opal/hospital_settings/tests/test_urls.py
  opal/hospital_settings/tests/test_views.py
  opal/hospital_settings/urls.py
  opal/hospital_settings/views.py
  opal/templates/layouts/base.html
  opal/tests/test_urls.py
  setup.cfg
Due: check-form-novalidate, mypy

Update jquery.js to the minified version
  opal/templates/layouts/base.html
Due: check-form-novalidate

Ignore Institution type error in the conftest.py
  opal/hospital_settings/conftest.py
Due: mypy

Use 'Save' caption for the template buttons
  opal/hospital_settings/templates/hospital_settings/institution/institution_form.html
  opal/hospital_settings/templates/hospital_settings/site/site_form.html
Due: check-form-novalidate

Fix template headers for instition_form and site_form
  opal/hospital_settings/templates/hospital_settings/institution/institution_form.html
  opal/hospital_settings/templates/hospital_settings/site/site_form.html
  opal/templates/layouts/base.html
Due: check-form-novalidate

Update delete confirmation template for sites and institutions
  opal/hospital_settings/templates/hospital_settings/institution/institution_confirm_delete.html
  opal/hospital_settings/templates/hospital_settings/site/site_confirm_delete.html
  opal/hospital_settings/views.py
Due: check-form-novalidate, mypy

Remove the app name in the api URL
  opal/hospital_settings/api/urls.py
Due: mypy

Change delete-button link
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
Due: check-form-novalidate

Update urls.py app_name
  opal/hospital_settings/api/serializers.py
  opal/hospital_settings/api/urls.py
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/hospital_settings/urls.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy

docs: Improve getting started instructions
  .env.sample
  README.md
Due: none

docs: Add instructions to migrate DB and create superuser to get started
  README.md
Due: none

ci: Add stage and job for deploying documentation site
  .gitlab-ci.yml
Due: none

chore: Add changelog entry
  CHANGELOG.md
Due: none

chore: Add entry about documentation.
  README.md
Due: none

feat: Add custom user model
  opal/settings.py
  opal/users/__init__.py
  opal/users/admin.py
  opal/users/apps.py
  opal/users/migrations/0001_initial.py
  opal/users/migrations/__init__.py
  opal/users/models.py
Due: mypy

Fix User import in auth
  opal/auth.py
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

