Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

unit test for create and update institution without terms of use
  opal/hospital_settings/conftest.py
  opal/hospital_settings/tests/test_views.py
Due: mypy

fix: fix comment
  opal/hospital_settings/tests/test_views.py
Due: mypy

feat deps refactor the code feat deps add french template
  opal/caregivers/api/views.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/templates/email/verification_code_en.html
  opal/templates/email/verification_code_en.txt
  opal/templates/email/verification_code_fr.html
  opal/templates/email/verification_code_fr.txt
Due: check-form-novalidate, mypy

feat deps add test functions for sending email with template
  opal/caregivers/api/views.py
  opal/caregivers/api/viewsets.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_apiview.py
  opal/legacy/factories.py
Due: mypy

feat deps refactor the api code for getting language from the request feat deps refactor the related test functions
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_apiview.py
Due: mypy

feat deps refactor the test function assert email subject.
  opal/caregivers/tests/test_apiview.py
Due: mypy

feat deps ignore arg type
  opal/caregivers/api/views.py
Due: mypy

feat deps refactor the code of getting language
  opal/caregivers/api/views.py
Due: mypy

feat deps refactor the code
  opal/legacy/factories.py
Due: mypy

Merge branch 'QSCCD-178.LL.email-verification-api' into QSCCD-674.LL.email-template
  .env.sample
  .gitlab-ci.yml
  Dockerfile
  docs/apps/questionnaires.md
  opal/caregivers/api/views.py
  opal/caregivers/constants.py
  opal/caregivers/factories.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/migrations/0006_emailverification.py
  opal/caregivers/tests/test_apiviews.py
  opal/core/api_urls.py
  opal/core/drf_fields.py
  opal/core/utils.py
  opal/hospital_settings/api/serializers.py
  opal/hospital_settings/api/viewsets.py
  opal/hospital_settings/tests/test_drf_urls.py
  opal/hospital_settings/tests/test_drf_viewsets.py
  opal/services/reports.py
  opal/services/tests/test_reports.py
  opal/settings.py
  opal/tests/fixtures/non_image_file.txt
  opal/tests/fixtures/test_PDF.pdf
  opal/tests/fixtures/test_txt.txt
  opal/utils/base64.py
  opal/utils/tests/test_base64.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

feat deps remove subtitle assert
  opal/caregivers/tests/test_apiviews.py
Due: mypy

feat deps refactor the code
  opal/caregivers/api/views.py
Due: mypy

Merge branch 'main' into QSCCD-674.LL.email-template
  requirements/docs.txt
Due: none

feat deps remove html files
  opal/caregivers/api/views.py
  opal/templates/email/verification_code_en.html
  opal/templates/email/verification_code_fr.html
Due: check-form-novalidate, mypy

Revert "feat deps remove html files"
  opal/caregivers/api/views.py
  opal/templates/email/verification_code_en.html
  opal/templates/email/verification_code_fr.html
Due: check-form-novalidate, mypy

feat deps refactor the template files and related code
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/api/views.py
  opal/templates/email/verification_code.html
  opal/templates/email/verification_code.txt
  opal/templates/email/verification_code_en.html
  opal/templates/email/verification_code_en.txt
  opal/templates/email/verification_code_fr.html
  opal/templates/email/verification_code_fr.txt
Due: check-form-novalidate, mypy

fix deps fix the django po file
  locale/fr/LC_MESSAGES/django.po
Due: none

Merge branch 'main' into QSCCD-674.LL.email-template
  .gitlab-ci.yml
  .gitlab/markdownlint/.markdownlint-cli2.yaml
  .gitlab/markdownlint/markdownlint-cli2-formatter-gitlab/markdownlint-cli2-formatter-gitlab.js
  .gitlab/markdownlint/markdownlint-cli2-formatter-gitlab/package.json
  .gitlab/merge_request_templates/Default.md
  .markdownlint.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/apps/questionnaires.md
  docs/changelog.md
  docs/database/migrations.md
  docs/index.md
  docs/standard_and_custom_permissions.md
  opal/caregivers/migrations/0008_modify_caregiverprofile_legacyid.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/patients/migrations/0008_relationship_unique_constraint.py
  opal/patients/migrations/0009_add_patient_legacy_id_unique_constraint.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

fix deps fix the test function
  opal/caregivers/tests/test_apiviews.py
Due: mypy

feat deps refactor the email templates
  locale/fr/LC_MESSAGES/django.po
  opal/templates/email/verification_code.html
  opal/templates/email/verification_code.txt
Due: check-form-novalidate

feat deps refactor the settings file and test function
  .env.sample
  opal/caregivers/tests/test_apiviews.py
  opal/conftest.py
  opal/settings.py
Due: mypy

Merge branch 'main' into QSCCD-674.LL.email-template
  .gitlab-ci.yml
  CHANGELOG.md
  manage.py
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: mypy

feat deps refactor the email template
  opal/conftest.py
  opal/settings.py
  opal/templates/email/verification_code.html
  opal/templates/email/verification_code.txt
Due: check-form-novalidate, mypy

feat deps refactor the test function and settings
  opal/caregivers/tests/test_apiviews.py
  opal/settings.py
Due: mypy

feat deps refactor the annotation
  opal/conftest.py
  opal/settings.py
Due: mypy

fix deps fix the annotations
  opal/conftest.py
Due: mypy

ci: add compilemessages step to check translation files
  .gitlab-ci.yml
Due: none

ci: Fix check
  .gitlab-ci.yml
Due: none

i18n: Fix fuzzy strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

ci: Fix check in case of success
  .gitlab-ci.yml
Due: none

test: Temporary commit to test pipeline
  opal/users/admin.py
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: mypy

test: Temporary commit to test pipeline
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

