Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

test: Remove temporary changes
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

test: Remove temporary changes
  opal/users/admin.py
Due: mypy

feat: add form required checkbox to verify if relationship type requested requires a form
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: mypy

test: update the test functions to fix the pipeline
  opal/patients/tests/test_views.py
Due: mypy

Add permission class to caregiver list api end point
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/patients/api/views.py
  opal/patients/tests/test_apiview.py
Due: mypy

Rename folders and files according to code review
  opal/patients/api/tests/test_api_view.py
Due: mypy

Adjustments following code review
  CHANGELOG.md
  opal/patients/api/tests/test_api_views.py
Due: mypy

feat: management command to syncrhonize users caregivers relations
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/legacy/tests/test_commands.py
Due: mypy

fix: fix tests add email field to the factory
  opal/legacy/factories.py
Due: mypy

fix: add the migrate_user file to the commit
  opal/legacy/management/commands/migrate_users.py
Due: mypy

fix: remove return
  opal/legacy/management/commands/migrate_users.py
Due: mypy

fix: protected function
  opal/legacy/management/commands/migrate_users.py
Due: mypy

fix: legacy model, sex field
  opal/legacy/models.py
Due: mypy

fix: all minor comments according to the code review
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
Due: mypy

fix: address review comments
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/models.py
  opal/legacy/tests/test_commands.py
Due: mypy

fix: final minor comments - mainly formatting
  opal/legacy/management/commands/migrate_users.py
  opal/patients/templates/patients/relationship/list.html
Due: check-form-novalidate, mypy

fix: remove irrelevant changes made for other branch
  opal/patients/templates/patients/relationship/list.html
Due: check-form-novalidate

translations suck
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

Merge branch 'QSCCD-624.KA.registration-id-device' of https://gitlab.com/opalmedapps/backend into QSCCD-624.KA.registration-id-device
  requirements/development.txt
  requirements/docs.txt
Due: none

remove print
  opal/caregivers/tests/test_models.py
Due: mypy

translation
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

remove translation
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

push token translation
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

feat: create new page to confirm existing user
  opal/core/validators.py
  opal/patients/constants.py
  opal/patients/forms.py
  opal/patients/managers.py
  opal/patients/tables.py
  opal/patients/views.py
Due: mypy

fix: update translation strings
  locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: update translation strings and test functions for pipeline
  locale/fr/LC_MESSAGES/django.po
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_views.py
Due: mypy

fix: fix copy-paste errors in translation strings
  locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: adjustment following code review
  opal/patients/forms.py
  opal/patients/tests/test_views.py
Due: mypy

fix: fix the issues following code review suggestions
  locale/fr/LC_MESSAGES/django.po
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/tables.py
Due: mypy

fix: fix the issues following code review
  opal/patients/forms.py
Due: mypy

fix: fix the relationship record start date issue following the code review
  opal/patients/forms.py
  opal/patients/models.py
  setup.cfg
Due: mypy

build: add types-python-dateutil==2.8.19.2 to requirements/development.txt
  requirements/development.txt
Due: none

fix: fix the flake8 violations
  opal/patients/forms.py
Due: mypy

fix: add TODO comment following the code review
  opal/patients/constants.py
Due: mypy

fix: add a TODO comment to check if patient and caregiver record exists
  opal/patients/forms.py
Due: mypy

chore(deps): update dependency pillow to v9.3.0
  requirements/base.txt
Due: none

added change to changelog
  CHANGELOG.md
Due: none

upadted relationship model
  opal/patients/migrations/0008_relationship_unique_constraint.py
  opal/patients/models.py
Due: mypy

WIP add tests for unique consraing in Relationship model
  opal/patients/tests/test_models.py
Due: mypy

edit test in patients/tests/test_models.py
  opal/patients/tests/test_models.py
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

