Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, flake8, mypy

.pre-commit-config.yaml:

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
  - id: isort
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.13.0
  hooks:
  - id: markdownlint-cli2
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: flake8
    name: flake8
    description: wemake-python-styleguide++ enforcement
    entry: flake8
    args: ["--config=setup.cfg"]
    language: python
    types: [python]
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

add comments
  opal/services/integration/hospital.py
  opal/services/integration/models.py
  opal/services/integration/schemas.py
  opal/services/integration/tests/test_hospital.py
  opal/services/integration/tests/test_models.py
  setup.cfg
Due: flake8, mypy

fix references
  mkdocs.yml
  opal/services/integration/hospital.py
Due: flake8, mypy

fix URLs
  opal/services/integration/hospital.py
Due: flake8, mypy

adjust serializer
  opal/legacy/api/serializers.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/models.py
Due: flake8, mypy

feat: add usage statistics export form
  opal/usage_statistics/forms.py
  opal/usage_statistics/templates/usage_statistics/export_data/export_form.html
  opal/usage_statistics/views.py
Due: check-form-novalidate, flake8, mypy

feat: implement IsOrms system permission for appointment checkin endpoint
  opal/conftest.py
  opal/core/constants.py
  opal/core/drf_permissions.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/core/tests/test_drf_permissions.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

fix: remove the filter in unread appointment query
  opal/legacy/managers.py
Due: flake8, mypy

use validated data instead of request data in view
  opal/legacy/api/serializers.py
  opal/legacy/api/views/app_appointments.py
  opal/legacy/api/views/tests/test_app_appointments.py
Due: flake8, mypy

feat: add individual usage statistics queries
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_queries.py
Due: flake8, mypy

some changes
  opal/services/reports/questionnaire.py
Due: flake8, mypy

glb variables
  opal/services/reports/questionnaire.py
Due: flake8, mypy

Anton changes
  opal/services/reports/questionnaire.py
Due: flake8, mypy

update unit test
  opal/legacy/api/views/tests/test_app_chart.py
Due: flake8, mypy

Revert "update unit test"
  opal/legacy/api/views/tests/test_app_chart.py
Due: flake8, mypy

Test changes
  opal/services/reports/questionnaire.py
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

import issue
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

change the path to generate the report
  opal/services/reports/questionnaire.py
Due: flake8, mypy

remove textemphasis
  opal/services/reports/questionnaire.py
Due: flake8, mypy

fix questionnaire type
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

oops
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

fix: address MR comments
  opal/usage_statistics/forms.py
Due: flake8, mypy

Change return call
  opal/services/reports/questionnaire.py
Due: flake8, mypy

removal of unnacessary noqa call
  opal/services/reports/questionnaire.py
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

remove blank line
  opal/services/reports/tests/test_questionnaire.py
Due: flake8, mypy

chore(deps): update django-stubs
  opal/core/drf_permissions.py
  opal/users/api/viewsets.py
  requirements/base.txt
  requirements/development.txt
Due: flake8, mypy

chore(deps): update dependency pytest-randomly to v3.16.0
  requirements/development.txt
Due: none

chore(deps): update dependency django-cors-headers to v4.6.0
  requirements/base.txt
Due: none

chore(deps): update pre-commit hook asottile/pyupgrade to v3.19.0
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency whitenoise to v6.8.2
  requirements/base.txt
Due: none

chore(deps): update dependency mkdocs-material to v9.5.43
  requirements/docs.txt
Due: none

chore(deps): update dependency twilio to v9.3.6
  requirements/base.txt
Due: none

chore: hardcode legacy DB names since they cannot change
  .env.sample
  .gitlab-ci.yml
  config/settings/base.py
Due: flake8, mypy

chore(deps): update dependency crispy-bootstrap5 to v2024.10
  opal/core/tests/test_form_layouts.py
  opal/templates/bootstrap5/layout/formactions.html
  requirements/base.txt
Due: check-form-novalidate, flake8, mypy

celldictype
  opal/services/reports/questionnaire.py
Due: flake8, mypy

base py change
  opal/services/reports/base.py
Due: flake8, mypy
