Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

feat: add markdownlint GitLab code quality formatter
  .gitlab-ci.yml
  .gitlab/markdownlint/markdownlint-cli2-formatter-gitlab/markdownlint-cli2-formatter-gitlab.js
  .gitlab/markdownlint/markdownlint-cli2-formatter-gitlab/package.json
Due: none

feat: add markdownlint GitLab code quality formatter
  .gitlab/markdownlint/.markdownlint-cli2.yaml
Due: none

feat: add markdownlint GitLab code quality formatter
  .gitlab-ci.yml
Due: none

docs: create violations
  README.md
Due: none

ci: use proper config
  .gitlab-ci.yml
Due: none

ci: replace pretty formatter with default since the colours are not showing anyway
  .gitlab-ci.yml
  .gitlab/markdownlint/.markdownlint-cli2.yaml
  README.md
Due: none

ci: Fix URL to GitLab docs
  .gitlab/markdownlint/markdownlint-cli2-formatter-gitlab/markdownlint-cli2-formatter-gitlab.js
Due: none

refactor: Remove unused variable
  .gitlab/markdownlint/markdownlint-cli2-formatter-gitlab/markdownlint-cli2-formatter-gitlab.js
Due: none

docs: reword paragraph as per suggestion
  docs/standard_and_custom_permissions.md
Due: none

improve formatter
  .gitlab/markdownlint/markdownlint-cli2-formatter-gitlab/markdownlint-cli2-formatter-gitlab.js
Due: none

feat: add ability view pending access request without saving
  opal/patients/forms.py
  opal/patients/tables.py
  opal/patients/templates/patients/relationships/pending/confirm_delete.html
  opal/patients/templates/patients/relationships/pending/form.html
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
Due: check-form-novalidate, mypy

i18n: updates on translation file
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: date format according to the ticket details
  opal/patients/forms.py
Due: mypy

fix: datepicker edits
  opal/patients/forms.py
Due: mypy

fix: fix the views test
  opal/patients/tests/test_views.py
Due: mypy

i18n: fix translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: changed the date field as per reviewer comments
  opal/patients/forms.py
Due: mypy

i18n: fix translation remove fuzzy strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: change view from createupdate to update only
  opal/patients/views.py
Due: mypy

fix: fix pipeline errors
  opal/patients/urls.py
Due: mypy

test: remove unneeded test
  opal/questionnaires/tests/test_views.py
Due: mypy

refactor: remove old folder
  opal/media/questionnaire-files/__init__
Due: none

remove additional old lines
  .gitignore
  opal/questionnaires/views.py
Due: mypy

fix: model adjustments & associated migration change
  .env.sample
  .gitlab-ci.yml
  opal/questionnaires/factories.py
  opal/questionnaires/migrations/0001_initial.py
  opal/questionnaires/migrations/0002_questionnaire_profile.py
  opal/questionnaires/models.py
  opal/questionnaires/views.py
  opal/settings.py
Due: mypy

translation fix
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

refactor: update QuestionnaireProfile model
  opal/questionnaires/migrations/0002_questionnaire_profile.py
  opal/questionnaires/models.py
  opal/questionnaires/tests/test_urls.py
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/urls.py
  opal/questionnaires/views.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy

refactor: simplify toggle check
  opal/questionnaires/views.py
Due: mypy

feat: add admin page for questionnaire reporting
  opal/questionnaires/admin.py
  opal/questionnaires/models.py
  opal/questionnaires/views.py
Due: mypy

test: add test_model file
  opal/questionnaires/tests/test_models.py
Due: mypy

test: missing tests
  opal/questionnaires/tests/test_views.py
Due: mypy

test: add test
  opal/questionnaires/migrations/0002_questionnaire_profile.py
  opal/questionnaires/tests/test_views.py
Due: mypy

minor fixes
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/views.py
Due: mypy

test: add test for model update method
  opal/questionnaires/tests/test_models.py
Due: mypy

remove explicit model statement
  opal/questionnaires/views.py
Due: mypy

test: fix commands test
  opal/legacy/tests/test_commands.py
Due: mypy

translation adjustments
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

move uniqueness validation to clean method, move delete validation to admin
  opal/patients/admin.py
  opal/patients/factories.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0008_relationshiptype_role.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  setup.cfg
Due: mypy

translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

