Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

fix: update pathology URL
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
Due: mypy

refactor: remove related field
  opal/test_results/api/serializers.py
  opal/test_results/api/tests/test_api_views.py
  opal/test_results/api/views.py
Due: mypy

Merge branch 'main' into QSCCD-1349.AG.rest-api-for-creating-pathology-recrods
  requirements/base.txt
Due: none

fix: update unit tests
  opal/test_results/api/tests/test_api_views.py
  opal/test_results/api/views.py
Due: mypy

fix: remove type filed from serializer
  opal/test_results/api/serializers.py
  opal/test_results/api/tests/test_api_views.py
  opal/test_results/api/views.py
Due: mypy

Merge branch 'main' into QSCCD-1349.AG.rest-api-for-creating-pathology-recrods
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  requirements/docs.txt
Due: mypy

Merge branch 'main' into QSCCD-1349.AG.rest-api-for-creating-pathology-recrods
  .gitlab-ci.yml
  docker-compose.yml
  opal/caregivers/factories.py
  opal/core/forms/layouts.py
  opal/questionnaires/views.py
  opal/services/hospital/hospital.py
  requirements/development.txt
Due: mypy

Merge branch 'main' into QSCCD-1349.AG.rest-api-for-creating-pathology-recrods
  opal/core/forms/layouts.py
  opal/core/forms/widgets.py
  opal/core/templates/forms/radioselect.html
  opal/core/tests/test_form_layouts.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
  opal/static/js/global.js
  opal/templates/base.html
  requirements/docs.txt
Due: check-form-novalidate, mypy

fix: translate string before formatting
  opal/patients/forms.py
Due: mypy

tests: fix user name
  opal/patients/api/tests/test_api_views.py
Due: mypy

Merge branch 'main' into fix-unit-tests-for-patite-demographic-update
  opal/patients/forms.py
Due: mypy

Merge branch 'main' into fix-unit-tests-for-patite-demographic-update
  opal/templates/sidebar.html
  opal/test_results/factories.py
  opal/test_results/tests/test_models.py
Due: check-form-novalidate, mypy

refactor: remove factroy suffix
  opal/test_results/factories.py
  opal/test_results/tests/test_models.py
Due: mypy

Merge branch 'main' into fix-factory-names
  opal/patients/forms.py
Due: mypy

Merge branch 'main' into fix-factory-names
  opal/templates/sidebar.html
Due: check-form-novalidate

refactor: re-use HospitalPatientSerializer
  opal/patients/api/serializers.py
  opal/patients/api/views.py
Due: mypy

fix: address MR comments
  opal/patients/api/views.py
Due: mypy

Merge branch 'main' into refactor-patient-exists-endpoint
  opal/patients/api/tests/test_api_views.py
  opal/templates/sidebar.html
  opal/test_results/factories.py
  opal/test_results/tests/test_models.py
Due: check-form-novalidate, mypy

fix: increase column width for phone number
  opal/patients/forms.py
Due: mypy

fix: check UI and fill in the missing translations
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: mypy

fix: update the translation strings following the code review comments
  locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: fix the grammar issues
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
Due: none

Merge branch 'main' into QSCCD-1440.SF.check-and-fill-in-missing-French-translations
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/forms.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/templates/sidebar.html
  opal/test_results/factories.py
  opal/test_results/tests/test_models.py
  requirements/base.txt
  requirements/docs.txt
Due: check-form-novalidate, mypy

fix: ensure that registration_code is present in session data
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

fix: change logo of opaladmin on side bar to purple
  diagram.puml
  opal/templates/sidebar.html
Due: check-form-novalidate

refactor: fix WPS violations
  opal/caregivers/factories.py
  opal/core/forms/layouts.py
  opal/questionnaires/views.py
  opal/services/hospital/hospital.py
Due: mypy

Merge branch 'main' into fix-some-violations
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  requirements/base.txt
  requirements/docs.txt
Due: mypy

chore: merge from main
  Dockerfile
Due: none

refactor: address MR comments
  opal/services/reports.py
  opal/test_results/api/views.py
Due: mypy

chore: update env file
  .env.sample
Due: none

refactor: move views private functions to utils file
  opal/services/reports.py
  opal/test_results/api/views.py
  opal/test_results/utils.py
Due: mypy

test: add unit tests
  opal/services/tests/test_reports.py
Due: mypy

test: add unit tests
  opal/test_results/tests/test_utils.py
  opal/test_results/utils.py
Due: mypy

Merge branch 'main' into QSCCD-1350.AG.generate-pdf-pathology-report
  opal/core/api/serializers.py
  opal/core/api/views.py
  requirements/base.txt
  requirements/docs.txt
Due: mypy

chore: merge from main
  .gitlab-ci.yml
  .pre-commit-config.yaml
  opal/core/management/commands/initialize_data.py
  opal/core/management/commands/insert_test_data.py
  opal/core/templates/forms/radioselect.html
  opal/core/tests/test_commands.py
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/chart_display.html
  opal/health_data/utils.py
  opal/legacy/api/views/orms_auth.py
  opal/legacy/api/views/tests/test_orms_auth.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/migrations/0003_rename_exportreportpermission_model.py
  opal/questionnaires/models.py
  opal/services/charts.py
  opal/services/tests/test_charts.py
  opal/settings.py
  opal/static/thirdparty/README.md
  opal/static/thirdparty/copy_distribution_files.js
  opal/static/thirdparty/package.json
  opal/users/models.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, mypy

Merge branch 'main' into QSCCD-1350.AG.generate-pdf-pathology-report
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/hospital_settings/api/serializers.py
  opal/hospital_settings/api/viewsets.py
  opal/hospital_settings/tests/test_drf_viewsets.py
  opal/legacy/management/commands/migrate_caregivers.py
  opal/legacy/tests/test_commands.py
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/thirdparty/package.json
  opal/static/thirdparty/unpoly/css/unpoly-bootstrap5.min.css
  opal/static/thirdparty/unpoly/css/unpoly.min.css
  opal/static/thirdparty/unpoly/js/unpoly.min.js
  opal/test_results/admin.py
  opal/test_results/migrations/0004_observation_value_text_field.py
  opal/test_results/models.py
  requirements/base.txt
Due: mypy

refactor: fix test comment
  opal/services/tests/test_reports.py
Due: mypy

refactor: rename LanguagesSerializer to singular
  opal/core/api/serializers.py
  opal/core/api/views.py
Due: mypy

fix(data): add additional permissions and users to initial data
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/questionnaires/migrations/0003_rename_exportreportpermission_model.py
  opal/questionnaires/models.py
Due: mypy

fix translations
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

