Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix: add tests to _search_patient function in patient search form
  opal/patients/tests/test_forms.py
Due: mypy

fix: add _search_patient test by ramq
  opal/patients/tests/test_forms.py
Due: mypy

fix: enhance _search_patient test coverage
  opal/patients/tests/test_forms.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into enhance_coverage_forms
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

Merge remote-tracking branch 'origin/main' into enhance_coverage_forms
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

refactor: change test_QuestionnaireDB.sql to latest schema & initial data only
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/tests/test_models.py
  opal/tests/sql/test_QuestionnaireDB.sql
Due: mypy

Merge branch 'QSCCD-1124.KA.improve-legacy-questionnaire-model-coverage' of https://gitlab.com/opalmedapps/backend into QSCCD-1124.KA.improve-legacy-questionnaire-model-coverage
  opal/patients/views.py
Due: mypy

remove _id foreign key naming convention
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
Due: mypy

fix flake8 & tests
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
Due: mypy

Merge branch 'main' into QSCCD-1124.KA.improve-legacy-questionnaire-model-coverage
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docker-compose.yml
  opal/caregivers/api/views.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_apiviews.py
  opal/core/utils.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/templates/patients/access_request/confirmation.html
  opal/patients/templates/patients/access_request/confirmation_code.html
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  setup.cfg
Due: check-form-novalidate, mypy

Merge branch 'main' into QSCCD-1124.KA.improve-legacy-questionnaire-model-coverage
  opal/templates/sidebar.html
Due: check-form-novalidate

fix: move the profile to the bottom of the sidebar again
  opal/templates/sidebar.html
Due: check-form-novalidate

remove data id exclusions for now
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
Due: mypy

Merge branch 'QSCCD-1124.KA.improve-legacy-questionnaire-model-coverage' into QSCCD-1116.KA.databank-queries-appt-demo
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docker-compose.yml
  opal/caregivers/api/views.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_apiviews.py
  opal/core/utils.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/templates/patients/access_request/confirmation.html
  opal/patients/templates/patients/access_request/confirmation_code.html
  opal/patients/templates/patients/relationships/edit_relationship.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  setup.cfg
Due: check-form-novalidate, mypy

fix docstring
  opal/legacy/managers.py
Due: mypy

Merge branch 'main' into QSCCD-1116.KA.databank-queries-appt-demo
  opal/templates/sidebar.html
Due: check-form-novalidate

adjust tests
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_managers.py
Due: mypy

Merge branch 'main' into QSCCD-1116.KA.databank-queries-appt-demo
  .env.sample
  locale/fr/LC_MESSAGES/django.po
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/chart_display.html
  opal/health_data/templates/health_data_display.html
  opal/health_data/tests/test_views.py
  opal/health_data/views.py
  opal/patients/conftest.py
  opal/patients/factories.py
  opal/patients/forms.py
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  requirements/base.txt
  requirements/development.txt
  requirements/production.txt
Due: check-form-novalidate, mypy

isort
  opal/legacy/managers.py
Due: mypy

Merge branch 'main' into QSCCD-1116.KA.databank-queries-appt-demo
  .gitlab-ci.yml
  opal/patients/conftest.py
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/services/tests/test_twilio.py
  opal/services/twilio.py
  opal/settings.py
  requirements/base.txt
Due: mypy

change ser instances to id in databank data
  opal/legacy/managers.py
  opal/legacy/tests/test_managers.py
Due: mypy

Merge branch 'main' into QSCCD-1116.KA.databank-queries-appt-demo
  opal/caregivers/api/viewsets.py
  opal/caregivers/tests/test_viewsets.py
  opal/core/management/commands/files/chusj/logo.png
  opal/core/management/commands/files/chusj/terms_of_use_en.pdf
  opal/core/management/commands/files/chusj/terms_of_use_fr.pdf
  opal/core/management/commands/files/muhc/logo.png
  opal/core/management/commands/files/muhc/terms_of_use_en.pdf
  opal/core/management/commands/files/muhc/terms_of_use_fr.pdf
  opal/core/management/commands/files/terms_of_use_en.pdf
  opal/core/management/commands/files/terms_of_use_fr.pdf
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

feat: add ORM queries for databank [3 of 3]
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_managers.py
  opal/legacy/tests/test_models.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/sql/databank_questionnaires_answer.sql
  opal/legacy_questionnaires/sql/databank_questionnaires_details.sql
  opal/legacy_questionnaires/tests/test_managers.py
  opal/tests/sql/test_QuestionnaireDB.sql
Due: mypy

unread query set mixin docstring fix
  opal/legacy/managers.py
Due: mypy

chore: update .env.template
  .env.sample
Due: none

Merge branch 'main' into QSCCD-1218.AG.management-command-to-update-UUIDs
  requirements/base.txt
Due: none

test: add unit tests for the update_orms_patients command
  opal/core/test_utils.py
  opal/legacy/tests/test_commands.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_communication.py
  setup.cfg
Due: mypy

Merge branch 'main' into QSCCD-1218.AG.management-command-to-update-UUIDs
  opal/patients/conftest.py
  opal/patients/factories.py
  opal/patients/forms.py
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  requirements/production.txt
Due: check-form-novalidate, mypy

fix: address MR comments
  opal/core/test_utils.py
  opal/legacy/management/commands/update_orms_patients.py
  setup.cfg
Due: mypy

test: fix orms tests
  opal/legacy/tests/test_commands.py
Due: mypy

test: address MR comments
  opal/core/test_utils.py
  opal/core/tests/test_auth.py
  opal/legacy/tests/test_commands.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_communication.py
  opal/services/tests/test_reports.py
Due: mypy

test: more tests
  opal/patients/tests/test_views.py
Due: mypy

Merge remote-tracking branch 'origin/main' into access-request-tests
  .env.sample
  locale/fr/LC_MESSAGES/django.po
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/chart_display.html
  opal/health_data/templates/health_data_display.html
  opal/health_data/tests/test_views.py
  opal/health_data/views.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/tests/test_models.py
  opal/templates/sidebar.html
  opal/tests/sql/test_QuestionnaireDB.sql
Due: check-form-novalidate, mypy

chore(deps): update dependency mysqlclient to v2.2.0
  requirements/base.txt
Due: none

fix: catch connection issues when sending an SMS
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

fix: remove duplicate Caregiver serializer fields
  opal/caregivers/api/serializers.py
Due: mypy

fix: fix failing test due to User having staff status
  opal/patients/api/tests/test_api_views.py
Due: mypy

Merge remote-tracking branch 'origin/main' into QSCCD-1225.SB.registration-ups
  .env.sample
  locale/fr/LC_MESSAGES/django.po
  opal/health_data/locale/fr/LC_MESSAGES/django.po
  opal/health_data/templates/chart_display.html
  opal/health_data/templates/health_data_display.html
  opal/health_data/tests/test_views.py
  opal/health_data/views.py
  opal/patients/conftest.py
  opal/patients/factories.py
  opal/patients/forms.py
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  requirements/base.txt
  requirements/development.txt
  requirements/production.txt
Due: check-form-novalidate, mypy

fix: apply MR suggestions
  opal/patients/api/tests/test_api_views.py
Due: mypy

fix: correct failing test
  opal/patients/api/tests/test_api_views.py
Due: mypy
