Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix: migration overlap conflict
  opal/patients/migrations/0010_relationshiptype_role.py
Due: mypy

feat: create `ID checked?` checkbox and `generate QR code` button for new user form
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: mypy

feat: add unique constraint for the legacy_id field
  opal/patients/migrations/0008_add_patient_legacy_id_unique_constraint.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

fix: remove try/except from the test
  opal/patients/tests/test_models.py
Due: mypy

refactor: remove ids from the tests
  opal/patients/tests/test_models.py
Due: mypy

Merge branch 'main' into QSCCD-709.AG.unique-legacy-id-for-patient
  CHANGELOG.md
  opal/caregivers/migrations/0008_modify_caregiverprofile_legacyid.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/patients/migrations/0008_relationship_unique_constraint.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

fix: update migration number
  opal/patients/migrations/0009_add_patient_legacy_id_unique_constraint.py
Due: mypy

feat: make legacy_id for CaregiverProfile unique
  opal/caregivers/migrations/0008_modify_caregiverprofile_legacyid.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
Due: mypy

fix: remove id parameter
  opal/caregivers/tests/test_models.py
Due: mypy

feat: generate a random uuid for the caregiver username
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: mypy

docs： update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: Create access request records for both cases of existing user and new user
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/views.py
Due: mypy

fix: fix the issue following code review
  opal/patients/views.py
Due: mypy

fix: fix the issues following the code review
  opal/patients/constants.py
  opal/patients/views.py
Due: mypy

fix: fix a bug to convert the constant value into a string.
  opal/patients/views.py
Due: mypy

edit RelationshipTypeTable fields order
  opal/patients/tables.py
Due: mypy

Revert "edit RelationshipTypeTable fields order"
  opal/patients/tables.py
Due: mypy

feat: add date_of_death field to Patients model
  CHANGELOG.md
Due: none

edit translation file
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

add success case to Patients/test_models.py
  opal/patients/tests/test_models.py
Due: mypy

made changes according to code review
  opal/patients/factories.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

feat: add date_of_death field to Patients model
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0010_patient_date_of_death.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

feat: add date_of_death field to Patients model
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0010_patient_date_of_death.py
  opal/patients/models.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-714.RM.death-date-and-time-patient-model
  .env.sample
  CHANGELOG.md
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/api/views.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_apiviews.py
  opal/conftest.py
  opal/core/tests/test_utils.py
  opal/core/utils.py
  opal/patients/factories.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0010_can_answer_questionnaire.py
  opal/patients/migrations/0011_patient_date_of_death.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/email/verification_code.html
  opal/templates/email/verification_code.txt
Due: check-form-novalidate, mypy

chore: add translations
  locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: update accessor parameter
  opal/patients/tables.py
Due: mypy

fix: update translations
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

feat: use template for the patient details section
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/caregiver_access/form.html
  opal/questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: check-form-novalidate

fix: update translation strings
  locale/fr/LC_MESSAGES/django.po
Due: none

Merge branch 'main' into QSCCD-182.AG.manage-caregiver-access-to-patient-data
  .gitlab-ci.yml
  CHANGELOG.md
  manage.py
  opal/core/tests/test_utils.py
  opal/core/utils.py
Due: mypy

fix: update translation strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

add tests
  CHANGELOG.md
  opal/patients/templates/patients/caregiver_access/form.html
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: check-form-novalidate, mypy

fix: remove violations
  opal/patients/tables.py
Due: mypy

fix: update table fields
  CHANGELOG.md
  opal/patients/tables.py
  opal/patients/views.py
Due: mypy

fix: update captions
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/caregiver_access/form.html
Due: check-form-novalidate

fix: add table_data
  opal/patients/views.py
Due: mypy

fix: merge from main
  .env.sample
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/api/views.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_apiviews.py
  opal/conftest.py
  opal/settings.py
  opal/templates/email/verification_code.html
  opal/templates/email/verification_code.txt
Due: check-form-novalidate, mypy

chore: merge from main
  CHANGELOG.md
  opal/patients/factories.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0010_can_answer_questionnaire.py
  opal/patients/migrations/0011_patient_date_of_death.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/tests/test_models.py
  opal/patients/views.py
Due: mypy

ci: split Django checks into individual jobs
  .gitlab-ci.yml
Due: none
