Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

update binary files
  opal/core/management/commands/files/ohigph/logo.png
  opal/core/management/commands/files/ohigph/terms_of_use_en.pdf
  opal/core/management/commands/files/ohigph/terms_of_use_fr.pdf
  opal/core/management/commands/files/omi/logo.png
  opal/core/management/commands/files/omi/terms_of_use_en.pdf
  opal/core/management/commands/files/omi/terms_of_use_fr.pdf
Due: none

fix(data): improve test data as per new requirements
  opal/core/management/commands/files/ohigph/logo.png
  opal/core/management/commands/files/ohigph/terms_of_use_en.pdf
  opal/core/management/commands/files/ohigph/terms_of_use_fr.pdf
  opal/core/management/commands/files/omi/logo.png
  opal/core/management/commands/files/omi/terms_of_use_en.pdf
  opal/core/management/commands/files/omi/terms_of_use_fr.pdf
  opal/core/management/commands/initialize_data.py
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
Due: mypy

fix(data): change email address for test user john
  opal/core/management/commands/insert_test_data.py
Due: mypy

chore(deps): update dependency django to v5
  requirements/base.txt
Due: none

chore(deps): update ruff to v0.9.10
  .pre-commit-config.yaml
  requirements/development.txt
Due: none

add relationship type
  opal/caregivers/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

cr
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

fix: add relationship type in registration detail view
  opal/caregivers/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
Due: mypy

chore: add license for the Opal logo
  LICENSES/LicenseRef-AckeemJosephLogo.txt
Due: none

chore: update LicenseRef-OpalTrademarks
  LICENSES/LicenseRef-OpalTrademarks.txt
Due: none

fix: address MR comments
  LICENSES/LicenseRef-AckeemJosephLogo.txt
  REUSE.toml
Due: none

chore: add license for the Opal logo
  LICENSES/LicenseRef-AckeemJosephLogo.txt
  LICENSES/LicenseRef-OpalTrademarks.txt
  REUSE.toml
Due: none

fix: convert dates to UTC timezone in the queries against legacy databases
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_queries.py
Due: mypy

feat: implement views for exporting usage statistics
  CHANGELOG.md
  opal/core/tests/test_utils.py
  opal/core/utils.py
  opal/usage_statistics/constants.py
  opal/usage_statistics/forms.py
  opal/usage_statistics/locale/fr/LC_MESSAGES/django.po
  opal/usage_statistics/queries.py
  opal/usage_statistics/templates/usage_statistics/reports/export_form.html
  opal/usage_statistics/tests/test_forms.py
  opal/usage_statistics/tests/test_views.py
  opal/usage_statistics/utils.py
  opal/usage_statistics/views.py
Due: check-form-novalidate, mypy

chore(deps): update dependency plotly to v6
  requirements/base.txt
Due: none

build(deps): update docker docker tag to v28
  .gitlab-ci.yml
Due: none

chore(deps): update dependency mkdocs-material to v9.6.9
  requirements/docs.txt
Due: none

chore(deps): update dependency mkdocs-autorefs to v1.4.1
  requirements/docs.txt
Due: none

add bare bones pyproject
  pyproject.toml
Due: none

fix violations
  opal/caregivers/tests/test_api_views.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy/utils.py
  opal/legacy_questionnaires/managers.py
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/questionnaires/queries.py
  opal/usage_statistics/tests/test_queries.py
  pyproject.toml
  ruff.toml
Due: mypy

fix violations
  opal/core/drf_parsers/hl7_parser.py
  opal/core/utils.py
  opal/databank/management/commands/send_databank_data.py
  opal/patients/models.py
  opal/usage_statistics/queries.py
  opal/users/models.py
Due: mypy

fix violations
  opal/core/drf_fields.py
  opal/core/views.py
  opal/usage_statistics/queries.py
Due: mypy

chore(deps): update dependency twilio to v9.5.1
  requirements/base.txt
Due: none

fix new violations
  opal/core/tests/test_utils.py
  opal/usage_statistics/utils.py
Due: mypy

fix violations
  opal/core/management/commands/insert_test_data.py
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/tests/test_commands.py
  opal/legacy/utils.py
  opal/patients/factories.py
  opal/patients/models.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/utils.py
  opal/usage_statistics/tests/test_queries.py
Due: mypy

chore(deps): update ruff to v0.9.10 (patch)
  .pre-commit-config.yaml
  opal/caregivers/tests/test_api_views.py
  opal/core/drf_fields.py
  opal/core/drf_parsers/hl7_parser.py
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_utils.py
  opal/core/utils.py
  opal/core/views.py
  opal/databank/management/commands/send_databank_data.py
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/tests/test_commands.py
  opal/legacy/utils.py
  opal/legacy_questionnaires/managers.py
  opal/patients/factories.py
  opal/patients/models.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/questionnaires/queries.py
  opal/usage_statistics/queries.py
  opal/usage_statistics/tests/test_queries.py
  opal/usage_statistics/utils.py
  opal/users/models.py
  requirements/development.txt
  ruff.toml
Due: mypy

fix violation
  opal/users/migrations/0006_alter_user_phone_number.py
Due: mypy

fix tests
  opal/caregivers/tests/test_api_views.py
  opal/core/management/commands/insert_test_data.py
Due: mypy

update license etc.
  THIRDPARTY.md
  opal/users/migrations/0006_alter_user_phone_number.py
  requirements/base.txt
Due: mypy

feat: add proper support for phone numbers with format validation
  THIRDPARTY.md
  config/settings/base.py
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/tests/test_api_views.py
  opal/core/management/commands/insert_test_data.py
  opal/core/validators.py
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/tests/test_commands.py
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_utils.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/users/locale/fr/LC_MESSAGES/django.po
  opal/users/migrations/0006_alter_user_phone_number.py
  opal/users/models.py
  opal/users/tests/test_models.py
  requirements/base.txt
Due: mypy

Adds hospital settings app structure.
  opal/hospital_settings/__init__.py
  opal/hospital_settings/admin.py
  opal/hospital_settings/apps.py
  opal/hospital_settings/migrations/__init__.py
  opal/hospital_settings/models.py
  opal/hospital_settings/tests/__init__.py
  opal/hospital_settings/views.py
  opal/settings.py
Due: mypy

Adds initial model for hospital settings.
  opal/hospital_settings/admin.py
  opal/hospital_settings/migrations/0001_initial.py
  opal/hospital_settings/models.py
  opal/hospital_settings/views.py
Due: mypy

Adds proper coverage regexp.
  .gitlab-ci.yml
Due: none

Adds test for Location.__str__ (#8)
  opal/hospital_settings/tests/test_models.py
Due: mypy
