Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

code review
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/confirmation_code.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: add logout redirect url to the settings of development environment
  config/settings/development.py
Due: mypy

Merge branch 'main' into QSCCD-1624.SF.logout-from-new-opal-admin-return-to-legacy-opal-admin
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_managers.py
  opal/services/reports.py
  opal/test_results/api/tests/test_api_views.py
  opal/test_results/api/views.py
  opal/test_results/tests/test_utils.py
  opal/test_results/utils.py
  opal/users/models.py
  opal/users/tests/test_models.py
Due: mypy

ci: change to merge request pipelines
  .gitlab-ci.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: none

fix: move logout redirect url back to the base.py file
  config/settings/base.py
  config/settings/development.py
  config/settings/production.py
Due: mypy

Merge branch 'main' into QSCCD-1624.SF.move-logout-redirect-url-to-base-settings-file
  .dockerignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Dockerfile
  requirements/base.txt
  requirements/docs.txt
Due: none

Merge branch 'main' into QSCCD-1624.SF.move-logout-redirect-url-to-base-settings-file
  opal/legacy/api/views/app_general.py
  opal/legacy/api/views/tests/test_app_general.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  requirements/base.txt
  requirements/development.txt
Due: mypy

Merge branch 'main' into QSCCD-1624.SF.move-logout-redirect-url-to-base-settings-file
  .pre-commit-config.yaml
  requirements/base.txt
Due: none

chore(deps): update dependency fpdf2 to v2.7.6
  requirements/base.txt
Due: none

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Due: none

feat: modify command for finding caregiver deviations
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/tests/test_commands.py
Due: mypy

Merge branch 'main' into QSCCD-1443.AG.update_patient_deviations_command
  .dockerignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Dockerfile
  config/settings/base.py
  config/settings/development.py
  config/settings/production.py
  opal/legacy/api/views/app_general.py
  opal/legacy/api/views/tests/test_app_general.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

fix: update test name and other sex type
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/tests/test_commands.py
Due: mypy

test: add unit tests
  opal/legacy/tests/test_commands.py
Due: mypy

chore: rename to find_deviations
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/tests/test_commands.py
Due: mypy

fix: remove if in _get_unmatched_records_str()
  opal/legacy/management/commands/find_deviations.py
Due: mypy

fix: update deviation command [skip ci]
  opal/legacy/factories.py
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/tests/test_commands.py
  opal/patients/factories.py
Due: mypy

fix: remove death date [skip ci]
  opal/legacy/factories.py
  opal/patients/factories.py
Due: mypy

fix: update queries [skip ci]
  opal/legacy/management/commands/find_deviations.py
Due: mypy

fix: update queries
  opal/legacy/factories.py
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/tests/test_commands.py
  opal/users/factories.py
Due: mypy

chore: update comments
  opal/legacy/management/commands/find_deviations.py
Due: mypy

Merge branch 'main' into QSCCD-1443.AG.update_patient_deviations_command
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/health_data/api/views.py
  opal/health_data/tests/test_drf_views.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
Due: mypy

Merge branch 'main' into QSCCD-1443.AG.update_patient_deviations_command
  opal/conftest.py
  opal/databank/api/serializers.py
  opal/databank/api/tests/test_api_views.py
  opal/databank/api/views.py
  opal/databank/models.py
  opal/databank/tests/test_models.py
Due: mypy

chore: remove formtools
  config/settings/base.py
  requirements/base.txt
Due: mypy

Apply 1 suggestion(s) to 1 file(s)
  config/settings/base.py
Due: mypy

refactor: rename CustomDjangoModelPermissions to FullDjangoModelPermissions
  opal/core/drf_permissions.py
  opal/core/tests/test_drf_permissions.py
  opal/patients/api/views.py
  opal/users/api/views.py
  opal/users/api/viewsets.py
Due: mypy

fix settings
  config/settings/base.py
Due: mypy

improve tests
  opal/core/tests/test_drf_permissions.py
Due: mypy

fix docs
  README.md
  docs/architecture.md
  docs/authentication.md
Due: none

chore: add missing type stubs
  requirements/development.txt
  setup.cfg
Due: none

fix version
  requirements/development.txt
Due: none

fix patient views
  opal/patients/views.py
  opal/services/reports.py
Due: mypy

fix rest
  opal/health_data/utils.py
  opal/hospital_settings/tests/test_views.py
Due: mypy

improve
  opal/caregivers/api/mixins/put_as_create.py
  opal/core/tests/test_drf_permissions.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/questionnaires/views.py
Due: mypy

test settings
  config/settings/base.py
Due: mypy

fix DRF generics
  config/settings/base.py
  pytest.ini
Due: mypy

improvements
  opal/patients/api/serializers.py
  opal/services/data_processing/deidentification.py
Due: mypy
