Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

fix: fix the issues following the code review
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

fix: fix the test functions and refactor the function for checking self role to get relationship type queryset
  opal/patients/forms.py
  opal/patients/managers.py
  opal/patients/tests/test_forms.py
  opal/patients/utils.py
Due: mypy

fix: adjust the related test functions
  opal/patients/tests/test_forms.py
Due: mypy

fix: adjust test function for forms to improve the test coverage
  opal/patients/tests/test_forms.py
Due: mypy

fix: remove unnecessary field value initial and related function
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

Merge branch 'main' into QSCCD-977.RM.make-relationship-editable
  requirements/development.txt
Due: none

fix: assign the value to patient data only when no errors found in response data
  opal/services/hospital/hospital.py
Due: mypy

feat: find closest appointment for any of the patients in the user`s care
  opal/legacy/api/views/app_home.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/patients/managers.py
Due: mypy

Merge branch 'main' into QSCCD-1014.AG.app-home-endpoint-with-closest-appointment
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
Due: mypy

fix: use status=Open to filter appointments
  opal/legacy/managers.py
Due: mypy

test: update unit tests
  opal/legacy/api/views/tests/test_app_home.py
Due: mypy

fix: use timezone.now() for filtering
  opal/legacy/managers.py
Due: mypy

fix: use timezone.localtime() for comparison
  opal/legacy/managers.py
Due: mypy

feat: suggest to make filters as label, fixed the sorting
  opal/core/form_layouts.py
  opal/patients/templates/patients/relationships/pending_relationship_list.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

feat: remove ManageSearchUpdateView, and used pending
  opal/patients/urls.py
Due: mypy

feat: update the UI of the edit template for the edit relationship
  opal/patients/templates/patients/relationships/edit_relationships.html
Due: check-form-novalidate

feat: add url link to the new readonly view for pending request access for expired status
  opal/patients/urls.py
Due: mypy

fix: fix all older tests related to filters
  opal/patients/tests/test_models.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
Due: mypy

i18n: fix translations
  locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

i18n: fix translation remove fuzzy
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: fix failing tests due to the changes in the caregiver access page
  opal/patients/tests/test_views.py
Due: mypy

i18n: fix translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: fix the test that failed due to the addition of firstname and lastname of user to the relationship form
  opal/patients/tests/test_forms.py
Due: mypy

fix: put the delete button in single line for coverage
  opal/templates/tables/action_column.html
Due: check-form-novalidate

feat: add more tests to enhance coverage for test_views for relationship pending
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

fix: add more tests to ManageCaregiverAccessFilter to increase coverage
  opal/patients/tests/test_forms.py
Due: mypy

fix: enhance test coverage for templates edit_relationships
  opal/patients/tests/test_views.py
Due: mypy

i18n: fix translation error
  locale/fr/LC_MESSAGES/django.po
Due: none

fix: fix translation and remove relationship_filter.html file
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/relationships/relationship_filter.html
  opal/templates/sidebar.html
Due: check-form-novalidate

fix: enhance code as per code review
  opal/patients/tables.py
Due: mypy

fix: add translation string to days
  opal/patients/tables.py
Due: mypy

fix: fix failing test due to CODE:MRN changed to CODE-MRN
  opal/patients/tests/test_views.py
Due: mypy

fix: add proper typing to the return of the function get_context_data as per code review
  opal/patients/views.py
Due: mypy

fix: add typing as per code review
  opal/patients/views.py
Due: mypy

fix: remove typing as it causes mypy error
  opal/patients/views.py
Due: mypy

feat: add to changelog
  CHANGELOG.md
Due: none

Merge branch 'main' of gitlab.com:opalmedapps/backend into unified-manage-caregivers
  opal/patients/api/tests/test_api_views.py
  opal/patients/tests/test_forms.py
  opal/services/hospital/tests/test_hospital.py
Due: mypy

fix: update doscting
  opal/patients/filters.py
Due: mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

