Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

test deps fix the test function names
  opal/caregivers/tests/test_models.py
Due: mypy

test deps fix test function name
  opal/caregivers/tests/test_models.py
Due: mypy

Merge branch 'main' of https://gitlab.com/opalmedapps/backend into qsccd-163
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/core/auth.py
  opal/core/tests/test_auth.py
  opal/hospital_settings/api/serializers.py
  opal/hospital_settings/factories.py
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/migrations/0006_add_gps_location.py
  opal/hospital_settings/models.py
  opal/hospital_settings/templates/hospital_settings/site/site_detail.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/hospital_settings/tests/test_forms.py
  opal/hospital_settings/tests/test_views.py
  opal/hospital_settings/views.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: check-form-novalidate, mypy

Merge remote-tracking branch 'origin/main' into qsccd-163
  CHANGELOG.md
  docs/legacy_db.md
  locale/fr/LC_MESSAGES/django.po
  opal/conftest.py
  opal/core/api_urls.py
  opal/legacy/api/__init__.py
  opal/legacy/api/serializers.py
  opal/legacy/api/views.py
  opal/legacy/factories.py
  opal/legacy/models.py
  opal/legacy/tests/conftest.py
  opal/legacy/tests/test_models.py
  opal/legacy/tests/test_utils.py
  opal/legacy/tests/test_views.py
  opal/legacy/utils.py
  opal/patients/factories.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tables.py
  opal/patients/templates/patients/relationship_type/confirm_delete.html
  opal/patients/templates/patients/relationship_type/form.html
  opal/patients/templates/patients/relationship_type/list.html
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/layouts/base.html
  opal/templates/tables/action_column.html
  opal/urls.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  setup.cfg
Due: check-form-novalidate, mypy

chore(deps): update dependency django-environ to v0.9.0
  requirements/base.txt
Due: none

chore(i18n): Update translation files
  locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: Set unusable password for fed auth users
  opal/core/auth.py
  opal/core/tests/test_auth.py
Due: mypy

test deps add model related test functions docs deps add model related translation
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/migrations/0002_securityquestion.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
Due: mypy

feat deps fix the MR according to the diagram
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/factories.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/migrations/0002_securityquestion.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/caregivers/translation.py
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: mypy

feat deps fix translation issue
  opal/caregivers/translation.py
Due: mypy

feat deps fix the model and test functions according to the translation
  opal/caregivers/factories.py
  opal/caregivers/migrations/0002_securityquestion.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
Due: mypy

feat deps fix translation file
  opal/caregivers/translation.py
Due: mypy

bug deps fix typo error
  opal/caregivers/translation.py
Due: mypy

feat deps fix po file translate
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

feat deps fix the field name for SecurityAnswer
  opal/caregivers/factories.py
  opal/caregivers/migrations/0002_securityquestion.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
Due: mypy

feat deps fix the MR according to the comments
  opal/caregivers/factories.py
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
  opal/caregivers/migrations/0002_securityquestion.py
  opal/caregivers/models.py
  opal/caregivers/tests/test_models.py
  opal/caregivers/translation.py
Due: mypy

docs deps Revert the change for local po file
  locale/fr/LC_MESSAGES/django.po
Due: none

feat deps refactor the code of models
  opal/caregivers/models.py
Due: mypy

chore(deps): update dependency django-filter to v22
  requirements/base.txt
Due: none

chore(deps): update dependency mysqlclient to v2.1.1
  requirements/base.txt
Due: none

feat: Step one site selection in multiform wizard
  opal/patients/forms.py
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/templates/patients/access_request/test_qr_code.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/layouts/base.html
  requirements/base.txt
  setup.cfg
Due: check-form-novalidate, mypy

fix: fix some typos
  opal/patients/tests/test_forms.py
Due: mypy

feat: build the first step "select hospital site" in multiform wizard.
  opal/patients/forms.py
  opal/patients/templates/patients/wizard_forms/wizard_forms.html
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/layouts/base.html
  requirements/base.txt
  requirements/development.txt
Due: check-form-novalidate, mypy

test: test functions for Urls, Views and Forms.
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
Due: mypy

fix： fix the issues to the code review
  opal/patients/forms.py
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/templates/patients/access_request/test_qr_code.html
  opal/patients/templates/patients/wizard_forms/wizard_forms.html
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/templates/layouts/base.html
  requirements/development.txt
Due: check-form-novalidate, mypy

refactor: new adjustment to the code review
  opal/patients/static/qr_image/testqr.svg
  opal/patients/templates/patients/access_request/test_qr_code.html
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
Due: check-form-novalidate, mypy

fix： Adjustment to the code reviews
  opal/patients/forms.py
  opal/patients/static/qr_image/testqr.svg
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/templates/patients/access_request/test_qr_code.html
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  requirements/base.txt
  setup.cfg
Due: check-form-novalidate, mypy

fix: remove 2 unnecessary tests.
  opal/patients/tests/test_views.py
Due: mypy

chore(deps): update dependency django-easy-audit to v1.3.3
  requirements/base.txt
Due: none

fix: Change User.language to use project's settings
  opal/users/migrations/0005_user_language_settings.py
  opal/users/models.py
Due: mypy

refactor: Switch to django-tables2 for institution and site
  opal/hospital_settings/tables.py
  opal/hospital_settings/templates/hospital_settings/institution/institution_form.html
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/templates/hospital_settings/site/site_form.html
  opal/hospital_settings/templates/hospital_settings/site/site_list.html
  opal/hospital_settings/tests/test_urls.py
  opal/hospital_settings/tests/test_views.py
  opal/hospital_settings/urls.py
  opal/hospital_settings/views.py
  opal/patients/tables.py
  opal/static/css/main.css
Due: check-form-novalidate, mypy

fix: MappingProxy type causes error in table
  opal/hospital_settings/tables.py
  setup.cfg
Due: mypy

docs: Starts list of best practices
  docs/apps/structure.md
Due: none

docs: Address comments
  docs/apps/structure.md
  docs/architecture.md
Due: none

docs: Add link to Django tutorial
  docs/architecture.md
Due: none

chore(deps): update dependency mkdocs-gen-files to v0.3.5
  requirements/docs.txt
Due: none

feat: Adding crispy form for the Institution model. Adding unit tests
  opal/core/context_processors.py
  opal/core/tests/test_context_processors.py
  opal/hospital_settings/factories.py
  opal/hospital_settings/forms.py
  opal/hospital_settings/templates/hospital_settings/institution/institution_form.html
  opal/hospital_settings/tests/test_forms.py
  opal/hospital_settings/tests/test_views.py
  opal/hospital_settings/views.py
Due: check-form-novalidate, mypy

docs: updated CHANGELOG
  CHANGELOG.md
Due: none
