Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

update all uses
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
Due: mypy

update all uses
  opal/core/tests/test_drf_permissions.py
Due: mypy

remove more uses
  opal/patients/tests/test_views.py
Due: mypy

WIP: first version
  opal/core/management/commands/insert_test_data.py
Due: mypy

add missing init files
  opal/core/management/__init__.py
  opal/core/management/commands/__init__.py
Due: mypy

add lachine hospital
  opal/core/management/commands/insert_test_data.py
Due: mypy

add functions to determine date of birth and RAMQ
  opal/core/management/commands/insert_test_data.py
Due: mypy

add missing files
  opal/core/management/commands/files/logo.png
  opal/core/management/commands/files/terms_of_use.pdf
Due: none

chore: enable git lfs for various files
  .gitattributes
  opal/static/css/fonts/ProximaNovaSoft-Regular.eot
  opal/static/css/fonts/ProximaNovaSoft-Regular.otf
  opal/static/css/fonts/ProximaNovaSoft-Regular.svg
  opal/static/css/fonts/ProximaNovaSoft-Regular.ttf
  opal/static/css/fonts/ProximaNovaSoft-Regular.woff
  opal/static/images/opal_logo_transparent.png
  opal/static/images/opal_logo_transparent_purple.png
  opal/static/plugins/adminlte/css/adminlte.min.css
  opal/static/plugins/adminlte/css/adminlte.min.css.map
  opal/static/plugins/adminlte/js/adminlte.min.js
  opal/static/plugins/adminlte/js/adminlte.min.js.map
  opal/static/plugins/bootstrap/js/bootstrap.bundle.min.js
  opal/static/plugins/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/plugins/fontawesome-free/css/all.min.css
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-brands-400.woff2
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-regular-400.woff2
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.eot
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.svg
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.ttf
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.woff
  opal/static/plugins/fontawesome-free/webfonts/fa-solid-900.woff2
  opal/static/plugins/jquery/jquery.min.js
  opal/static/plugins/jquery/jquery.min.js.map
  opal/static/plugins/jquery/jquery.min.map
  opal/tests/fixtures/test_PDF.pdf
  opal/tests/fixtures/test_logo.png
Due: none

test ci
  .gitlab-ci.yml
Due: none

restrict check to po files
  .gitlab-ci.yml
Due: none

track test SQL files
  .gitattributes
  opal/tests/sql/test_QuestionnaireDB.sql
Due: none

add before_script back
  .gitlab-ci.yml
Due: none

ci: improve dependencies
  .gitlab-ci.yml
Due: none

docs: add image use to README
  README.md
Due: none

refactor: move table styles into settings
  opal/hospital_settings/tables.py
  opal/patients/tables.py
  opal/questionnaires/tables.py
  opal/settings.py
Due: mypy

switch to crispy template pack for bootstrap5
  opal/settings.py
  requirements/base.txt
Due: mypy

add base template and slippers
  opal/settings.py
  opal/static/images/opal_purple.png
  requirements/base.txt
Due: mypy

add base template
  opal/templates/base.html
  opal/templates/components.yaml
  opal/templates/components/menu_group.html
  opal/templates/components/menu_item.html
  opal/templates/sidebar.html
Due: check-form-novalidate

add icon component
  opal/templates/components.yaml
  opal/templates/components/icon.html
  opal/templates/sidebar.html
Due: check-form-novalidate

use icon button
  opal/templates/components.yaml
  opal/templates/components/icon.html
  opal/templates/components/icon_button.html
  opal/templates/tables/action_column.html
Due: check-form-novalidate

use new context processor
  opal/settings.py
Due: mypy

remove image preview
  opal/hospital_settings/forms.py
Due: mypy

fix css margin class
  opal/core/form_layouts.py
Due: mypy

fix action column
  opal/templates/tables/action_column.html
Due: check-form-novalidate

add messages
  locale/fr/LC_MESSAGES/django.po
Due: none

add visual content area
  opal/templates/base.html
Due: check-form-novalidate

add test
  opal/core/tests/test_views.py
  opal/hospital_settings/templates/hospital_settings/index.html
Due: check-form-novalidate, mypy

fix tests
  opal/core/tests/test_views.py
  opal/hospital_settings/tests/test_views.py
  opal/patients/tests/test_views.py
  opal/questionnaires/tests/test_views.py
  opal/templates/sidebar.html
Due: check-form-novalidate, mypy

fix yet another test
  opal/patients/tests/test_views.py
Due: mypy

fix translations
  locale/fr/LC_MESSAGES/django.po
Due: none

fix: update the error message when searching the deceased patient
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_views.py
  opal/patients/views.py
Due: mypy

fix: update translation string following the code review
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

Fix merge conflicts and update the branch from main
  opal/core/tests/test_views.py
  opal/core/views.py
  opal/hospital_settings/forms.py
  opal/hospital_settings/views.py
  opal/legacy/managers.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/management/commands/expire_relationships.py
  opal/patients/managers.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_data.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_data.py
  opal/settings.py
  opal/users/models.py
Due: mypy

Fix conflicts and merge branch 'main' into QSCCD-933.SF.update-error-message-when-searching-a-deceased-patient
  opal/core/auth.py
  opal/core/tests/test_auth.py
  opal/hospital_settings/tables.py
  opal/patients/tables.py
  opal/questionnaires/tables.py
  opal/services/reports.py
  opal/services/tests/test_reports.py
  opal/settings.py
Due: mypy

feat: add context processor to provide the current app's verbose_name
  opal/core/context_processors.py
  opal/core/tests/test_context_processors.py
Due: mypy

remove print statements
  opal/core/context_processors.py
Due: mypy

Fix incorrect docstring
  opal/core/tests/test_context_processors.py
Due: mypy

fix: fix the QR code not displaying issue
  opal/patients/templates/patients/access_request/qr_code.html
  opal/patients/views.py
Due: check-form-novalidate, mypy

Merge branch 'main' into QSCCD-939.SF.fix-qr-code-not-displaying-on-page
  opal/core/auth.py
  opal/core/tests/test_auth.py
  opal/hospital_settings/tables.py
  opal/patients/tables.py
  opal/questionnaires/tables.py
  opal/services/reports.py
  opal/services/tests/test_reports.py
  opal/settings.py
Due: mypy
