Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

test: add lots of tests
  opal/health_data/migrations/0001_initial.py
  opal/health_data/models.py
  opal/health_data/tests/__init__.py
  opal/health_data/tests/test_models.py
  opal/legacy/tests/test_commands.py
  opal/patients/factories.py
  opal/patients/tests/test_models.py
Due: mypy

i18n: add translation file
  opal/health_data/locale/fr/LC_MESSAGES/django.po
Due: none

fix: add missing factory
  opal/health_data/factories.py
Due: mypy

style: fix violations
  opal/health_data/tests/test_models.py
Due: mypy

refactor: add Meta inheritance
  opal/health_data/migrations/0001_initial.py
  opal/health_data/models.py
Due: mypy

test: cover admin module
  opal/health_data/admin.py
  opal/health_data/tests/test_admin.py
  setup.cfg
Due: mypy

Merge remote-tracking branch 'origin/main' into QSCCD-708-health-data-app
  .env.sample
  CHANGELOG.md
  locale/fr/LC_MESSAGES/django.po
  opal/conftest.py
  opal/core/tests/test_utils.py
  opal/core/utils.py
  opal/core/validators.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/constants.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/templates/patients/access_request/qr_code.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/layouts/base.html
  requirements/base.txt
  requirements/development.txt
  setup.cfg
Due: check-form-novalidate, mypy

test: add tests for save()
  opal/health_data/tests/test_models.py
Due: mypy

test: add test for signal
  opal/health_data/tests/test_models.py
Due: mypy

Merge remote-tracking branch 'origin/main' into QSCCD-708-health-data-app
  .gitattributes
  opal/caregivers/tests/test_apiviews.py
  opal/caregivers/tests/test_managers.py
  opal/core/drf_permissions.py
  opal/core/tests/test_drf_permissions.py
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
  opal/patients/admin.py
  opal/patients/api/serializers.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/api/views.py
  opal/patients/factories.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/migrations/0013_relationshiptype_role.py
  opal/patients/migrations/0014_prepopulate_relationshiptype.py
  opal/patients/migrations/0015_hospitalpatient_unique_patient_site.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/tests/test_admin.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  pytest.ini
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  scripts/cron/crontab
  setup.cfg
Due: mypy

refactor: simplify model
  opal/health_data/admin.py
  opal/health_data/factories.py
  opal/health_data/migrations/0001_initial.py
  opal/health_data/models.py
  opal/health_data/tests/test_models.py
Due: mypy

i18n: fix translation file
  opal/health_data/locale/fr/LC_MESSAGES/django.po
Due: none

Merge remote-tracking branch 'origin/main' into QSCCD-708-health-data-app
  .gitlab-ci.yml
  Dockerfile
  README.md
  opal/patients/conftest.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0016_add_manage_relationshiptype_permission.py
  opal/patients/models.py
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/templates/layouts/base.html
  setup.cfg
Due: check-form-novalidate, mypy

fix: remove OIE hardcoded ports
  opal/legacy/api/views/questionnaires_report.py
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_validation.py
Due: mypy

fix: update unit tests
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/services/hospital/tests/test_hospital.py
Due: mypy

Merge branch 'main' into QSCCD-767.AG.remove-OIE-hardcoded-ports
  .env.sample
  CHANGELOG.md
  locale/fr/LC_MESSAGES/django.po
  opal/conftest.py
  opal/core/tests/test_utils.py
  opal/core/utils.py
  opal/core/validators.py
  opal/legacy/management/commands/migrate_users.py
  opal/legacy/tests/test_commands.py
  opal/patients/admin.py
  opal/patients/constants.py
  opal/patients/factories.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/managers.py
  opal/patients/migrations/0013_relationshiptype_role.py
  opal/patients/migrations/0014_prepopulate_relationshiptype.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/templates/patients/access_request/access_request.html
  opal/patients/templates/patients/access_request/qr_code.html
  opal/patients/tests/test_admin.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_urls.py
  opal/patients/tests/test_views.py
  opal/patients/urls.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/layouts/base.html
  pytest.ini
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  scripts/cron/crontab
  setup.cfg
Due: check-form-novalidate, mypy

chore(deps): update dependency types-python-dateutil to v2.8.19.5
  requirements/development.txt
Due: none

chore(deps): update dependency django-formtools to v2.4
  requirements/base.txt
Due: none

fix: isort
  opal/patients/api/tests/test_api_views.py
Due: mypy

remove duplicate model field and add future enhancement comment to dry_permissions
  opal/core/drf_permissions.py
  opal/patients/models.py
Due: mypy

fix: ensure a patient can only have one HospitalPatient instance at a specific site
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

add missing migration file
  opal/patients/migrations/0015_hospitalpatient_unique_patient_site.py
Due: mypy

fix: report error when migrationg patient with multiple MRNs at the same site
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/tests/test_commands.py
Due: mypy

remove erring MAILTO comment line causing docker crash
  scripts/cron/crontab
Due: none

remove line 1
  scripts/cron/crontab
Due: none

add crontab LF line endings to .gitattributes
  .gitattributes
  scripts/cron/crontab
Due: none

Merge branch 'KA.crontab-quick-fix' of https://gitlab.com/opalmedapps/backend into KA.crontab-quick-fix
  opal/caregivers/tests/test_apiviews.py
  opal/caregivers/tests/test_managers.py
  opal/patients/api/serializers.py
  opal/patients/managers.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

chore(deps): update dependency pandas to v1.5.3
  requirements/base.txt
Due: none

feat: add API endpoint to create new quantity samples
  opal/conftest.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
  opal/health_data/api/__init__.py
  opal/health_data/api/serializers.py
  opal/health_data/api/views.py
  opal/health_data/tests/test_drf_views.py
Due: mypy

style: remove cross-reference for DRF class
  opal/conftest.py
Due: mypy

Merge remote-tracking branch 'origin/main' into QSCCD-708-health-data-api
  opal/health_data/migrations/0002_quantitysample_patient_foreignkey.py
  opal/health_data/models.py
  opal/health_data/tests/test_models.py
  opal/patients/tables.py
  requirements/development.txt
Due: mypy

refactor: improve setting many=True and remove get_queryset
  opal/health_data/api/views.py
Due: mypy

style: type ModelSerializer
  opal/health_data/api/serializers.py
Due: mypy

refactor: add patient field with default
  opal/health_data/api/serializers.py
Due: mypy

feat: modify search patient functions by adding two new fields
  opal/patients/tests/test_views.py
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_data.py
  opal/services/hospital/tests/test_hospital.py
  opal/services/hospital/tests/test_hospital_data.py
Due: mypy

Merge branch 'main' into QSCCD-758.SF.read-patient-deceased-information
  opal/health_data/migrations/0002_quantitysample_patient_foreignkey.py
  opal/health_data/models.py
  opal/health_data/tests/test_models.py
  opal/patients/constants.py
  opal/patients/filters.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tables.py
  opal/patients/templates/patients/relationships-search/relationship_filter.html
  opal/patients/tests/test_views.py
  opal/patients/views.py
  opal/templates/tables/edit_pencil_icon.html
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, mypy

fix: change patient reference to foreign key to support multiple samples per patient
  opal/health_data/migrations/0002_quantitysample_patient_foreignkey.py
  opal/health_data/models.py
  opal/health_data/tests/test_models.py
Due: mypy

test: verify count
  opal/health_data/tests/test_models.py
Due: mypy

test
  opal/health_data/tests/test_models.py
Due: mypy
