Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (C) 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

exclude: |
  (?x)(
    ^(
      \.vscode/launch\.json
      |manage\.py
      |opal/static/thirdparty/.*/.*
    )
  )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--unsafe']
  - id: name-tests-test
    args: ['--django']
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
# https://docs.astral.sh/ruff/integrations/#pre-commit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    # Run the linter with fixes
    - id: ruff
      args: [--fix]
#     # Run the formatter
    - id: ruff-format
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.17.2
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # desired Python version needs to be set explicitly
    # see: https://github.com/asottile/pyupgrade/issues/768
    args: ['--py311-plus']
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.1
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]
# use local virtual env for flake8 and mypy to reuse the same configuration (and dependencies)
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: please provide a descriptive name for migrations
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
  - id: check-form-novalidate
    name: check form for novalidate attribute
    description: 'Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation'
    language: pygrep
    types: [html]
    exclude: |
      (?x)(
          opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
      )
    # derived from this answer: https://stackoverflow.com/a/17204198
    entry: |
      <form(?=\s|>)(?!(?:[^>=]|=(['"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  - id: mypy
    name: mypy
    description: static type checking
    entry: mypy
    args: ["--config-file=setup.cfg"]
    language: python
    types: [python]

fix fix testing data
  opal/core/management/commands/insert_test_data.py
Due: mypy

fix fix annotation
  opal/core/management/commands/insert_test_data.py
Due: mypy

Merge branch 'main' into QSCCD-741.LL.code-to-acronym
  opal/services/reports.py
  opal/test_results/api/tests/test_api_views.py
  opal/test_results/tests/test_utils.py
  opal/test_results/utils.py
Due: mypy

fix fix the new test functions
  opal/test_results/api/tests/test_api_views.py
  opal/test_results/tests/test_utils.py
  opal/test_results/utils.py
Due: mypy

fix fix the serializer and related test function
  opal/caregivers/api/serializers.py
  opal/patients/api/tests/test_api_views.py
Due: mypy

Merge branch 'main' into QSCCD-741.LL.code-to-acronym
  opal/test_results/tests/test_utils.py
  opal/test_results/utils.py
Due: mypy

feat: add tests to deactivate users
  opal/users/tests/test_drf_urls.py
  opal/users/tests/test_drf_viewsets.py
Due: mypy

i18n: fix translations
  opal/users/locale/fr/LC_MESSAGES/django.po
Due: none

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-1505_subticket_1693_create_deactivate_action
  opal/caregivers/api/mixins/__init__.py
  opal/caregivers/api/views.py
  opal/core/api/mixins.py
  opal/core/constants.py
  opal/core/drf_permissions.py
  opal/core/forms/layouts.py
  opal/core/management/commands/initialize_data.py
  opal/core/templates/forms/radioselect_tabs.html
  opal/core/tests/test_commands.py
  opal/core/tests/test_drf_permissions.py
  opal/patients/forms.py
  requirements/base.txt
  requirements/development.txt
Due: check-form-novalidate, mypy

fix: fix message to start with capital letter
  opal/users/api/viewsets.py
  opal/users/tests/test_drf_viewsets.py
Due: mypy

refactor: move tab radio select to core app
  opal/core/forms/layouts.py
  opal/core/templates/forms/radioselect_tabs.html
  opal/patients/forms.py
Due: check-form-novalidate, mypy

build(deps): update docker docker tag to v24.0.7
  .gitlab-ci.yml
Due: none

chore(deps): update dependency pandas to v2.1.2
  requirements/base.txt
Due: none

fix: add legacy_id and reason to update UUID command
  opal/legacy/management/commands/update_orms_patients.py
Due: mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/legacy/management/commands/update_orms_patients.py
Due: mypy

feat: add delay fields to patient model
  opal/core/models.py
  opal/hospital_settings/models.py
  opal/patients/api/serializers.py
  opal/patients/factories.py
  opal/patients/migrations/0025_add_lab_result_delay_fields.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

fix： adjust translation strings to fix the pipeline issue
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/locale/fr/LC_MESSAGES/django.po
Due: none

Merge branch 'main' into QSCCD-1489.SF.add-delay-fields-to-patient-model
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/management/commands/update_orms_patients.py
  opal/legacy/tests/test_commands.py
  opal/users/api/viewsets.py
  opal/users/locale/fr/LC_MESSAGES/django.po
  opal/users/tests/test_drf_urls.py
  opal/users/tests/test_drf_viewsets.py
Due: mypy

fix: fix the issues following the code review
  opal/core/models.py
  opal/hospital_settings/models.py
  opal/patients/factories.py
  opal/patients/models.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
Due: mypy

Merge branch 'main' into QSCCD-1489.SF.add-delay-fields-to-patient-model
  opal/conftest.py
  opal/core/api_urls.py
  opal/core/templates/forms/radioselect.html
  opal/core/tests/test_api_urls.py
  opal/databank/api/serializers.py
  opal/databank/api/tests/test_api_views.py
  opal/databank/api/views.py
  opal/databank/models.py
  opal/databank/tests/test_models.py
  opal/health_data/api/views.py
  opal/health_data/tests/test_drf_views.py
  opal/legacy/factories.py
  opal/legacy/management/commands/find_deviations.py
  opal/legacy/management/commands/find_patients_deviations.py
  opal/legacy/tests/test_commands.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
  opal/users/factories.py
Due: check-form-novalidate, mypy

Merge branch 'main' into QSCCD-1489.SF.add-delay-fields-to-patient-model
  .gitlab-ci.yml
  opal/core/tests/test_auth.py
  opal/patients/models.py
  opal/users/admin.py
  opal/users/tests/test_admin.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: mypy

update dbConsent API to accept required guid fields
  opal/conftest.py
  opal/databank/api/serializers.py
  opal/databank/api/views.py
  opal/databank/models.py
  opal/databank/tests/test_models.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/tests/test_managers.py
  setup.cfg
Due: mypy

add unit tests for api behaviour
  opal/databank/api/serializers.py
  opal/databank/api/tests/test_api_views.py
  opal/databank/factories.py
  opal/databank/tests/test_models.py
  opal/legacy_questionnaires/factories.py
Due: mypy

Merge branch 'main' into QSCCD-1595.KA.populate-guid-databank-consent
  opal/caregivers/api/mixins/__init__.py
  opal/caregivers/api/views.py
  opal/core/api/mixins.py
  opal/core/constants.py
  opal/core/drf_permissions.py
  opal/core/forms/layouts.py
  opal/core/management/commands/initialize_data.py
  opal/core/templates/forms/radioselect_tabs.html
  opal/core/tests/test_commands.py
  opal/core/tests/test_drf_permissions.py
  opal/patients/forms.py
  requirements/base.txt
  requirements/development.txt
Due: check-form-novalidate, mypy

minor refactors
  opal/conftest.py
  opal/databank/api/tests/test_api_views.py
  opal/databank/api/views.py
  setup.cfg
Due: mypy

use consent questionnaire fixture and remove non model fields in api view
  opal/conftest.py
  opal/databank/api/serializers.py
  opal/databank/api/tests/test_api_views.py
  opal/databank/api/views.py
Due: mypy

remove read only patient
  opal/databank/api/serializers.py
Due: mypy

feat: migrate patient date of death
  opal/legacy/factories.py
  opal/legacy/management/commands/migrate_patients.py
  opal/legacy/tests/test_commands.py
Due: mypy

fix fix the test function
  opal/legacy/factories.py
  opal/legacy/tests/test_commands.py
Due: mypy

Merge branch 'main' into QSCCD-1696.LL.migrate-deceased-patient
  opal/legacy/management/commands/update_orms_patients.py
  opal/users/api/viewsets.py
  opal/users/locale/fr/LC_MESSAGES/django.po
  opal/users/tests/test_drf_urls.py
  opal/users/tests/test_drf_viewsets.py
Due: mypy

fix comment
  opal/patients/tests/test_forms.py
Due: mypy

remove print lines
  opal/patients/forms.py
Due: mypy

fix translation
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
Due: mypy

Merge branch 'main' of https://gitlab.com/opalmedapps/backend into QSCCD-1626.DZY.new-access-request-validator+patient-pair-is-unique
  opal/core/constants.py
  opal/core/drf_permissions.py
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/core/tests/test_drf_permissions.py
  opal/users/api/viewsets.py
  opal/users/locale/fr/LC_MESSAGES/django.po
  opal/users/tests/test_drf_urls.py
  opal/users/tests/test_drf_viewsets.py
Due: mypy

code review
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: mypy

code review
  opal/patients/tests/test_forms.py
Due: mypy

code review
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
Due: mypy
