Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

remove trailing whitespace in CHANGELOG.md
  CHANGELOG.md
Due: none

modify patients test_models.py
  opal/patients/tests/test_models.py
Due: mypy

test: re-enable coverage report in pipeline
  .gitlab-ci.yml
Due: none

test: minor fixes
  opal/questionnaires/tests/test_urls.py
  opal/questionnaires/tests/test_views.py
Due: mypy

fix: query refactors, nits, minor changes
  .env.sample
  .gitignore
  opal/questionnaires/backend.py
  opal/questionnaires/tests/test_urls.py
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/urls.py
  opal/questionnaires/views.py
  opal/settings.py
  opal/templates/layouts/base.html
Due: check-form-novalidate, mypy

perf: refactor test_QuestionnaireDB to reduce runtime
  opal/questionnaires/views.py
  opal/tests/sql/test_QuestionnaireDB.sql
Due: mypy

refactor: requestor language
  opal/questionnaires/views.py
Due: mypy

refactor: make update query string function more re-usable
  opal/questionnaires/views.py
Due: mypy

refactor: move query string update func to core/audit
  opal/core/audit.py
  opal/questionnaires/views.py
Due: mypy

append query string
  opal/core/audit.py
Due: mypy

Remove unneeded title update
  opal/questionnaires/views.py
Due: mypy

test: add missing query string update tests
  opal/core/audit.py
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/views.py
Due: mypy

refactor: replace tempfiles with buffers and add tests
  opal/questionnaires/tests/test_views.py
  opal/questionnaires/views.py
Due: mypy

chore: treat warnings as errors by pytest
  pytest.ini
Due: none

fix: fix warnings
  opal/caregivers/api/viewsets.py
  opal/caregivers/factories.py
  opal/legacy/factories.py
Due: mypy

Changed endpoint for legacy general view to work with multiple patient request
  opal/legacy/api/views/app_general.py
  opal/legacy/api/views/tests/test_app_general.py
  opal/legacy/factories.py
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/legacy/tests/test_models.py
  opal/patients/managers.py
Due: mypy

Adjustment following code review
  opal/legacy/managers.py
  opal/legacy/models.py
  opal/patients/managers.py
Due: mypy

Adjustments following code review
  opal/patients/managers.py
Due: mypy

feat: create new page to collect new user name
  opal/patients/forms.py
  opal/patients/views.py
Due: mypy

fix: update test views functions and translation strings
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_views.py
Due: mypy

verify mypy violations
  opal/patients/tests/test_views.py
Due: mypy

fix: fix the mypy issues
  opal/patients/tests/test_views.py
Due: mypy

ci: add export of mypy output as code quality report
  .gitlab-ci.yml
Due: none

produce flake8 error
  docs/mock_django.py
Due: mypy

create long line violation
  opal/core/views.py
Due: mypy

ci: try to fix filepath of flake8 report
  .gitlab-ci.yml
Due: none

ci: fix flake8 job
  .gitlab-ci.yml
Due: none

ci: speed up jobs by not re-running linting tools
  .gitlab-ci.yml
Due: none

fix: fix empty file check for mypy
  .gitlab-ci.yml
Due: none

ci: add markdownlint to lint markdown files
  .gitlab-ci.yml
Due: none

docs: fix markdownlint errors
  .gitlab/merge_request_templates/Default.md
  docs/apps/questionnaires.md
  docs/changelog.md
  docs/database/migrations.md
  docs/index.md
  docs/standard_and_custom_permissions.md
Due: none

chore: disable MD052 in markdownlint config
  .markdownlint.yml
Due: none

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

