Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

update
  .env.sample
Due: none

refactor: improve form actions to support different children
  locale/fr/LC_MESSAGES/django.po
  opal/hospital_settings/templates/hospital_settings/site/site_form.html
  opal/patients/templates/patients/relationship_type/form.html
  opal/patients/templates/patients/relationships/view_relationship.html
  opal/templates/components/confirm_delete.html
  opal/templates/components/form_actions.html
  opal/templates/components/form_back.html
  opal/templates/components/form_cancel.html
Due: check-form-novalidate

remove done for now
  opal/templates/components/form_cancel.html
Due: check-form-novalidate

fix i18n
  locale/fr/LC_MESSAGES/django.po
Due: none

fix: add missing test data to insert_test_data
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
Due: mypy

fix emails
  opal/core/management/commands/insert_test_data.py
Due: mypy

Merge branch 'main' into KA.add-missing-test-data
  locale/fr/LC_MESSAGES/django.po
  opal/core/management/commands/initialize_data.py
  opal/core/tests/test_commands.py
  opal/core/tests/test_utils.py
  opal/core/utils.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/templates/patients/access_request/confirmation.html
  opal/patients/templates/patients/access_request/confirmation_code.html
  opal/patients/templates/patients/access_request/new_access_request.html
  opal/patients/templates/patients/access_request/qr_code.html
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_utils.py
  opal/patients/tests/test_views.py
  opal/patients/utils.py
  opal/patients/views.py
  opal/settings.py
  opal/templates/components/form_cancel.html
  opal/templates/components/form_submit.html
  requirements/development.txt
Due: check-form-novalidate, mypy

Merge branch 'main' into KA.add-missing-test-data
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  opal/patients/forms.py
  opal/templates/components/form_submit.html
Due: check-form-novalidate, mypy

fixes
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
Due: mypy

Merge branch 'main' into KA.add-missing-test-data
  requirements/development.txt
Due: none

fix: add missing quotes around button label
  opal/core/management/commands/insert_test_data.py
  opal/templates/components/form_submit.html
Due: check-form-novalidate, mypy

chore(deps): update dependency pandas to v2.0.2
  requirements/base.txt
Due: none

add tests for API
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_apiviews.py
  opal/core/tests/test_api_urls.py
Due: mypy

add translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

make migrations linear
  opal/patients/migrations/0023_patient_data_access.py
Due: mypy

add default to accesslevel field
  opal/legacy/models.py
Due: mypy

add French translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

improve caregiver profile API
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_apiviews.py
  opal/core/api_urls.py
  opal/core/tests/test_api_urls.py
Due: mypy

Apply 1 suggestion(s) to 1 file(s)
  opal/caregivers/api/views.py
Due: mypy

refactoring
  opal/patients/forms.py
Due: mypy

fix empty label and improve tests
  opal/patients/forms.py
  opal/patients/tests/test_forms.py
Due: mypy

i18n
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

fix: update legacy opal admin url
  opal/templates/sidebar.html
Due: check-form-novalidate

fix: update unit test
  opal/core/tests/test_views.py
Due: mypy

Merge branch 'main' into QSCCD-1222.AG.fix-back-to-legacy-opal-button
  requirements/base.txt
  requirements/docs.txt
Due: none

Merge branch 'main' into QSCCD-1222.AG.fix-back-to-legacy-opal-button
  requirements/development.txt
Due: none

Merge branch 'main' into QSCCD-1214.LL.email-for-registered
  opal/core/tests/test_views.py
  opal/templates/sidebar.html
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
Due: check-form-novalidate, mypy

feat deps fix translation
  locale/fr/LC_MESSAGES/django.po
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

fix deps add missing template
  opal/templates/email/registered_confirmation.html
  opal/templates/email/registered_confirmation.txt
Due: check-form-novalidate

fix deps fix translation
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

fix translation
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

fix refactor the code
  opal/caregivers/api/views.py
  opal/caregivers/tests/test_apiviews.py
Due: mypy

fix fix the translation
  opal/caregivers/locale/fr/LC_MESSAGES/django.po
Due: none

feat add EMAIL_FROM_REGISTRATION
  opal/caregivers/api/views.py
  opal/settings.py
Due: mypy

Merge branch 'main' into QSCCD-1214.LL.email-for-registered
  .env.sample
  opal/core/management/commands/insert_test_data.py
  opal/core/tests/test_commands.py
  opal/hospital_settings/api/viewsets.py
  opal/legacy/api/views/questionnaires_report.py
  opal/patients/constants.py
  opal/patients/filters.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_tables.py
  opal/patients/tests/test_utils.py
  opal/patients/tests/test_validators.py
  opal/patients/tests/test_views.py
  opal/patients/validators.py
  opal/patients/views.py
  opal/services/hospital/hospital.py
  opal/services/hospital/hospital_communication.py
  opal/services/hospital/hospital_validation.py
  opal/services/hospital/tests/test_hospital.py
  opal/settings.py
  requirements/base.txt
  requirements/development.txt
  setup.cfg
Due: mypy

fix refactor the code
  opal/caregivers/api/views.py
Due: mypy

Merge branch 'main' into QSCCD-1214.LL.email-for-registered
  opal/caregivers/admin.py
  opal/caregivers/api/serializers.py
  opal/core/forms/layouts.py
  opal/core/tests/test_form_layouts.py
  opal/databank/tests/test_models.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/legacy/factories.py
  opal/legacy/tests/test_commands.py
  opal/patients/api/tests/test_api_views.py
  opal/patients/factories.py
  opal/patients/filters.py
  opal/patients/forms.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tests/test_forms.py
  opal/patients/tests/test_models.py
  opal/patients/tests/test_utils.py
  opal/patients/utils.py
  opal/patients/views.py
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/settings.py
  opal/static/css/buttons.css
  opal/static/css/cards.css
  opal/static/css/forms.css
  opal/static/css/global.css
  opal/static/css/styles.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css
  opal/static/thirdparty/bootstrap/css/bootstrap.min.css.map
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js
  opal/static/thirdparty/bootstrap/js/bootstrap.bundle.min.js.map
  opal/static/thirdparty/package.json
  opal/static/thirdparty/unpoly/css/unpoly.min.css
  opal/static/thirdparty/unpoly/js/unpoly.min.js
  opal/templates/base.html
  opal/users/factories.py
Due: check-form-novalidate, mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

