Repository opalmedapps/opal-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-auto-migrations, check-form-novalidate, mypy

no-auto-migrations:
  name: no auto-named migrations
  entry: please provide a descriptive name for migrations
  language: fail

check-form-novalidate:
  name: check form for novalidate attribute
  description: Enforce that HTML forms have the novalidate attribute to disable browser validation and force Django form validation
  language: pygrep
  entry: '<form(?=\s|>)(?!(?:[^>=]|=([''"])(?:(?!\1).)*\1)*?\snovalidate)[^>]*>
  
    '

mypy:
  name: mypy
  description: static type checking
  entry: mypy
  args:
  - --config-file=setup.cfg
  language: python

remove extra space
  opal/static/js/query.js
Due: none

fix: pre-set end_date.value=maxdate always
  opal/static/js/query.js
Due: none

test: always move migration tests to end of test suite
  opal/conftest.py
  opal/hospital_settings/factories.py
  opal/patients/tests/test_models.py
  setup.cfg
Due: mypy

chore(deps): update dependency django to v3.2.18
  requirements/base.txt
Due: none

chore(deps): update dependency openpyxl to v3.1.1
  requirements/base.txt
Due: none

chore(deps): update dependency django-crispy-forms to v2
  requirements/base.txt
Due: none

fix: add crispy_bootstrap4 package to project settings
  opal/settings.py
  requirements/base.txt
Due: mypy

fix version and remove extra setting
  opal/settings.py
  requirements/base.txt
Due: mypy

chore: disallow type ignores without code
  opal/caregivers/factories.py
  opal/core/drf_permissions.py
  opal/legacy/tests/test_commands.py
  opal/patients/views.py
  opal/questionnaires/tests/test_views.py
  opal/services/hospital/tests/test_hospital_communication.py
  opal/services/hospital/tests/test_hospital_error.py
  opal/services/tests/test_reports.py
  opal/urls.py
  opal/utils/tests/test_base64.py
  setup.cfg
Due: mypy

fix: remove role type from relationship types table
  opal/patients/tables.py
Due: mypy

fix: use current year for copyright year
  locale/fr/LC_MESSAGES/django.po
  opal/templates/layouts/base.html
Due: check-form-novalidate

fix: remove browser validation from forms to enforce Django's form validation
  .pre-commit-config.yaml
  opal/hospital_settings/templates/hospital_settings/institution/institution_confirm_delete.html
  opal/hospital_settings/templates/hospital_settings/institution/institution_form.html
  opal/hospital_settings/templates/hospital_settings/site/site_confirm_delete.html
  opal/hospital_settings/templates/hospital_settings/site/site_form.html
  opal/patients/templates/patients/relationship_type/confirm_delete.html
  opal/patients/templates/patients/relationship_type/form.html
  opal/patients/templates/patients/relationships-search/relationship_filter.html
  opal/patients/templates/patients/relationships/pending/form.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-dashboard.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
Due: check-form-novalidate

enable client-side validation for report filter
  .pre-commit-config.yaml
  opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
Due: none

feat: add legacy_questionnaires app & dbrouter for QuestionnaireDB
  opal/conftest.py
  opal/core/dbrouters.py
  opal/legacy_questionnaires/__init__.py
  opal/legacy_questionnaires/apps.py
  opal/settings.py
  setup.cfg
Due: mypy

translations & tests
  opal/core/dbrouters.py
  opal/core/tests/test_dbrouters.py
  opal/legacy_questionnaires/locale/fr/LC_MESSAGES/django.po
Due: mypy

translation
  opal/legacy_questionnaires/locale/fr/LC_MESSAGES/django.po
Due: none

fix: validate that a patient can not have multiple self-relationships
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

i18n: fix
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

style: compact if statements
  opal/patients/models.py
Due: mypy

style: blacken code
  opal/patients/models.py
Due: mypy

update translations
  opal/patients/locale/fr/LC_MESSAGES/django.po
Due: none

Merge remote-tracking branch 'origin/main' into detect-multiple-self-relationships
  .env.sample
  .pre-commit-config.yaml
  opal/caregivers/factories.py
  opal/conftest.py
  opal/core/dbrouters.py
  opal/core/tests/test_dbrouters.py
  opal/hospital_settings/templates/hospital_settings/institution/institution_confirm_delete.html
  opal/hospital_settings/templates/hospital_settings/institution/institution_form.html
  opal/hospital_settings/templates/hospital_settings/site/site_confirm_delete.html
  opal/hospital_settings/templates/hospital_settings/site/site_form.html
  opal/legacy/api/views/tests/test_app_appointments.py
  opal/legacy/api/views/tests/test_app_home.py
  opal/legacy_questionnaires/__init__.py
  opal/legacy_questionnaires/apps.py
  opal/legacy_questionnaires/locale/fr/LC_MESSAGES/django.po
  opal/patients/admin.py
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/migrations/0014_prepopulate_relationshiptype.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/templates/patients/relationship_type/confirm_delete.html
  opal/patients/templates/patients/relationship_type/form.html
  opal/patients/templates/patients/relationships-search/relationship_filter.html
  opal/patients/templates/patients/relationships/pending/form.html
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
  opal/questionnaires/templates/questionnaires/export_reports/reports-dashboard.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-detail.html
  opal/questionnaires/templates/questionnaires/export_reports/reports-list.html
  opal/settings.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  setup.cfg
Due: check-form-novalidate, mypy

refactor: split words in enum
  opal/patients/admin.py
  opal/patients/migrations/0013_relationshiptype_role.py
  opal/patients/migrations/0014_prepopulate_relationshiptype.py
  opal/patients/models.py
  opal/patients/tables.py
  opal/patients/tests/test_migrations.py
  opal/patients/tests/test_models.py
Due: mypy

fix: ensure only one institution can be added
  opal/hospital_settings/admin.py
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/tests/test_admin.py
  opal/hospital_settings/tests/test_views.py
  opal/hospital_settings/views.py
Due: check-form-novalidate, mypy

revert re-ordering of enum literals
  opal/patients/models.py
Due: mypy

fix wording
  opal/patients/locale/fr/LC_MESSAGES/django.po
  opal/patients/models.py
  opal/patients/tests/test_models.py
Due: mypy

chore(deps): update dependency plotly to v5.13.1
  requirements/base.txt
Due: none

chore(deps): update dependency coverage to v7.2.1
  requirements/development.txt
Due: none

feat: command to expire outdated registration codes with respect to preset value in constants `Registration_Code_Expiry`
  opal/caregivers/constants.py
  opal/caregivers/management/__init__.py
  opal/caregivers/management/commands/__init__.py
  opal/caregivers/management/commands/expire_outdated_registration_codes.py
Due: mypy

Merge branch 'main' of gitlab.com:opalmedapps/backend into QSCCD-899_management_command_expired_reg_codes
  opal/patients/tables.py
Due: mypy

fix: remove unrelated file
  diagram.puml
Due: none

chore(deps): update dependency pre-commit to v3.1.1
  requirements/development.txt
Due: none

remove deprecated USE_I10N setting
  opal/settings.py
Due: mypy

test: add missing factory test for respondent and deftable
  opal/legacy_questionnaires/tests/test_models.py
Due: mypy

fix comment
  opal/legacy_questionnaires/models.py
Due: mypy

refactor: pdf reports improvements
  opal/legacy/api/serializers.py
  opal/legacy/api/views/questionnaires_report.py
  opal/legacy/api/views/tests/test_questionnaires_report.py
  opal/legacy/tests/test_serializers.py
  opal/patients/managers.py
  opal/patients/models.py
  opal/patients/tests/test_managers.py
  opal/services/reports.py
  opal/services/tests/test_reports.py
Due: mypy

refactor: remove duplicated code in tests
  opal/services/tests/test_reports.py
Due: mypy

Merge branch 'main' into QSCCD-751.AG.pdf-reports-improvements
  opal/conftest.py
  opal/hospital_settings/admin.py
  opal/hospital_settings/templates/hospital_settings/institution/institution_list.html
  opal/hospital_settings/tests/test_admin.py
  opal/hospital_settings/tests/test_views.py
  opal/hospital_settings/views.py
  opal/legacy/api/views/app_chart.py
  opal/legacy/api/views/tests/test_app_chart.py
  opal/legacy/conftest.py
  opal/legacy/managers.py
  opal/legacy_questionnaires/factories.py
  opal/legacy_questionnaires/managers.py
  opal/legacy_questionnaires/models.py
  opal/legacy_questionnaires/tests/__init__.py
  opal/legacy_questionnaires/tests/test_models.py
  opal/patients/tables.py
  opal/settings.py
  requirements/base.txt
  requirements/development.txt
  requirements/docs.txt
  requirements/production.txt
  setup.cfg
Due: check-form-novalidate, mypy

Path conditions:
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

  check-form-novalidate: any of: \.(html|htm|xhtml)$ and not ((?x)(
    opal/questionnaires/templates/questionnaires/export_reports/reports-filter.html
)
) and not ((?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)
)
  mypy: any of: \.py$, but not: (?x)(
  ^(
    \.vscode/launch\.json
    |manage\.py
    |opal/static/thirdparty/.*/.*
  )
)

